

	<div class="basket" id="basket_block">
    	<div class="basketin">Товаров: <span class="basko" id="basket_number">{$basket_number}</span><br /><div class="littletext">Количество товара можно изменить при оформлении заказа</div>Сумма: <span class="basko" id="basket_currency">{$basket_total|format_number}</span><br /><input type="image" src="{$template_image}basket_button.png" value="Оформить заказ" title="Оформить заказ" class="basketbutton" onClick="location = 'http://' + location.hostname + '/catalog/basket/';"></div>
        <a href="#" class="basketlink" id="basketlink"></a>
    </div>
