<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<title>{$page_title}</title>
<meta name="Keywords" content="{$meta_keywords}">
<meta name="Description" content="{$meta_description}">
{foreach from=$css item=css}
<link rel="stylesheet" type="text/css" href="{$css}">
{/foreach}
{foreach from=$js item=js}
<script src="{$js}" type="text/javascript"></script>
{/foreach}
</head>

<div id='loading-layer'><div>Кладем в корзину. Подождите...</div></div>
<div class="popImage"></div>

<body>
<!---- BASKET ---->
{include file="`$smarty.const.TPL_PATH`basket_block.html"}
<!---- /BASKET ---->

<!--------- TOPING --------->
<div class="topd">
<!---- TOPMENU ---->
{include file="`$smarty.const.TPL_PATH`top_menu.html"}
<!---- /TOPMENU ---->
    <div class="topdmain">
<!---- SEARCH ---->
{include file="`$smarty.const.TPL_PATH`top_search.html"}
<!---- /SEARCH ---->
    	<div class="littler">работаем c 9:00 до 21:00 &mdash; без выходных</div>
    	<div class="toptel">(495) 645-16-57</div>
    	<a href="{$base_url}/" title="SHOP-TOY &mdash; магазин детских игрушек"><img src="{$template_image}logo.png" class="logo" alt="SHOP-TOY &mdash; магазин детских игрушек" /></a>
    </div>
</div>
<!--------- /TOPING --------->

<!--------- CATLIST --------->
{include file="`$smarty.const.TPL_PATH`top_filter.html"}
<!--------- /CATLIST --------->

<!--------- MIDDLE --------->
<table class="middle">

<tr>
{if $product || $category || $brands}
<td class="middleside">
<!---- FILTER ---->
{include file="`$smarty.const.TPL_PATH`left_filter.html"}
<!---- /FILTER ---->
</td>
{/if}
<td class="maincolumn" id="maincontent">
	{if $content=='' or !$content}
		{assign var="content" value=""}
		{fetch file=$template assign="content"}
	{/if}
	{eval var=$content}
</td>
</tr>
</table>
<!--- /MIDDLE --->
<!--- BOTTOM --->
{include file="`$smarty.const.TPL_PATH`footer_menu.html"}
<!--- /BOTTOM --->
</body>
</html>












{*
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<title>{$page_title}</title>
<meta name="Keywords" content="{$meta_keywords}">
<meta name="Description" content="{$meta_description}">
{foreach from=$css item=css}
<link rel="stylesheet" type="text/css" href="{$css}">
{/foreach}
{foreach from=$js item=js}
<script src="{$js}" type="text/javascript"></script>
{/foreach}
</head>

<div id='loading-layer'><div>Кладем в корзину. Подождите...</div></div>
<div class="popImage"></div>

<body>
<!--- toping --->
<div class="topd">
	
	<div class="topt"><div class="toptel"><span class="kod">+7 (495)</span> 645-16-57</div><div class="littler">режим работы:  9:00 - 21:00  без выходных</div></div>

	{include file="`$smarty.const.TPL_PATH`basket_block.html"}

    <div class="tmenu">
    {include file="../templates/top_menu.html"}
    </div>

</div>
<!--- /toping --->
<!--- search --->
{include file="../templates/top_search.html"}
<!--- /search --->

<!--- special --->
{if $current_url == "home"}{include file="../templates/top_special_block.html"}{/if}
<!--- /special --->

<!--- middle --->
<table class="middle">
<tr>
<td class="lmenu">
{include file="../templates/left_catalog_menu.html"}
</td>
<td class="righter">
		
		{if $content=='' or !$content}
			{assign var="content" value=""}
			{fetch file=$template assign="content"}
		{/if}
		{eval var=$content}

</td>
</tr>
</table>
<!--- /middle --->
<!--- bottom --->
<div class="bottom"><br><br>

{include file="../templates/footer_menu.html"}
{include file="../templates/counters.html"}
</div>
<!--- /bottom --->

</body>
</html>
*}