
<div class="filter" url="{$base_url}/{if $category}{$category.full_url}{else}catalog{/if}/">
{if $categories}
<div class="filterinput checkboxing">
	Категория:<br />
	{foreach from=$categories item=item}
	<div><input type="checkbox" class="check" name="categories" {if $cats_filter && in_array($item.id,$cats_filter)}checked{/if} value="{$item.id}" id="cat{$item.id}"><label for="cat{$item.id}">{$item.name|strip_tags}</label></div>
	{/foreach}
</div>
{/if}
<div class="filterinput checkboxing">
	Бренд:<br />
	{if $brands}
	{foreach from=$brands item=item}
	<div><input type="checkbox" class="check" {if $brands_filter && in_array($item.id,$brands_filter)}checked{/if} name="brands" value="{$item.id}" id="brand{$item.id}"><label for="brand{$item.id}">{$item.name|strip_tags}</label></div>
	{/foreach}
	{/if}
</div>

<div class="filterinput fromto">
	Возраст:<br />
	<div><label class="notcheck">от</label><input type="text" name="age_start" value="{$filter_age_start}"><label class="notcheck">до</label><input name="age_end" type="text" value="{$filter_age_end}"></div>
</div>
<div class="filterinput fromto">
	Цена:<br />
	<div><label class="notcheck">от</label><input name="price_start" type="text" value="{$filter_price_start}"><label class="notcheck">до</label><input name="price_end" type="text" value="{$filter_price_end}"></div>
</div>
<div class="aligncenter"><input type="image" class="filterbutton" id="filterbutton" src="{$template_image}filter_button.png" value="Показать" title="Показать"></div>
</div>
