<DIV id=dhtmltooltip></DIV>
{literal}
<SCRIPT language=JavaScript>
<!--
function confirm_delete(delete_id)
{
if (confirm("Дейтсвительно удалить этот документ?")) {
parent.location.href = "index.php?mod=tree&action=delete_document&id=" + delete_id;
}
}
-->
</SCRIPT>
<script language=JavaScript src='{/literal}{$base_url}{literal}/javascript/tooltips.js'></script>
{/literal}
	<table width=100% class="content_table">

	<tr><th>Название</th><th width=6%>Статус</th><th width=15%>Действия</th></tr>

	{foreach name=tree from=$content item=entry}

	{if $col==1}
	{assign var="td" value="td1"}
	{assign var="col" value=0}
	{else}
	{assign var="td" value="td2"}
	{assign var="col" value=1}
	{/if}

			<td class={$td}_left>
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
					<tr>
						<td width="1%" valign="top" align="right">{str_repeat str="&nbsp;" num=$entry.param_level mod="4"}<img src=templates/img/tree.gif></td>
						<td>{$entry.name}<div><small><font color="#666666">{$entry.small_description|strip_tags|nl2br}</font></small></div></td>
					</tr>
				</table>
				
			</td>
			<td align=center class={$td}_middle>
			{if $entry.param_level!='0'}<a href="?mod=tree&action=change_document_status&id={$entry.id}"><img src=templates/img/status_{$entry.status}.gif border=0></a>{/if}
			</td>
			<td align=center class={$td}_right nowrap>
				<a href="javascript:confirm_delete('{$entry.id}');" class=img_link onmouseover="ddrivetip('Удалить документ')" onmouseout=hideddrivetip()><img src=templates/img/ico_delete.gif border=0></a>
				<a href=?mod=tree&action=edit_document&id={$entry.id} class=img_link onmouseover="ddrivetip('Редактировать документ')" onmouseout=hideddrivetip()><img src=templates/img/ico_edit.gif border=0></a>
				<a href=?mod=tree&action=move_up_document&id={$entry.id} class=img_link onmouseover="ddrivetip('Переместить документ вверх')" onmouseout=hideddrivetip()><img src=templates/img/ico_up.gif border=0></a><a href=?mod=tree&action=move_down_document&id={$entry.id} class=img_link onmouseover="ddrivetip('Переместить документ вниз')" onmouseout=hideddrivetip()><img src=templates/img/ico_down.gif border=0></a>
			</td>
		</tr>

	{/foreach}

	</table>
	
{if $smarty.get.parent}<p><a href="?mod=tree&action=add_document&parent={$smarty.get.parent}">[Добавить новый документ]</a></p>{/if}