<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<link rel="stylesheet" type="text/css" href="templates/style.css">
{literal}<script src="{/literal}{$base_url}/{literal}javascript/common.js" language="javascript" type="text/javascript"></script>
<script src="{/literal}{$base_url}/{literal}javascript/stroka.js" language="javascript" type="text/javascript"></script>
<script>
function ListGridCheckedCh(form, str, bool) {
        form=document.forms['form_1'];
        for (i=0; i<form.elements.length; i++) {
            if (form.elements[i].type=='checkbox') {
                if (form.elements[i].name.indexOf(str)!=-1) form.elements[i].checked=bool;
            }
        }
        return false;
}
</script>
{/literal}
<title>Список пользователей</title>
</head>

<body>

<form action="" method="post" onSubmit="return getAddUsers(this);" name="form_1">
<table width="100%" class=content_table>
	<tr><th>&nbsp;</th><th>Имя</th><th>Логин</th><th>E-mail</th><th>Группа</th></tr>
	{if count($users_list)>0}
    {foreach from=$users_list item=item name=tree}
    	{if $col==1}
	{assign var="td" value='td1'}
	{assign var="col" value=0}
	{else}
	{assign var="td" value='td2'}
	{assign var="col" value=1}
	{/if}
		<tr onmouseover="flatlinkOver(this)" {if $smarty.foreach.tree.iteration%2==1}onmouseout="flatlinkOut(this)"{else}onmouseout="flatlinkOut1(this)"{/if}>
        <td class={$td}_left><input value={$item.id} {section name=sec loop=$checked_users}{if $checked_users[sec] == $item.id}checked{/if}{/section} id="item{$item.id}" type="checkbox" name="USER[{$item.id}]"></td><td class={$td}_middle><label for="item{$item.id}">{$item.name}</label></td><td class={$td}_middle><a href="index.php?mod=users&action=edit_user&id={$item.id}" target="_blank" style="text-decoration: underline;"><strong>{$item.login}</strong></a></td><td class={$td}_middle>{if $item.mail}{mailto address=$item.mail}{/if}</td><td class={$td}_right>{$item.group_name}</td></tr>
	{/foreach}
    <tr>
    <td colspan="5" class="td1_middle" style="font-size: 10px; height: 25px;"><a href="#" onclick="return ListGridCheckedCh('form_1', 'USER', true);">выделить всё</a> | <a href="#" onClick="return ListGridCheckedCh('form_1', 'USER', false);">очистить все</a></td>
    </tr>
    {else}
	<tr>
    <td colspan="5" class="td1_middle">
    <center><strong>Пользователей нет</strong></center>
	</td></tr>
    {/if}
	<tr><td colspan="5" align="center" style="padding-top: 20px;"><input type="submit" value="Запомнить" name="submit_add_users" class="hand">&nbsp;<input type="button" value="Закрыть" onClick="window.close();" class="hand"></td></tr>
</table>
</form>

</body>
</html>
