.menu_parent {font-family: Verdana; font-size: 9pt; color:#000000;}
.menu_parent:link {color: #637dff; text-decoration: none;}
.menu_parent:visited {color: #637dff;text-decoration: none;}
.menu_parent:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: #637dff;
}

.menu_child {font-family: Verdana; font-size: 9pt; padding-left: 15px;}
.menu_child:link {color: #637dff; text-decoration: none;}
.menu_child:visited {color: #637dff;text-decoration: none;}
.menu_child:hover {
	color: #666666;
	text-decoration: none;
	background-color: transparent;
}

.img_link:hover {
	background-color: transparent;
}

.menu_button_box {border:#cccccc solid 1px; background:#B9C4FA; padding-left: 10px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px; margin-bottom:5px; text-align: left; width:85%;}
.menu_button:link {color: #ffffff; font-weight:bold;}
.menu_button:visited {color: #ffffff; font-weight:bold;}
.menu_button:hover {
	background-color: transparent;
}