            <form action="{$base_url}/shop/search/" method="GET">
            	<input type="hidden" name="filter_type" value="tire">

            	<div class="ishina"><div style="height:30px;"></div><table class="idisktbl2" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="idisktblt" width="259">Ширина:</td>
                    <td class="innselecttd2" valign="bottom">
             	    <select class="innselect" name="tire_width">
	             	    <option value="">Любая</option>
	             	    {foreach from=$tires_width item=tire_width}
	             	    {if !empty($tire_width.tire_width) && $tire_width.tire_width > 0}
	                      <option value="{$tire_width.tire_width}" {if $smarty.get.tire_width == $tire_width.tire_width}selected{/if}>{$tire_width.tire_width}</option>
	                      {/if}
	                    {/foreach}
                    </select>
                    </td>
                    <td class="idisktblt">Производитель:</td>
                    <td class="innselecttd2">
             	    <select class="innselect" name="tire_manufacturer">
             	    	<option value="">Все</option>
	             	    {foreach from=$tires_manufacturer item=tire}
	                      <option value="{$tire.id}" {if $smarty.get.tire_manufacturer == $tire.id}selected{/if}>{$tire.name}</option>
	                    {/foreach}
                    </select>
                    </td>
                  </tr>
                  <tr>
                    <td class="idisktblt">Профиль:</td>
                    <td class="innselecttd2">
             	    <select class="innselect" name="tire_height">
	             	    <option value="">Любой</option>
	             	    {foreach from=$tires_height item=tire_height}
	             	    {if !empty($tire_height.tire_height)}
	                      <option value="{$tire_height.tire_height}" {if $smarty.get.tire_height == $tire_height.tire_height}selected{/if}>{$tire_height.tire_height}</option>
	                      {/if}
	                    {/foreach}
                    </select>
                    </td>
                    <td class="idisktblt">Сезон:</td>
                    <td class="innselecttd2">
             	    <select class="innselect" name="tire_season">
             	    	<option value="">Любой</option>
                      	<option value="1" {if $smarty.get.tire_season == 1}selected{/if}>Зима</option>
                      	<option value="2" {if $smarty.get.tire_season == 2}selected{/if}>Лето</option>
                      	<option value="3" {if $smarty.get.tire_season == 3}selected{/if}>Всесезон</option>
                    </select>
                    </td>
                  </tr>
                  <tr>
                    <td class="idisktblt">Диаметр:</td>
                    <td class="innselecttd2">
             	    <select class="innselect" name="tire_diameter">
	             	    <option value="">Любой</option>
	             	    {foreach from=$tires_diameter item=tires_diameter}
	             	    {if !empty($tires_diameter.tire_diameter)}
	                      <option value="{$tires_diameter.tire_diameter}"  {if $smarty.get.tire_diameter == $tires_diameter.tire_diameter}selected{/if}>{$tires_diameter.tire_diameter}</option>
	                      {/if}
	                    {/foreach}
                    </select>
                    </td>
                    <td class="idisktblt">Наличие шипов:</td>
                    <td class="innselecttd2">
             	    <select class="innselect" name="tire_spike">
                      <option value="1" {if $smarty.get.tire_spike == 1}selected{/if}>Нет</option>
                      <option value="2" {if $smarty.get.tire_spike == 2}selected{/if}>Да</option>
                    </select>
                    </td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="idisktblt">Есть на складе:</td>
                    <td class="innchktd"><input type="checkbox" {if isset($smarty.get.filter_type)}{if $smarty.get.tire_sklad == 1}checked{/if}{else}checked{/if} style="position:absolute; z-index:5;" name="tire_sklad" value=1></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="ifiltbut2"><input type="image" src="{$template_image}podobrat_blue.png" width="111" height="25"></td>
                  </tr>
                </table></div>
	</form>