{assign var=editor_mode value="editor.js"}
{assign var=editor_style value="html"}
{literal}
<script language=JavaScript src='{/literal}{$base_url}{literal}/javascript/editor/scripts/language/russian/editor_lang.js'></script>
<script language=JavaScript src='{/literal}{$base_url}{literal}/javascript/editor/scripts{/literal}/{$editor_mode}{literal}'></script>

<script language="Javascript">
function check_form() {
	{/literal}
	{if $editor_style!='html'}
	{literal}
		document.edit_elements.edit_elements.value = edit_elements_text.getHTMLBody();
	{/literal}
	{else}
	{literal}
		document.edit_elements.edit_elements.value = document.getElementById('edit_elements_text').value;
	{/literal}
	{/if}
	{literal}
	return true;
}
</script>
{/literal}

{if $error_message}<center><font color=red><b>{$error_message}</b></font></center><br><br>{/if}
	
<form action="" method=post name=edit_elements onSubmit="return check_form();">
<input type=hidden name=id value={$node.id}>

<table width=100% cellpadding=3 cellspacing=1>
	<tr bgcolor=#99CCFF>
		<td width=20%><b>Редактировать шаблон узла</b></td>
	</tr>
</table>

Узел: {$node.name}
<br><br>
Элементы:<br>

	<input type=hidden name=edit_elements value="">
{if $editor_style!='html'}
{literal}
<script>
				var edit_elements_text = new InnovaEditor("edit_elements_text");
			
					edit_elements_text.btnStyles=true;

					edit_elements_text.width="100%";
					edit_elements_text.height="400";

					edit_elements_text.css="style.css";
					edit_elements_text.cmdAssetManager="modalDialogShow('{/literal}{$base_url}{literal}/javascript/editor/assetmanager/assetmanager.php?lang=russian',640,465)";
			
					edit_elements_text.features=["FullScreen","Preview","Print","Search",
						"Cut","Copy","Paste","PasteWord","PasteText","|","Undo","Redo","|",
						"ForeColor","BackColor","|","Bookmark","Hyperlink",
						"XHTMLSource","Numbering","Bullets","|","Indent","Outdent","|","Image","|",
						"Table","Guidelines","Absolute","|","Characters","Line",
						"Clean","ClearAll","BRK",
						"StyleAndFormatting","TextFormatting","ListFormatting","BoxFormatting",
						"ParagraphFormatting","CssText","Styles","|",
						"Paragraph","FontName","FontSize","|",
						"Bold","Italic",
						"Underline","Strikethrough","|","Superscript","Subscript","|",
						"JustifyLeft","JustifyCenter","JustifyRight","JustifyFull","|","Tables","Photo","Mail"];
			
			
				edit_elements_text.RENDER('{/literal}{$node.elements|regex_replace:"/[\r\t\n]/":" "}{literal}');
			</script>
{/literal}
{else}

<div class=tag_box>
<a href="add_tag" onclick="return insert_tag(document.edit_elements.edit_elements_text,'<b>','</b>')" class=tag_button><b>B</b></a>
<a href="add_tag" onclick="return insert_tag(document.edit_elements.edit_elements_text,'<i>','</i>')" class=tag_button><i>I</i></a>
<a href="add_tag" onclick="return insert_tag(document.edit_elements.edit_elements_text,'<u>','</u>')" class=tag_button><u>U</u></a>
<a href="add_tag" onclick="return insert_tag(document.edit_elements.edit_elements_text,'<img src=>','</img>')" class=tag_button>IMG</a>
<a href="add_tag" onclick="return insert_tag(document.edit_elements.edit_elements_text,'<a href=>','</a>')" class=tag_button>URL</a>
<a href="add_tag" onclick="return insert_tag(document.edit_elements.edit_elements_text,'<br>','')" class=tag_button>BR</a>
</div>

<textarea id=edit_elements_text class=field style="width:100%" rows=20>{$node.elements}</textarea>

{/if}
<input type=checkbox name=default_elements id="ch_load"><label for="ch_load"> Загрузить шаблон по умолчанию.</label>
<input type=hidden name=submit_edit_elements value="go">
<br><br>
<center><input type=submit name=submit_edit_elements value="Сохранить изменения" class=button style="width:50%;"></center>
</form>