<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<title></title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>
<table class="mtbl" align="center">
  <tr>
    <td class="toperin"><a href="#"><img src="./img/logo.gif" width="261" height="108"></a></td>
  </tr>
  <tr>
    <td class="tmenu">
    <table class="menu" align="center">
      <tr>
        <td class="menus"><img src="./img/tmenu_l.gif" width="17" height="46"></td>
        <td><a href="#" title="Главная">Главная</a></td>
        <td><a href="#" title="О компании">О компании</a></td>
        <td><a href="#" title="Проекты домов">Проекты домов</a></td>
        <td><a href="#" title="Цены">Цены</a></td>
        <td><a href="#" title="Материалы">Материалы</a></td>
        <td><a href="#" title="Контакты">Контакты</a></td>
        <td class="menus"><img src="./img/tmenu_r.gif" width="17" height="46"></td>
      </tr>
    </table>
    </td>
  </tr>
  <tr>
    <td>
    <div class="left">
    <div class="leftmenu"><img src="./img/lmenu_t.gif" width="261" height="18">
        <a href="#" title="Строительство домов из бревна">Строительство домов из бревна</a>
        <a href="#" title="Строительство домов из бруса">Строительство домов из бруса</a>
        <a href="#" title="Строительство бань">Строительство бань</a>
        <a href="#" title="Строительство беседок и заборов">Строительство беседок и заборов</a>
        <a href="#" title="Строительство беседок">Строительство беседок</a>
        <a href="#" title="Возведение фундаментов">Возведение фундаментов</a>
        <a href="#" title="Проектирование домов">Проектирование домов</a>
        <a href="#" title="Продажа пиломатериалов">Продажа пиломатериалов</a>
        <a href="#" title="Сборка стропильных конструкций у нас срочно">Сборка стропильных конструкций у нас срочно</a>
        <a href="#" title="Строительство каркасных домов">Строительство каркасных домов</a>
        <a href="#" title="Работа по кровле">Работа по кровле</a>
    <img src="./img/lmenu_b.gif" width="261" height="18"></div>
    <br><br>
    </div>
    <div class="cont">
    <div class="navigate"><a href="#" title="Главная">Главная</a> | <a href="#" title="Строительство домов из бревна">Строительство домов из бревна</a></div>
    <h1>Добро пожаловать в ДомСтройПлюс</h1>
    <div class="proj"><div class="projin">Проекты домов из бруса <span class="vert">|</span> <a href="#" title="Проекты домов из бревна">Проекты домов из бревна</a> <span class="vert">|</span> <a href="#" title="Проекты бань">Проекты бань</a> <span class="vert">|</span> <a href="#" title="Проекты беседок">Проекты беседок</a></div></div>
    <table class="cattbl">
      <tr>
        <td><a href="#">Каталог домов из бревна</a><br><a href="#"><img src="./img/cat.jpg" width="203" height="136"></a></td>
        <td><a href="#">Каталог домов из бруса</a><br><a href="#"><img src="./img/cat.jpg" width="203" height="136"></a></td>
        <td><a href="#">Каталог бань</a><br><a href="#"><img src="./img/cat.jpg" width="203" height="136"></a></td>
        <td><a href="#">Каталог бань</a><br><a href="#"><img src="./img/cat.jpg" width="203" height="136"></a></td>
      </tr>
      <tr>
        <td><a href="#">Каталог домов из бревна из бревна</a><br><a href="#"><img src="./img/cat.jpg" width="203" height="136"></a></td>
        <td><a href="#">Каталог домов из бруса</a><br><a href="#"><img src="./img/cat.jpg" width="203" height="136"></a></td>
        <td><a href="#">Каталог бань</a><br><a href="#"><img src="./img/cat.jpg" width="203" height="136"></a></td>
        <td><a href="#">Каталог бань</a><br><a href="#"><img src="./img/cat.jpg" width="203" height="136"></a></td>
      </tr>
      <tr>
        <td><a href="#">Каталог домов из бревна</a><br><a href="#"><img src="./img/cat.jpg" width="203" height="136"></a></td>
        <td><a href="#">Каталог домов из бруса</a><br><a href="#"><img src="./img/cat.jpg" width="203" height="136"></a></td>
        <td><a href="#">Каталог бань</a><br><a href="#"><img src="./img/cat.jpg" width="203" height="136"></a></td>
        <td><a href="#">Каталог бань</a><br><a href="#"><img src="./img/cat.jpg" width="203" height="136"></a></td>
      </tr>
    </table>
    </div>
    </td>
  </tr>
  <tr>
    <td class="bottom">
    	г.Москва, ул.Басманная, дом 12, офис 512, +7 (495) 785 37 59, <a href="mailto:info@domstroyplus.ru">info@domstroyplus.ru</a>
    </td>
  </tr>
</table>
</body>
</html>
