  <tr>
    <td valign="top" class="center"><div class="add" style="background: url('img/add_sp.gif') no-repeat;">Проект: {$url_item.p_name}<br><div class="green"><a href="{$url_item.url}">{if trim($url_item.name)==""}{$url_item.url}{else}{$url_item.name}{/if}</a></div></div>
    <div style="padding-left: 31px;"><a href="/projects/text/{$url_item.id}">тексты</a> <span class="over">{$url_item.count_text}</span> | размещены <span class="over">{$count_inner}</span> | <a href="/projects/links_add/{$url_item.id}">разместить</a></div>
   
{if count($inner_list)>0}
    <form action="" name="links" method="post">
    <input type="hidden" name="submit_del_links" value="1">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" id="links" style="margin-top: 20px;">
          <tr>
            <th width="80">Дата</th>
            <th>Текст ссылки</th>
            <th>URL</th>
            <th width="60">PR</th>
            <th width="60">CY</th>
            <th width="60">ВС</th>
            <th width="60"><input type="checkbox" name="all_links" novalidate=1  onclick="checkall('links', this.form.all_links.checked)"></th>
          </tr>
          {foreach from=$inner_list item=item name=f1}
          <tr {if !($smarty.foreach.f1.iteration % 2)}bgcolor="#e6ecef"{/if}>
            <td>{$item.date}</td>
            <td style="text-align: left;">{$item.url_text}</td>
            <td style="text-align: left;"><a href="{$item.url_ferm}">{$item.url_ferm}</a><div class="small"><a href="/">YAP</a></div></td>
            <td>2</td>
            <td>1800</td>
            <td>{$item.count_ferms}</td>
            <td><input type="checkbox" name="delInner[{$item.proj_url_text_id}]" value="{$item.ferm_url_id}"></td>
          </tr>
          {/foreach}
          
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top" style="padding: 5px 0;" align="right">
            
            	<table border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="60" align="center"><a href="javascript: void(delLinks(document['links']));">OK</a></td>
                  </tr>
                </table>

            </td>
          </tr>
        </table>
	</form>
{else}
	<center>Ничего не размещено</center>
{/if}
    
    </td>
  </tr>
