<table class="catalogtbl" border="0" cellspacing="0" cellpadding="0">
		{foreach from=$folders_list item=folder name=folder}
			{if $smarty.foreach.folder.iteration == 0}<tr>{/if}
			<td>
            <a href="{$base_url}/shop/{$folder.full_url}" class="catf"><div class="catf">
            	<span id="catalogc">{$folder.name|strip_tags}</span><br>
            	<span id="linec">ƒиаметр:</span> от {$folder.properties.min_diameter}Ф до {$folder.properties.max_diameter}Ф<br>
                <span id="linec">Ўирина:</span> от {$folder.properties.min_width} до {$folder.properties.max_width}<br>
                от <span id="price">{$folder.properties.price}</span> руб.<br>
            </div></a>
            </td>
            {if $smarty.foreach.folder.iteration % 3 == 0 && $smarty.foreach.folder.iteration > 0}</tr><tr>{/if}
            
         {/foreach}
</table>