{literal}
<script language=JavaScript src='{/literal}{$base_url}/{literal}javascript/editor/scripts/language/russian/editor_lang.js'></script>
<script language=JavaScript src='{/literal}{$base_url}/{literal}javascript/editor/scripts{/literal}/{$editor_mode}{literal}'></script>

<script language="JavaScript">
function check_form() {
	if (({/literal}{if $editor_style=='html'}document.getElementById('otr_small_text').value{else}otr_small_text.getHTMLBody(){/if}{literal}=='')) {
		alert("Заполните, пожалуйста, обязательные поля");
		return false;
	}
	else {
		{/literal}
		{if $editor_style!='html'}
		{literal}
			document.edit_otr.edit_otr_small_text.value = otr_small_text.getHTMLBody();
			document.edit_otr.edit_otr_text.value = otr_text.getHTMLBody();
		{/literal}
		{else}
		{literal}
			document.edit_otr.edit_otr_small_text.value = document.getElementById('otr_small_text').value;
			document.edit_otr.edit_otr_text.value = document.getElementById('otr_text').value;
		{/literal}
		{/if}
		{literal}
		return true;
	}
}
</script>
{/literal}

{if $success_message}<center><font color=green>{$success_message}</font></center><br>{/if}
{if $error_message}<center><font color=red>{$error_message}</font></center><br>{/if}
<form action="" name=edit_otr method=POST enctype="multipart/form-data" onSubmit="return check_form();">
<input type=hidden name=id value={$otr.id}>
<table width=100% class="content_table">
<tr><th>{if $mode=='edit'}Редактируем решение{else}Добавить решение{/if}</th></tr>
</table>

<table width=100% class="content_table">
<tr>
<td width=20% class=td1_left>&nbsp;&nbsp;Заголовок:</td><td class=td1_right><input type=text name=edit_otr_title style="width:100%" value="{$otr.title}" class=field></td>
</tr>
<tr>
<td class=td1_single colspan=2>

<input type=hidden name=edit_otr_small_text value="">
<p><font color=red>*</font> Короткий текст:</p>

{if $editor_style!='html'}	
{literal}
<script language="JavaScript">
				var otr_small_text = new InnovaEditor("otr_small_text");
			
					otr_small_text.btnStyles=true;

					otr_small_text.width="100%";
					otr_small_text.height="400";

					otr_small_text.css="style.css";
					otr_small_text.cmdAssetManager="modalDialogShow('{/literal}{$base_url}/{literal}javascript/editor/assetmanager/assetmanager.php?lang=russian',640,465)";
			
					otr_small_text.features=["FullScreen","Preview","Print","Search",
						"Cut","Copy","Paste","PasteWord","PasteText","|","Undo","Redo","|",
						"ForeColor","BackColor","|","Bookmark","Hyperlink",
						"XHTMLSource","Numbering","Bullets","|","Indent","Outdent","|","Image","|",
						"Table","Guidelines","Absolute","|","Characters","Line",
						"Clean","ClearAll","BRK",
						"StyleAndFormatting","TextFormatting","ListFormatting","BoxFormatting",
						"ParagraphFormatting","CssText","Styles","|",
						"Paragraph","FontName","FontSize","|",
						"Bold","Italic",
						"Underline","Strikethrough","|","Superscript","Subscript","|",
						"JustifyLeft","JustifyCenter","JustifyRight","JustifyFull"];
			
			
					otr_small_text.RENDER('{/literal}{$otr.small_text|replace:"\r\n":""}{literal}');
</script>
{/literal}
{else}


<div class=tag_box>
<a href="add_tag" onclick="return insert_tag(document.edit_news.news_small_text,'<b>','</b>')" class=tag_button><b>B</b></a>
<a href="add_tag" onclick="return insert_tag(document.edit_news.news_small_text,'<i>','</i>')" class=tag_button><i>I</i></a>
<a href="add_tag" onclick="return insert_tag(document.edit_news.news_small_text,'<u>','</u>')" class=tag_button><u>U</u></a>
<a href="add_tag" onclick="return insert_tag(document.edit_news.news_small_text,'<img src=>','</img>')" class=tag_button>IMG</a>
<a href="add_tag" onclick="return insert_tag(document.edit_news.news_small_text,'<a href=>','</a>')" class=tag_button>URL</a>
<a href="add_tag" onclick="return insert_tag(document.edit_news.news_small_text,'<br>','')" class=tag_button>BR</a>
</div>

<textarea id=otr_small_text class=field style="width:100%" rows=20>{$news.small_text|replace:"\r\n":""}</textarea>

{/if}
</td>
</tr>
<tr>
<td colspan="2" valign=top class=td1_single>&nbsp;&nbsp;Полный текст:
<input type=hidden name=edit_otr_text value="">
{if $editor_style!='html'}	
{literal}
<script language="JavaScript">
				var otr_text = new InnovaEditor("otr_text");
			
					otr_text.btnStyles=true;

					otr_text.width="100%";
					otr_text.height="400";

					otr_text.css="style.css";
					otr_text.cmdAssetManager="modalDialogShow('{/literal}{$base_url}/{literal}javascript/editor/assetmanager/assetmanager.php?lang=russian',640,465)";
			
					otr_text.features=["FullScreen","Preview","Print","Search",
						"Cut","Copy","Paste","PasteWord","PasteText","|","Undo","Redo","|",
						"ForeColor","BackColor","|","Bookmark","Hyperlink",
						"XHTMLSource","Numbering","Bullets","|","Indent","Outdent","|","Image","|",
						"Table","Guidelines","Absolute","|","Characters","Line",
						"Clean","ClearAll","BRK",
						"StyleAndFormatting","TextFormatting","ListFormatting","BoxFormatting",
						"ParagraphFormatting","CssText","Styles","|",
						"Paragraph","FontName","FontSize","|",
						"Bold","Italic",
						"Underline","Strikethrough","|","Superscript","Subscript","|",
						"JustifyLeft","JustifyCenter","JustifyRight","JustifyFull"];
			
			
					otr_text.RENDER('{/literal}{$otr.text|replace:"\r\n":""}{literal}');
</script>
{/literal}
<p><a href="#" onclick="return popup('index.php?mod=photoalbum&action=mini_browser&editor=2','600','400')">Добавить фотоальбом</a></p>

{else}


<div class=tag_box>
<a href="add_tag" onclick="return insert_tag(document.edit_news.news_text,'<b>','</b>')" class=tag_button><b>B</b></a>
<a href="add_tag" onclick="return insert_tag(document.edit_news.news_text,'<i>','</i>')" class=tag_button><i>I</i></a>
<a href="add_tag" onclick="return insert_tag(document.edit_news.news_text,'<u>','</u>')" class=tag_button><u>U</u></a>
<a href="add_tag" onclick="return insert_tag(document.edit_news.news_text,'<img src=>','</img>')" class=tag_button>IMG</a>
<a href="add_tag" onclick="return insert_tag(document.edit_news.news_text,'<a href=>','</a>')" class=tag_button>URL</a>
<a href="add_tag" onclick="return insert_tag(document.edit_news.news_text,'<br>','')" class=tag_button>BR</a>
</div>

<textarea id=otr_text class=field style="width:100%" rows=20>{$otr.text|replace:"\r\n":""}</textarea>

{/if}
</td>
</tr>
</table>
<br>
<center><input type=submit {if $mode=='edit'}name=submit_edit_otr value="Сохранить изменения"{else}name=submit_add_otr value="Добавить решение"{/if}></center>

</form>
