.tag_box {
  padding-bottom:5pt;
  padding-top:5pt;
}

.tag_button {
  border:#cccccc solid 1px;
  background:#ffffff;
  padding-left: 5pt;
  padding-right: 5pt;
  padding-top: 2pt;
  padding-bottom: 2pt;
}
.tag_button:link {
  color: #003366;
  text-decoration: none;
}
.tag_button:visited {
  color: #000000;
  text-decoration: none;
}
.tag_button:hover {
  background-color: transparent;
  text-decoration: none;
}

.forum_quote {
  color: #666666;
  border:#cccccc solid 1px;
  margin-left: 30pt;
  margin-bottom: 0px;
  padding-left: 5pt;
  padding-right: 5pt;
}

.post_text {
  padding-left: 2pt;
  padding-right: 2pt;
  padding-top: 2pt;
  padding-bottom: 5pt;
}

.forum_field {
  border:#cccccc solid 1px;
  background-color: #fffdfb;
  font-size: 10px;
}

table.forum_table {
  border-collapse: collapse;
}
table.forum_table td {
  border-bottom: 1px solid #c4cbcc;
  background: #ebe7e1;
  border-right: 1px solid #c4cbcc;	
  font-size: 10px;
  padding: 5px;
  color: #003b69;
}

table.forum_table th {
  padding: 3pt;
  border-bottom: 1px solid #c8c8c8;
		border-right: 1px solid white;
  font-size: 10px;
		font-weight: bold;
		color: white;
		background: #f9621b;
}

table.forum_add_table {
  border-collapse: collapse;
}
table.forum_add_table td {
  border: 1px solid #cccccc;
  background-color:#faf9f9;
  font-size: 11px;
}

table.forum_post_table {
  border-collapse: collapse;
  margin-top: 5pt;
}
table.forum_post_table td {
  border: 1px solid #cccccc;
  background-color:#faf9f9;
  font-size: 12px;
}

.forum_button {
  border: none;
  background: #f9621b;
  font-size: 10px;
  color: white;
  font-weight:bold;
  padding:1pt;
  padding-left:10pt;
  padding-right:10pt;
		cursor: hand;
		cursor: pointer;
}

table.forum_simple td {
  border: 0px;
  padding: 0px;
}

/* Other */
.fw_sp {color: #003366; font-size: 10px; padding-top: 5px;}
.resd {background: url(img/fw_01.gif) left 3px no-repeat; padding-left: 25px;}
.fw_nap {color: #999999; font-size: 10px;}
a.fw_nap, a.fw_nap:visited {color: #999999; font-size: 10px; text-decoration: none;}
a.fw_nap:hover {color: #999999; font-size: 10px; text-decoration: none;}
.pagelink {background: #f5f8f9; border: 1px solid #003b69; padding: 1px 3px 1px 3px; font-size: 10px;}
.pagelink_act {background: #003b69; border: 1px solid #003b69; padding: 1px 3px 1px 3px; font-weight: bold; font-size: 10px; color: white;}

strong, span, a, a:link, a:visited {color : #666666; text-decoration : underline;}
 a:hover {color : #666666; text-decoration : none;}