{literal}
<script language="JavaScript">
function insert_smile(id,date) {
	window.opener.document.getElementById(id).value= window.opener.document.getElementById(id).value + date;
	window.close();
	return false;
}
</script>
{/literal}


<table width="100%" cellpadding="5" cellspacing="0">
	<tr>
		{assign var="i" value=0}
		{foreach from=$smiles_list item=smile}
		{if $i==8}{assign var="i" value=0}</tr><tr>{/if}
			<td>
				<a href="add_tag" onclick="return insert_smile('{$window_id}','{$smile.symbol}');"><img src={$base_url}/uploaded_files/smiles/{$smile.id}.{$smile.image} border=0 align="absmiddle"></a>
			</td>
		{math equation="x + y" x=$i y=1 assign="i"}
		{/foreach}
	</tr>
</table>