    <table class="capttin" cellspacing="0" cellpadding="0">
	  <tr>
		<td class="capt1">&nbsp;</td>
		<td class="capt3"><h2>{if $cat_content.param_level == 0}{$node_content.name}{elseif $cat_content.param_level == 1}{$cat_content.name}{elseif $cat_content.param_level == 2}{$cat_parent_info.name}{/if}</h2></td>
		<td class="capt2">&nbsp;</td>
	  </tr>
	</table>



{if $albums || $videos}
    <table class="txtin" cellspacing="0" cellpadding="0">
      <tr>
        <td class="lmenu"><img src="{$template_image}clear.png" height="1" width="250"><br>
        {foreach from=$gallery_menu item=gmenu}
        	<a href="{$base_url}/gallery/{$gmenu.url}/album_{$gmenu.id}/">{$gmenu.name}</a><br>
        {/foreach}
        </td>

        <td width="100%">


				{foreach from=$albums item=album}
				<div class="gallery">
					<a href="/gallery/{$album.url}/album_{$album.id}/" style="float:left;">{$album.name}<br>
					<img src="/{$smarty.const.PHOTOS_FOLDER}/small-{$album.photos.id}.{$album.photos.ext}" width="251" height="150">
					</a>
				</div>
				{/foreach}

				{foreach from=$videos item=video}
				<div class="gallery">
				<a href="/gallery/{$video.url}/album_{$video.id}/" style="float:left;">{$video.name}<br>
					<img src="/templates/img/video.jpg" style="width: 251px; height:150px;" />
				</a>
				</div>
				{/foreach}


		</td>
	</tr>
</table>
{/if}


{if $albums_list}
<b>Фотоальбомы:</b><br><br>
<table width=100% cellspacing=1 cellpadding=3>
{foreach from=$albums_list item=album}
<tr>
<td width=5%><a href={$base_url}/{$current_url}/album_{$album.id}><img src={$base_url}/{$photos_folder}/small-{$album.image} border=0></a></td>
<td valign=top>
<a href={$current_url}/album_{$album.id}>{$album.name}</a> <small>(создан {$album.insert_date|date_format:"%d.%m.%Y в %T"})</small><br>
Фотографий в альбоме: <b>{$album.photos}</b>
</td>
</tr>
{/foreach}
</table>
{if $total_pages>1}
<br><br>
<center>
Страница: <a href="{$current_url}/?page=1"><<</a>

{section name=p loop=$pages}
	{if $pages[p]==$current_page}
	{$pages[p]}
	{else}
	<a href="{$current_url}/?page={$pages[p]}">{$pages[p]}</a>
	{/if}
{/section}

<a href="{$current_url}/?page={$total_pages}">>></a>
</center>
{/if}

{/if}