    <table class="capttin" cellspacing="0" cellpadding="0">
	  <tr>
		<td class="capt1">&nbsp;</td>
		<td class="capt3"><h2>{$album.name}</h2></td>
		<td class="capt2">&nbsp;</td>
	  </tr>
	</table>

    <table class="txtin" cellspacing="0" cellpadding="0">
      <tr>
        
        <td class="lmenu"><img src="{$template_image}clear.png" height="1" width="250"><br>
        {foreach from=$gallery_menu item=gmenu}
        	{if $album.id == $gmenu.id}
        		<span>{$gmenu.name}</span><br>
        	{else}
        	<a href="{$base_url}/gallery/{$gmenu.url}/album_{$gmenu.id}/">{$gmenu.name}</a><br>
        	{/if}
        {/foreach}
        </td>
      
    <td width="100%">
	<div class="gallery_small">
	{foreach from=$photos_list item=photo name=tp}
	{if $album.album_type=='photo'}
		<a title="{$photo.descroption|strip_tags}" href="{$base_url}/{$photos_folder}/{$photo.id}.{$photo.ext}" class="gallery"><img src={$base_url}/{$photos_folder}/small-{$photo.id}.{$photo.ext} border=0 alt="{$photo.title|replace:'"':''}"></a>
	{elseif $album.album_type == 'video'}
	<a href="/uploaded_files/photos/{$photo.id}.{$photo.ext}" rel="vidbox" title="{$photo.description}">
	{$photo.description}<br>
	<img src="/templates/img/video.jpg" width="233" height="150" /></a>
	{/if}
	{/foreach}
	</div>
	</td>
	</tr>
	</table>