
{literal}
<script language=JavaScript src='{/literal}{$base_url}/{literal}javascript/editor/scripts/language/russian/editor_lang.js'></script>
<script language=JavaScript src='{/literal}{$base_url}/{literal}javascript/editor/scripts{/literal}/{$editor_mode}{literal}'></script>

<script language=JavaScript>
function show(name)
{
if(document.getElementById(name).style.display!="none") {
		document.getElementById(name).style.display="none";
	}
	else {
		document.getElementById(name).style.display="";
	}
}

function form_check() {
	if (document.edit_document.edit_document_name.value=='') {
		alert("Заполните пожалуйста обязательные поля");
		return false;
	}
	else {
		{/literal}

		//document.edit_document.edit_small_description.value = document.edit_document.page_text1.value;

		{if $editor_style!='html'}
		{literal}
			document.edit_document.edit_small_description.value = page_text1.getHTMLBody();
			document.edit_document.edit_description.value = page_text2.getHTMLBody();
		{/literal}
		{else}
		{literal}
			document.edit_document.edit_description.value = document.edit_document.page_text2.value;
		{/literal}
		{/if}
		{literal}
		return true;
	}
}

</script>
{/literal}

{if $error_message}<center><font color=red><b>{$error_message}</b></font></center><br><br>{/if}
	
<form action="" method=post name=edit_document onSubmit="return form_check();" enctype="multipart/form-data">
{if $mode=='edit'}
<input type=hidden name=id value={$document.id}>
{/if}

<table width=100% class=content_table>
	<tr bgcolor=#99CCFF>
		<th>{if $mode=='edit'}Редактировать документ{else}Добавить документ{/if}</th>
	</tr>
</table>

<table width=100% class=content_table>
	<tr>
		<td width=15% class=td1_left><b>Категория:</b></td>
		<td class=td1_right>
		<select name=edit_document_parent style="width:100%;font-weight:bold; font-size:9pt;" class=field>
		{foreach from=$nodes_list item=entry}
		<option value={$entry.id}{if $entry.id==$parent} selected=true{/if}>{$entry.full_title}</option>
		{/foreach}
		</select>
		</td>
	</tr>

	<tr>
		<td width=15% class=td1_left><b>Название:</b></td>
		<td class=td1_right><input type=text name=edit_document_name style="width:100%;" class=field value="{$document.name}">
	</tr>
	
	<tr>
		<td width=15% class=td1_left><b>Заголовок страницы:</b></td>
		<td class=td1_right><input type=text name=edit_document_title style="width:100%;" class=field value="{$document.title}">
	</tr>

	<tr>
		<td width=15% class=td1_left><b>Статус:</b></td>
		<td class=td1_right>
		<select name=edit_document_status style="width:50%;" class=field>
			<option value="1">Активный</option>
			<option value="0" {if $document.status=='0'}selected=true{/if}>Ждёт</option>
		</select>
		</td>
	</tr>
	
{if $mode=='edit'}
	<tr>
		<td width=15% class=td1_left><b>Картинка:</b></td>
		<td class=td1_right>
		<input type="hidden" name=edit_document_image_old value="{$document.image}">
		{if $document.image==""}<input type="file" name=edit_document_image style="width:50%;" class=field>{else}
		<img src="{$base_url}/uploaded_files/documents_images/resized-{$document.image}">
		<div>
			<input type="checkbox" name="edit_document_image_delete" id="del_img"><label for="del_img">Удалить картинку</label>
		</div>
		{/if}
		</td>
	</tr>
{/if}
	<tr>
		<td class=td1_left><b><a href="javascript:show('metas');">Metas</a></b></td><td class=td1_right></td>
	</tr>
</table>


<div id="metas" style="display:{if $document.meta_keywords!='' or $document.meta_description!=''}all{else}none{/if};">
<table width=100% class=content_table>
	<tr>
		<td width=15% class=td1_left><b>Meta keywords:</b></td>
		<td class=td1_right><input type=text name=edit_document_keywords style="width:100%;" class=field value="{$document.meta_keywords}"></td>
	</tr>

	<tr>
		<td class=td1_left><b>Meta description:</b></td>
		<td class=td1_right><input type=text name=edit_document_description style="width:100%;" class=field value="{$document.meta_description}"></td>
	</tr>
</table>
</div>


<p>
<b>Краткое описание:</b><br>

	<input type=hidden name=edit_small_description value="">

  		{html_editor name="page_text1" value=$document.small_description type=$editor_style height="300"}

</p>

<p>
	<b>Полное описание:</b><br>

	<input type=hidden name=edit_description value="">
	{html_editor name="page_text2" value=$document.description type=$editor_style height="300"}

</p>

<br>
<center><input type=submit {if $mode=='edit'}name=submit_edit_document value="Сохранить изменения"{else}name=submit_add_document value="Добавить документ"{/if} class=button style="width:50%;"></center>

</form>