<div class="txtd">
<div class="contt">

<p><strong>Уважаемый {$user.name},</strong><br />здесь Вы можете посмотреть/отредактировать Ваши личные данные, а также посмотреть историю сделанных вами заказов.</p>
<br />

<table width=100% border=0 cellspacing=0 cellpadding=0>
	<tr>
		<td>
			<h1><a href="{$module_url}/orders/">История ваших заказов</a></h1>
		</td>
	</tr>
	<tr>
		<td height=10>&nbsp;</td>
	</tr>
</table>
<br><br>Чтобы выйти из системы нажмите <a href="{$module_url}/logout/">выход</a>.


</div></div>