<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<title>{$page_title}</title>
<meta name="Keywords" content="{$meta_keywords}">
<meta name="Description" content="{$meta_description}">

{foreach from=$css item=css}
<link rel="stylesheet" type="text/css" href="{$css}">
{/foreach}

{foreach from=$js item=js}
<script src="{$js}" type="text/javascript"></script>
{/foreach}

{assign var=curnav value=$navigation.1.url|replace:"$base_url":""|replace:"/":""}
{assign var=curnav2 value=$navigation.2.url|replace:"$base_url":""|replace:"/":""|replace:"$curnav":""}

</head>
<body>

<div class="confirm" id="confirm_layer" style="display:none;"><div><a href="#" onClick='$("#confirm_layer").hide(); return false;' title="Продолжить"><img src="{$template_image}button_prodoljit.png"></a> <a href="{$base_url}/catalog/basket/" title="Оформить заказ"><img src="{$template_image}button_oformit-zakaz.png"></a></div></div>

<div style="position:absolute; z-index:90; border:1px solid #A01C08; background:#FFF; display:none;" id="ImageLayout"></div>

<table class="maintbl" align="center">
  <tr>
    <td class="top">
    <div {if !$basket_number || $basket}style="display:none;"{/if} class="baskettop" id="basket_block"><p>Товаров: <span id="basket_number">{$basket_number}</span> шт.<br>Сумма: <span id="basket_currency">{$basket_total|format_price}</span> руб.<br><input type="image" src="{$template_image}button_oformit.png" title="Оформить заказ" class="baskettopb" onClick="location = 'http://' + location.hostname + '/catalog/basket/';"></p></div>
    <div class="headiv"><h1>Интернет магазин шин и дисков</h1></div><div class="toptel">{$smarty.const.PHONE_CODE1} {$smarty.const.PHONE1}</div></td>
  </tr>
  <tr>
    <td class="tmenu">
        {foreach from=$main_menu item=item name=main_menu}
        	
        	<a href="{$base_url}/{if $item.url != 'home'}{$item.url|urlencode}/{/if}">{$item.name|strip_tags}</a>
        {/foreach}
    </td>
  </tr>
  <tr>
    <td class="mainbody">
        <table class="mainbodytbl">
          <tr>
            <td class="mainleft">
            {include file="../templates/left_menu.html"}
            </td>
            <td class="mainright">
            <img src="/templates/img/clear.png" width="870" height="1"><br>
            
            {if $page_content.url == 'home'}
            	{include file="../templates/form_search.html"}
            	{include file="../templates/top_filter.html"}
            {/if}
            
			{if $content=='' or !$content}
				{assign var="content" value=""}
				{fetch file=$template assign="content"}
			{/if}
			{eval var=$content}
            
            {if $page_content.url == 'home'}{include file="../templates/home_news_block.html"}{/if}
            
            </td>
          </tr>
        </table>
    </td>
  </tr>
  <tr>
    <td class="bottom">Информация о ценах и наличии является справочной! Указанные цены не являются офертой в понятии ст. 435 ГК РФ. <span class="bottomu">{*Товарищей на сайте - 23*} <a href="/map/">карта сайта</a></span>
    <br />
    <div>
<a href="http://torg.mail.ru/?prtnr=1&pid=11933&click=1"><img height="31" border="0" width="88" alt="Товары@Mail.ru" src="http://upload.torg.mail.ru/prtnr/?pid=11933"/></a>

<a href="http://www.horoshop.ru"><img src="http://www.horoshop.ru/images/horoshop88x31.gif" alt="Samsung, Nokia, Sony - каталог низких цен" title ="Хорошоп - каталог низких цен" border="1" width=88 height=31></a>

{literal}
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
var yaParams = {/*Здесь параметры визита*/};
</script>

<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter14231758 = new Ya.Metrika({id:14231758, enableAll: true, webvisor:true,params:window.yaParams||{ }});
        } catch(e) {}
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
{/literal}
<noscript><div><img src="//mc.yandex.ru/watch/14231758" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->    
    </div>
    
    </td>
  </tr>
</table>
</body>
</html>