            <table class="filtermain">
              <tr>
                
                <form action="{$base_url}/catalog/search/" method="GET">
            	<input type="hidden" name="filter_type" value="tire">
              
                <td class="filtermainl"><input type="image" src="{$template_image}button_nayti.gif" class="filtermainlb">
                
                <table class="filtermainlt">
                  <tr>
                    <td class="filtermainf">
             	    <select class="mainselect" name="tire_manufacturer">
             	    <option value="">Все</option>
             	    {foreach from=$tires_manufacturer item=tire}
             	    	{if trim($tire.name) != ""}
                      		<option value="{$tire.id}">{$tire.name}</option>
                      	{/if}
                    {/foreach}
                    </select>
                	</td>
                    <td>Производитель</td>
                  </tr>
                  <tr>
                    <td class="filtermainf">
             	    <select class="mainselect" name="tire_width">
             	    <option value="">Любая</option>
             	    {foreach from=$tires_width item=tire_width}
             	    	{if trim($tire_width.tire_width) != ""}
                      		<option value="{$tire_width.tire_width}">{$tire_width.tire_width|format_number}</option>
                      	{/if}
                    {/foreach}
                    </select>
                </td>
                    <td>Ширина</td>
                  </tr>
                  <tr>
                    <td class="filtermainf">
             	    <select class="mainselect" name="tire_height">
             	    <option value="">Любой</option>
             	    {foreach from=$tires_height item=tire_height}
             	    	{if $tire_height.tire_height > 0}
                      		<option value="{$tire_height.tire_height}">{$tire_height.tire_height|format_number}</option>
                      	{/if}
                    {/foreach}
                    </select>
                </td>
                    <td>Профиль</td>
                  </tr>
                  <tr>
                    <td class="filtermainf">
             	    <select class="mainselect" name="tire_diameter">
             	    <option value="">Любой</option>
             	    {foreach from=$tires_diameter item=tires_diameter}
             	    	{if $tires_diameter.tire_diameter > 0}
                      		<option value="{$tires_diameter.tire_diameter}">{$tires_diameter.tire_diameter|format_number}</option>
                      	{/if}
                    {/foreach}
                    </select>
                </td>
                    <td>Диаметр</td>
                  </tr>
                  <tr>
                    <td class="filtermainf">
             	    <select class="mainselect" name="tire_season">
             	    	<option value="">Любой</option>
                      	<option value="2">Лето</option>
                      	<option value="1">Зима</option>
                      	<option value="3">Всесезон</option>
                    </select>
                </td>
                    <td>Сезон</td>
                  </tr>
                  <tr>
                    <td class="filtermainf">
             	    <select class="mainselect" name="tire_spike">
                      <option value="1">Нет</option>
                      <option value="2">Да</option>
                    </select>
                </td>
                    <td>Наличие шипов</td>
                  </tr>
                  <tr>
                    <td colspan="2"><input type="checkbox" checked name="tire_sklad" value="1" id="tire_sklad"> <label for="tire_sklad">Есть на складе</label></td>
                  </tr>
                </table>
               </td></form>
           
           <form action="{$base_url}/catalog/search/" method="GET">
           	<input type="hidden" name="filter_type" value="disk">
               
                <td class="filtermainr"><input type="image" src="{$template_image}button_nayti.gif" class="filtermainrb">
                <table class="filtermainrt">
  <tr>
    <td>Производитель</td>
    <td class="filtermainf">
             	    <select class="mainselect" name="disk_manufacturer">
             	    <option value="">Все</option>
             	    {foreach from=$disk_manufacturer item=disk}
                      <option value="{$disk.id}">{$disk.name}</option>
                    {/foreach}
                    </select>
                </td>
  </tr>
  <tr>
    <td>Ширина</td>
    <td class="filtermainf">
             	    <select class="mainselect" name="disk_width">
             	    <option value="">Любая</option>
             	    {foreach from=$disk_width item=dwidth}
                      <option value="{$dwidth.disk_width}">{$dwidth.disk_width|format_number}</option>
                    {/foreach}
                    </select>
                </td>
  </tr>
  <tr>
    <td>Диаметр</td>
    <td class="filtermainf">
             	    <select class="mainselect" name="disk_diameter">
             	    <option value="">Любой</option>
             	    {foreach from=$disk_diameter item=ddiameter}
                      <option value="{$ddiameter.disk_diameter}">{$ddiameter.disk_diameter|format_number}</option>
                    {/foreach}
                    </select>
                </td>
  </tr>
  <tr>
    <td>Крепеж</td>
    <td class="filtermainf">
             	    <select class="mainselect" name="disk_krep">
             	    <option value="">Любой</option>
             	    {foreach from=$disk_krep item=dkrep}
                      <option value="{$dkrep.disk_krep}">{$dkrep.disk_krep|format_number}</option>
                    {/foreach}
                    </select>
                </td>
  </tr>
  <tr>
    <td>PCD</td>
    <td class="filtermainf">
             	    <select class="mainselect" name="disk_pcd">
             	    <option value="">Любой</option>
             	    {foreach from=$disk_pcd item=dpcd}
                      <option value="{$dpcd.disk_pcd}">{$dpcd.disk_pcd|format_number}</option>
                    {/foreach}
                    </select>
                
                </td>
  </tr>
  <tr>
    <td>ET</td>
    <td class="filtermainf">
             	    <select class="mainselect" name="disk_et">
             	    <option value="">Любой</option>
             	    {foreach from=$disk_et item=det}
                      <option value="{$det.disk_et}">{$det.disk_et|format_number}</option>
                    {/foreach}
                    </select>
                </td>
  </tr>
  <tr>
    <td>Цвет</td>
    <td class="filtermainf">
             	    <select class="mainselect" name="disk_color">
             	    <option value="">Любой</option>
             	    {foreach from=$disk_color item=dcolor}
                      <option value="{$dcolor.disk_color}">{$dcolor.disk_color}</option>
                    {/foreach}
                    </select>
                </td>
  </tr>
  <tr>
    <td colspan="2"><label for="disk_sklad">Есть на складе</label> <input type="checkbox" checked name="disk_sklad" id="disk_sklad" value="1"></td>
  </tr>
</table>
                </td></form>
              </tr>
			</table>
