<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
    <title>{$page_title}</title>
    <meta name="Keywords" content="{$meta_keywords}">
    <meta name="Description" content="{$meta_description}">
    {foreach from=$css item=css}
    <link rel="stylesheet" type="text/css" href="{$css}?ver={$VERSION}">
    {/foreach}
    {foreach from=$js item=js}
    <script src="{$js}?ver={$VERSION}" type="text/javascript"></script>
    {/foreach}
</head>
<body>
<table class="mtbl">
    <tr height="100%">
        <td id="tblinn">
            {include file="../templates/basket_block.html"}
            <div class="mihail"></div>
            {if $content=='' or !$content}
            {assign var="content" value=""}
            {fetch file=$template assign="content"}
            {/if}
            {eval var=$content}

            <ul class="sidemenu">
                {foreach from=$main_menu item=menu}
                    <li><a href="{$base_url}/{if $menu.url != 'home'}{$menu.url}/{/if}">{$menu.name}</a></li>
                {/foreach}
                {foreach from=$shop_menu item=shop}
                    <li><a href="{$base_url}/catalog/{$shop.url}/">{$shop.name}</a></li>
                {/foreach}
            </ul>
        </td>
    </tr>
    <tr height="100">
        <td colspan="3" class="bottom"><a href="mailto:vlasov641@yandex.ru" title="vlasov641@yandex.ru"><img src="/templates/img/email.png" width="377" height="66" alt="vlasov641@yandex.ru" id="bmail"></a></td>
    </tr>
</table>
</body>
</html>