<div class="contacts_form">
	<form action="" method="post" class="contacts_form">
		<input type="hidden" name="submit_contacts" value="1">
		<div class="cleft">Ваше имя</div><div class="cright"><input type="text" name="name" value="" /></div>
		<div class="cleft">Ваши контакты</div><div class="cright"><input type="text" name="contacts" value="" /></div>
		<div class="cleft">Ваши контакты</div><div></div>
		<div class><textarea name="message"></textarea></div>
		<div class="csubmit"><input type="submit" value="Отправить" /></div>
	</form>
</div>