body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	margin: 0px;
}

table { 
	border-collapse: collapse; 
} 



td { 
	padding : 0 0 0 0; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
} 

.text { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
} 

.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #2E3192;
	margin-top: 7px;
	margin-left: 3px;
}

A {
	text-decoration: none;
	color: #000000;
	font-family: Verdana;
	font-size: 11px;
}
A:active {
	text-decoration: none;
	color: #000000;
	font-family: Verdana;
	font-size: 11px;
}
A:visited {
	text-decoration: none;
	color: #000000;
	font-family: Verdana;
	font-size: 11px;
}
A:hover {
	text-decoration: underline;
	color: #000000;
	font-family: Verdana;
	font-size: 11px;
}

A.left {
	text-decoration: none;
	color: #2E3192;
	font-family: Verdana;
	font-size: 12px;
	cursor: hand;
	font-weight: bold;
}
A.left:active {
	text-decoration: none;
	color: #2E3192;
	font-family: Verdana;
	font-size: 12px;
	cursor: hand;
	font-weight: bold;
}
A.left:visited {
	text-decoration: none;
	color: #2E3192;
	font-family: Verdana;
	font-size: 12px;
	cursor: hand;
	font-weight: bold;
}
A.left:hover {
	text-decoration: underline;
	color: #7174CD;
	font-family: Verdana;
	font-size: 12px;
	cursor: hand;
	font-weight: bold;
}

A.white {
	text-decoration: none;
	color: #FFFFFF;
	font-family: Verdana;
	font-size: 12px;
	cursor: hand;
	font-weight: bold;
}
A.white:active {
	text-decoration: none;
	color: #FFFFFF;
	font-family: Verdana;
	font-size: 12px;
	cursor: hand;
	font-weight: bold;
}
A.white:visited {
	text-decoration: none;
	color: #FFFFFF;
	font-family: Verdana;
	font-size: 12px;
	cursor: hand;
	font-weight: bold;
}
A.white:hover {
	text-decoration: underline;
	color: #FFFFFF;
	font-family: Verdana;
	font-size: 12px;
	cursor: hand;
	font-weight: bold;
}

.mini {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #2E3192;
	text-decoration: none;
}

A.mini {
	text-decoration: underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #2E3192;
}
A.mini:active {
	text-decoration: underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #2E3192;
}
A.mini:visited {
	text-decoration: underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #2E3192;
}
A.mini:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #2E3192;
	text-decoration: none;
}
li.list {
	font-size: 12px;
	list-style-type: disc;
}
