{literal}
<script language="JavaScript">
function check_form() {
	if ((document.edit_template.template_name.value=='') || (document.edit_template.template_text.value=='')) {
		alert("Заполните, пожалуйста, обязательные поля");
		return false;
	}
	else {
		return true;
	}
}
</script>
{/literal}

{if $error_message}<center><font color=red>{$error_message}</font></center><br>{/if}
<form action="" name=edit_template method=post onSubmit="return check_form();">
{if $mode=='edit'}
<input type=hidden name=id value={$t.id}>
{/if}

<table width=100% class="content_table">
<tr><th>{if $mode=='edit'}Редактируем новость{else}Добавить шаблон{/if}</th></tr>
</table>

<table width=100% class="content_table">
<tr>
<td width=20% class=td1_left><font color=red>*</font> Название:</td><td class=td1_right><input type=text name=template_name style="width:100%" value="{$t.name}" class=field></td>
</tr>
<tr>
<td width=20% valign=top class=td1_left><font color=red>*</font> Шаблон:</td><td class=td1_right><textarea name=template_text style="width:100%" rows=20 class=field>{$t.template}</textarea></td>
</tr>
</table>
<br>
<center><input type=submit {if $mode=='edit'}name=submit_edit_template value="Сохранить изменения"{else}name=submit_add_template value="Добавить шаблон"{/if}></center>

</form>