<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<title>Элетронная почты подписчиков</title>
<link rel="stylesheet" type="text/css" href="templates/style.css">
</head>

<body>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<th style="color: white; font-size: 12px; height: 30px;" bgcolor="#3689d8">Электронная почта</th></tr>
{foreach from=$users_list item=user name=tree}
  <tr bgcolor="{cycle values="#ffffff,#f2f9f8"}">
    <td class="mails">{mailto address=$user.mail}</td>
  </tr>
{/foreach}
</table>

</body>
</html>
