Детализация импорта от {$import.date}
<table width=100% class=content_table>
	<tr class=table_content>
		<th class=td1_left>Тип действия</th>
		<th class=td1_right>Тип</th>
		<th class=td1_right>Название</th>
		<th class=td1_right>ID</th>
	</tr>
	
	{foreach from=$import.details item=item}
		<tr class=table_content>
			<td class=td1_left>{$item.type_import}</td>
			<td class=td1_right>{$item.type}</td>
			<td class=td1_right>{$item.name}</td>
			<td class=td1_right>{$item.id}</td>
		</tr>
	{/foreach}
	
</table>
