{literal}
<script language=JavaScript src='{/literal}{$base_url}/{literal}javascript/editor/scripts/language/russian/editor_lang.js'></script>
<script language=JavaScript src='{/literal}{$base_url}/{literal}javascript/editor/scripts{/literal}/{$editor_mode}{literal}'></script>

<SCRIPT language=JavaScript>
function swith_all(obj) {
	for(i=0; i<obj.elements.length; i++) {
		if (obj.elements[i].type=="checkbox" && obj.elements[i].id.indexOf("for_switch")!=-1) {
			obj.elements[i].checked=true;
		}
	}
}

function show(name, elem)
{
if(document.getElementById(name).style.display!="none") {
		document.getElementById(name).style.display="none";
		elem.className = "plus";
	}
	else {
		document.getElementById(name).style.display="";
		elem.className = "minus";
	}
}
function shows(name)
{
if(document.getElementById(name).style.display!="none") {
		document.getElementById(name).style.display="none";
	}
	else {
		document.getElementById(name).style.display="";
	}
}

function form_check() {
	//if (document.edit_cat.edit_cat_url.value=='') {
	if (false){
		alert("Заполните пожалуйста обязательные поля");
		return false;
	}
	else {
		document.edit_cat.edit_cat_text.value = cat_text.getHTMLBody();
		return true;
	}
}
</SCRIPT>
{/literal}

{if $error_message}<center><font color=red><b>{$error_message}</b></font></center><br><br>{/if}

<form action="" name=edit_cat method=post enctype="multipart/form-data" onSubmit="return form_check();">
{if $mode=='edit'}
<input type=hidden name=old_url value={$cat.url}>
<input type=hidden name=id value={$cat.id}>
<input type=hidden name=old_image value={$cat.image}>
{/if}
<input type=hidden name=old_parent value={$parent}>
<table width=100% class=content_table>
	<tr><th>{if $mode=='edit'}Редактировать категорию{else}Добавить категорию{/if}</th></tr>
</table>

<table width=100% class=content_table>
	<tr>
		<td width=20% class=td1_left>&nbsp;В раздел:</td>
		<td class=td1_right>
			<select name=edit_cat_parent style="width:100%;" class=field>
			{foreach from=$cat_list item=entry}
			<option value={$entry.id}{if $entry.id==$parent} selected=true{/if}>{$entry.full_title}</option>
			{/foreach}
			</select>
		</td>
	</tr>

	<tr class=table_content>
		<td class=td1_left>&nbsp;Название:</td>
		<td class=td1_right><input type=text name=edit_cat_name style="width:100%;" class=field value="{$cat.name}"></td>
	</tr>
	<tr class=table_content>
		<td class=td1_left><font color=red></font>URL (<small>не обзятаельное, генерируется автоматом</small>):</td>
		<td class=td1_right><input type=text name=edit_cat_url style="width:100%;" class=field value="{$cat.url}"></td>
	</tr>
	
 	{if $mode=="edit"}
	<tr>
		<td class=td1_single valign=top colspan="2">
			<p>&nbsp;Краткое описание:</p>
	<input type=hidden name=edit_cat_text value="">
	{if $editor_style!='html'}
	{literal}
	<script language="JavaScript">
					var cat_text = new InnovaEditor("cat_text");
				
						cat_text.btnStyles=true;
	
						cat_text.width="100%";
						cat_text.height="400";
	
						cat_text.css="style.css";
						cat_text.cmdAssetManager="modalDialogShow('{/literal}{$base_url}/{literal}javascript/editor/assetmanager/assetmanager.php?lang=russian',640,465)";
				
						cat_text.features=["FullScreen","Preview","Print","Search",
							"Cut","Copy","Paste","PasteWord","PasteText","|","Undo","Redo","|",
							"ForeColor","BackColor","|","Bookmark","Hyperlink",
							"XHTMLSource","Numbering","Bullets","|","Indent","Outdent","|","Image","|",
							"Table","Guidelines","Absolute","|","Characters","Line",
							"Clean","ClearAll","BRK",
							"StyleAndFormatting","TextFormatting","ListFormatting","BoxFormatting",
							"ParagraphFormatting","CssText","Styles","|",
							"Paragraph","FontName","FontSize","|",
							"Bold","Italic",
							"Underline","Strikethrough","|","Superscript","Subscript","|",
							"JustifyLeft","JustifyCenter","JustifyRight","JustifyFull"];
				
				
						cat_text.RENDER('{/literal}{$cat.text|replace:"\r\n":""}{literal}');
	</script>
	{/literal}
	{else}
	
	<div class=tag_box>
	<a href="add_tag" onclick="return insert_tag(document.edit_product.small_description,'<b>','</b>')" class=tag_button><b>B</b></a>
	<a href="add_tag" onclick="return insert_tag(document.edit_product.small_description,'<i>','</i>')" class=tag_button><i>I</i></a>
	<a href="add_tag" onclick="return insert_tag(document.edit_product.small_description,'<u>','</u>')" class=tag_button><u>U</u></a>
	<a href="add_tag" onclick="return insert_tag(document.edit_product.small_description,'<img src=>','</img>')" class=tag_button>IMG</a>
	<a href="add_tag" onclick="return insert_tag(document.edit_product.small_description,'<a href=>','</a>')" class=tag_button>URL</a>
	<a href="add_tag" onclick="return insert_tag(document.edit_product.small_description,'<br>','')" class=tag_button>BR</a>
	</div>
	
	<textarea id=cat_text class=field style="width:100%" rows=20>{$cat.text|replace:"\r\n":""}</textarea>
	
	{/if}
	{/if}
	<tr>
		<td valign=top class=td1_left>&nbsp;Картинка:</td><td class=td1_right>{if $mode=='edit' and $cat.image!=''}<img src={$base_url}/uploaded_files/category_images/medium-{$cat.image}><br><input type=checkbox name=delete_image> Удалить картинку<br><br>{/if}<input type=file name=edit_cat_image style="width:500px;" class=field></td>
	</tr>
	
	<tr>
		<td width=15% class=td1_left>&nbsp;Статус:</td>
		<td class=td1_right>
		<select name=edit_cat_status style="width: 500px;" class=field>
			<option value="1" {if $cat.status=='1'}selected=true{/if}>Активный</option>
			<option value="0" {if $cat.status=='0'}selected=true{/if}>Ждёт</option>
		</select>
		</td>
	</tr>
{if $mode=='edit'}
	<tr>
		<td class="td1_left" valign="top">&nbsp;Свойства товаров:<br>
		</td>
		<td class="td1_right">
        &nbsp;&nbsp;<input type="checkbox" onClick="swith_all(form)" id="switch_all_id"><label for="switch_all_id"> Выделить все</label><br><br>
		<div id=properties_box style="width:500px; height:150px; padding: 8pt 5pt 0pt 5pt; overflow-y: scroll; background:#ffffff;">
			<table width="100%">
				{foreach name=tree from=$properties item=entry}
					<tr>
						<td width="20"><input id="for_switch_{$entry.id}" type="checkbox" name="edit_cat_properties[]" value="{$entry.id}" {if in_array($entry.id,$cat.properties)}checked{/if}></td>
						<td width="30"><input name="edit_cat_properties_sort_order[{$entry.id}]" type="text" size="2" style="font-size: 7pt; padding: 0px; text-align: center" value="{if $entry.sort_order!=0}{$entry.sort_order}{/if}"></td>
						<td>&nbsp;<label for="for_switch_{$entry.id}">{$entry.name}</label></td>
					</tr>
				{/foreach}
			</table>
		</div>
		</td>
	</tr>
{/if}
	</table>

<table width=100% class=content_table>
	<tr>
		<th bgcolor=#99CCFF onClick="show('metas', this);" class="button plus" style="border-bottom: none; text-align: left; padding-left: 30px;"><b>Metas</b></th>
	</tr>
 </table>
    <div id="metas" style="display:{if $cat.meta_keywords!='' or $cat.meta_description!='' or $cat.title}all{else}none{/if};">
<table width=100% class=content_table>
	<tr>
		<td width=15% class=td1_left><b>Title:</b><br><small>(заголовок страницы)</small></td>
		<td class=td1_right><input type=text name=edit_cat_title style="width: 500px;" class=field value="{$cat.title}">
	</tr>
	<tr>
		<td width=15% class=td1_left><b>Кeywords:</b><br><small>(ключевые слова)</small></td>
		<td class=td1_right><textarea name=edit_cat_keywords class=field rows="4" style="width: 500px;">{$cat.meta_keywords}</textarea></td>
	</tr>

	<tr>
		<td class=td1_left><b>Description:<br><small></b>(описание страницы)</small></td>
		<td class=td1_right><textarea name=edit_cat_description class=field rows="4" style="width: 500px;">{$cat.meta_description}</textarea></td>
	</tr>
</table>

</div>

<br>
<center><input type=submit name={if $mode=='add'}submit_add_cat value="Добавить раздел"{else}submit_edit_cat value="Сохранить изменения"{/if}></center>
</form>