
    <div class="add"><a href="{$current_url}/add_ferm">Добавить линкферму</a></div>
    	<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-left: 5px;">
	{if count($ferms_list)>0}
		{foreach from=$ferms_list item=item}
          <tr>
            <td class="plus_is" valign="top"><div><a href="javascript:show('{$item.id}');"><div id="s_link_{$item.id}">&nbsp;</div></a></div></td>
            <td valign="top">
            
            	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr valign="top">
                    <td width="43"><a href="javascript:show('{$item.id}');"><img src="/templates/img/papka.gif" width="32" height="28" border="0" alt="Подробнее" title="Подробнее" style="margin: 0 5px;"></a></td>
                    <td>
                    
                    	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td><a target="_blank" href="{$item.url_name}"><strong>{$item.name}</strong></a><br>создан: {$item.publish_date}</td>
                            <td width="26"><a href="{$current_url}/edit/{$item.id}"><img src="/templates/img/page_edit.gif" width="16" height="16" border="0" alt="Редактировать" title="Редактировать" style="margin: 0 5px;"></a></td>
                            <td width="26"><a onClick="return confirm('Удалить');" href="{$current_url}/del/{$item.id}"><img src="/templates/img/page_delete.gif" width="16" height="16" border="0" alt="Удалить" title="Удалить" style="margin: 0 29px 0 5px;"></a></td>
                          </tr>
                        </table>

                    </td>
                  </tr>
                </table>
                
                <div style="padding: 8px 0 9px 10px; display: none;" id="link_{$item.id}">
                	<table width="100%" border="0" cellspacing="0" cellpadding="0" id="link">

                      <tr>
                        <th class="plus_small">&nbsp;</th>
                        <th bgcolor="#eeeeee" style="text-align: left;">Cписок URL</th>
                        <th bgcolor="#eeeeee" width="110">Действия</th>
                      </tr>

                      {foreach from=$ferm_urls item=item2}
                      {if $item2.ferm_id == $item.id}
                      	<tr>
                        <td class="plus_small"><div><img src="/templates/img/vp.gif" width="9" height="9" border="0" alt=""></div></td>
                        <td style="text-align: left;"><a target="_blank" href="{$item2.url}">{if trim($item2.name)==""}{$item2.url}{else}{$item2.name}{/if}</a></td>
                        <td><a href="{$current_url}/edit_url/{$item2.id}"><img src="/templates/img/data_edit.gif" width="16" height="16" border="0" alt="Редактировать" title="Редактировать" style="margin: 0 5px;"></a>
                        <a onClick="return confirm('Удалить данный УРЛ');" href="{$current_url}/del_url/{$item2.id}">
                        	<img src="/templates/img/data_delete.gif" width="16" height="16" border="0" alt="Удалить" title="Удалить" style="margin: 0 5px;">
                        </a>
                        </td>
                      </tr>
                      {/if}
			{/foreach}

                      <tr>
                        <td class="plus_small_is"><div><img src="/templates/img/plus_green.gif" width="9" height="9" border="0" alt=""></div></td>
                        <td style="text-align: left;" class="left"><a href="{$current_url}/add_url/{$item.id}">Добавить URL в линкферму</a></td>
                        <td>&nbsp;</td>
                      </tr>
                    </table>

                </div>
                
                
            </td>
          </tr>
          {/foreach}
         {/if}
          
          
          
        </table>

