{literal}
<script language="JavaScript">
function check_form() {
	if ((document.send_mail.mail_subj.value=='') || (document.send_mail.mail_text.value=='')) {
		alert("Заполните, пожалуйста, обязательные поля");
		return false;
	}
	else {
		return true;
	}
}
</script>
{/literal}

{if $error_message}<center><font color=red>{$error_message}</font></center><br>{/if}
<form action="" name=send_mail method=post onSubmit="return check_form();">
{if $mode=='edit'}
<input type=hidden name=id value={$t.id}>
{/if}

<table width=100% class="content_table">
<tr><th>Отправить письмо</th></tr>
</table>

<table width=100% class="content_table">
	<tr>
		<td width=20% class=td1_left nowrap>Группа подписчиков:</td>
		<td class=td1_right><select name=send_to class=field style="width: 400px;">
							<option value=0>Всем</option>
							{foreach from=$groups_list item=group}
								<option value={$group.id}>{$group.name}</option>
							{/foreach}
						</select>
        </td>
       </tr>
       <tr>
       <td class="td1_left">Шаблон письма:</td>
       <td valign="top" class="td1_right">
			
            <table width=100% cellspacing=1 cellpadding=2>
				<tr>
                <td width="200">
					 <select name=mail_template class=field style="width: 200px;">
                        <option value=""></option>
						{foreach from=$templates_list item=t}
								<option value={$t.id}>{$t.name}</option>
						{/foreach}
					</td>
					<td style="padding-left: 20px;">Тип письма: <select name=send_type class=field style="width: 97px;">
							<option value='text'>Текст</option>
							<option value='html'>HTML</option>
						</select>
					</td>

				</tr>
			</table>
		</td>
	</tr>
<tr>
<td width=20% class=td1_left>Тема письма: <font color=red>*</font></td><td class=td1_right><input type=text name=mail_subj style="width:400px;" class=field></td>
</tr>
<tr>
<td width=20% valign=top class=td1_left>Текст письма: <font color=red>*</font></td><td class=td1_right><textarea name=mail_text style="width:100%" rows=20 class=field></textarea></td>
</tr>
</table>
<br>
<center><input type=submit name=submit_send value="Отправить"></center>

</form>