{if !$basket}
<h1>Оформление заказа...</h1>

<script type="text/javascript">
//$("A.AddToBasket").click();
//location.reload();
</script>

{else}
{literal}
<script language="JavaScript">
function submit_customer_form(){
	if ((document.customer_form.customer_name.value == '')  | (document.customer_form.customer_tel.value == '') | (document.customer_form.customer_deliver.value == '')) {
		alert("Пожалуйста, заполните обязательные поля");
		return false;
	}
	else {
		return true;
	}
}
</script>
{/literal}

<!--BASKET-->
<h1>Оформление заказа</h1>

<form action="" method="post" onSubmit="return validateBasket(this);">
<table class="AddToBasket">
  {foreach from=$basket item=item name=for_basket}
  <tr>
    <td class="Image"><img src="{$catalog_image}medium-{$item.image}.{$item.ext}" border="0"></td>
    <td class="Price"><h2>{$item.price|string_format:"%.2f"} руб.</h2></td>
    <td class="Count"><input type="text" name="edit_number[{$item.id}]" value="{$item.number}"></td>
    {*<td><a href="{$module_url}/basket/delete/{$item.id}"><img src="{$template_image}minus.gif" width="16" height="15"></a></td>*}
    
  </tr>
  {/foreach}
</table>
<div class="obsh">Ваш заказ на сумму: <font style="font-size:18px; color:#21618e;">{$total_price}</font> {$currency_site.znak}</div>

<table class="Buttons"><tr>
{*<td width="100%"><input type="submit" value="Очистить" name="basket_remove"></td>*}
<td><input type="submit" value="Пересчитать" name="basket_recount"></td>
<td><input type="button" value="Утвердить" onclick="return location = '{if $user}{$base_url}/catalog/basket/step2{else}{$base_url}/catalog/basket/step1/{/if}';"></td>
</tr></table>

</form>

{*
{if $user}
<tr><td width=100% colspan=2>
<input type="image" name="confirm_order" class="button" src="templates/img/zakaz.gif" onClick="document.location.href='{$module_url}/basket/confirm';" />
{else}
<br><br>
Предлагаем Вам авторизироваться в системе.
<table width="100%">
  <tr>
    <td valign="top">{include file="../modules/cabinet/front/templates/edit_user2.html"}</td>
  </tr>
</table>
</td>
</tr>
{/if}


</table>
*}

{/if}
