{literal}
<SCRIPT language=JavaScript>
<!--
print();
function confirm_delete(delete_id,order_id)
{
if (confirm("Дейтсвительно удалить этот продукт из заказа?")) {
parent.location.href = "index.php?mod=shop&action=delete_from_order&id=" + delete_id + "&order_id=" + order_id;
}
}
-->
</SCRIPT>
{/literal}

<form name=change_status method=post>
<input type=hidden name=id value={$order.id}>
Статус заказа:
<select name=edit_status class=field onChange="this.form.submit();">
{foreach from=$status_list item=status}
<option value={$status.value} {if $status.value==$order.status}selected=true{/if}>{$status.name}</option>
{/foreach}
</select>


<br><br><br>

<h3 style="text-align: left">Заказ номер: {$order.id}</h3>

<b>Информация о покупателе:</b><br><br>

<table width=50% cellspacing=1 cellpadding=3>
<tr>
<td width=25%><b>Ф.И.О:</b></td><td>{$order.name}</td>
</tr>
<tr>
<td width=25%><b>Компания:</b></td><td>{$order.company}</td>
</tr>

<tr>
<td width=25%><b>E-Mail:</b></td><td>{$order.mail}</td>
</tr>

<tr>
<td width=25%><b>Телефон:</b></td><td>{$order.tel}</td>
</tr>

<tr>
<td width=25% valign=top><b>Адрес доставки:</b></td><td>{$order.deliver|nl2br}</td>
</tr>

<tr>
<td width=25% valign=top><b>Время и дата доставки:</b></td><td>{$order.timedate}</td>
</tr>

<tr>
<td width=25% valign=top><b>Комментарии:</b></td><td>{$order.comments|nl2br}</td>
</tr>
<tr>
<td width=25% valign=top><b>Договор:</b></td><td>Ознакомлен</td>
</tr>

<tr>
<td width=25% valign=top><b>Доставка:</b></td><td>
<select name="edit_is_delivery" onChange="this.form.submit();">
<option value="" >нет</option>
<option value=0 {if $order.is_delivery=="0"}selected{/if}>Москва</option>
<option value=1 {if $order.is_delivery=="1"}selected{/if}>MO</option>
<option value=2 {if $order.is_delivery=="2"}selected{/if}>В указанное время</option>
<option value=3 {if $order.is_delivery=="3"}selected{/if}>Самовывоз</option>
</select>
</td>
</tr>

<tr>
<td width=25% valign=top><b>Сборка:</b></td><td>
<select name="edit_is_install" onChange="this.form.submit();">
<option value="0" >нет</option>
<option value="1" {if $order.is_install=="1"}selected{/if}>Есть</option>
</select>
</td>
</tr>

</table>
</form>
<br><br><br>

{if $products_list}
<form action="" method=post>
<input type=hidden name=id value={$order.id}>
  <table width=100% class=content_table>

  <tr>{*<th width=5%>ID</th>*}<th>Название</th><th width=10%>Кол-во</th><th width=10%>Цена</th><th width=10%>Артикул</th></tr>

  {foreach from=$products_list item=entry}

  {if $col==1}
  {assign var="td" value='td1'}
  {assign var="col" value=0}
  {else}
  {assign var="td" value='td2'}
  {assign var="col" value=1}
  {/if}
  <tr>
{*
      <td class={$td}_left align=center>
        {$entry.id}
      </td>
*}
      <td class={$td}_left>
        {$entry.name}
      </td>
      <td class={$td}_middle align=center>
        <input type=text name=edit_number[{$entry.id}] value="{$entry.number}" class=field style="width:100%;">
      </td>
      <td class={$td}_middle>
        {math equation="x * y" x=$entry.price y=$entry.number format="%.2f"} {$currency}
      </td>
      <td class={$td}_middle>
        {$entry.art}
      </td>
    </tr>

  {/foreach}
  {math equation="x" x=$order.total_price assign=total_price}
  <tr>
    <td colspan="2" align="right" class=td1_middle><b>Доставка: &nbsp;&nbsp;</b></td>
    <td class=td1_middle>
      {if $order.total_price<35000}
        {if $order.is_delivery=="0"}{$smarty.const.IS_DELIVERY_M} {$currency}{math equation="x+y" x=$total_price y=$smarty.const.IS_DELIVERY_M assign=total_price}
        {elseif $order.is_delivery=="1"}{$smarty.const.IS_DELIVERY_MO} {$currency}{math equation="x+y" x=$total_price y=$smarty.const.IS_DELIVERY_MO assign=total_price}<br> + 45 руб./км
        {elseif $order.is_delivery=="2"}{$smarty.const.IS_DELIVERY_TIME} {$currency}{math equation="x+y" x=$total_price y=$smarty.const.IS_DELIVERY_TIME assign=total_price}
        {else}&nbsp;
        {/if}
      {else}
        <font color="red" size="+1">бесплатно</font>
      {/if}
    </td>
    <td colspan="2" class=td1_right>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" align="right" class=td2_left><b>Сборка: &nbsp;&nbsp;</b></td>
    <td class=td2_middle>
      {if $order.is_install=="1"}
        {assign var=plus value=0}
        {if $order.total_price<35000}
          {$smarty.const.IS_INSTALL}% &mdash; {math equation="x*(y/100)" x=$order.total_price y=$smarty.const.IS_INSTALL assign=plus}
        {else}
          {$smarty.const.IS_INSTALL_2}% &mdash; {math equation="x*(y/100)" x=$order.total_price y=$smarty.const.IS_INSTALL_2 assign=plus}
        {/if}
        {$plus} {$currency}
      {/if}
    </td>
    <td colspan="2" class=td2_right>&nbsp;</td>
  </tr>
  </table>

 {math equation="x+y" x=$plus y=$total_price assign=total_price}
<table width=100% class=content_table>

  <tr><td width=5%></td><td></td><td width=10% align=right><b>Итого:</b></td><td width=20%><font color=red><b>{$total_price} {$currency}</b></font></td></tr>


</table>
</form>
{else}
<center>В заказе нет позиций</center>
{/if}