{literal}
<DIV id=dhtmltooltip></DIV>
<SCRIPT language=JavaScript>
<!--
function confirm_delete(delete_id) {
  if (confirm("Дейтсвительно удалить это метро?")) parent.location.href = "?mod=regions&action=delete_metro&id=" + delete_id;
}

function select_all(elem, str) {
  for (i=0; i<elem.form.elements.length; i++) {
    if (elem.form.elements[i].type=="checkbox" && elem.form.elements[i].name.indexOf(str)==0) {
      elem.form.elements[i].checked=elem.checked;
    }
  }
}
-->
</SCRIPT>
<script language=JavaScript src='{/literal}{$base_url}{literal}/javascript/tooltips.js'></script>
{/literal}

<table width=100%>
<tr>
<td valign="top">
<form action="" method=GET name=city_sort>
<input type=hidden name=mod value=regions>
<input type=hidden name=action value=metros_list>
<input type=hidden name=page value={$current_page}>
Сортировать по городам:
<select name=city class=field onChange="document.city_sort.submit();" style="width: 100%">
<option selected value="">Все города</option>
{foreach from=$citys_list item=entry}
<option value={$entry.id} {if $city==$entry.id}selected=true{/if}>{$entry.name}</option>
{/foreach}
</select>
</form>
</td>
</tr></table>
<br>

<form action="" method="post">
  <input type="hidden" name="action" value="resort_order">
  <input type="hidden" name="parent_city" value="{$city}">
<table width=100% class=content_table>
  <th>Метро</th>
  <th width="8%">Статус </th>
  <th width="10%">Действия</th>
  </tr>
{if $metros_list}
  {foreach name=tree from=$metros_list item=entry}

  {if $col==1}
  {assign var="td" value='td1'}
  {assign var="col" value=0}
  {else}
  {assign var="td" value='td2'}
  {assign var="col" value=1}
  {/if}
  <tr onmouseover="flatlinkOver(this)" {if $smarty.foreach.tree.iteration%2==1}onmouseout="flatlinkOut(this)"{else}onmouseout="flatlinkOut1(this)"{/if}>
      <td class={$td}_left>
        <small><font color=#666666>{$entry.city_name}</font></small><br><img src="templates/img/tree.gif"><a href="?mod=regions&action=edit_metro&id={$entry.id}"><b>{$entry.name}</b></a>
      </td>

      <td class={$td}_middle align=center>
      <a href="?mod=regions&action=change_metro_status&id={$entry.id}" title="Изменить статус"><img src=templates/img/status_{$entry.status}.gif border=0></a>
      </td>

      <td align=center class={$td}_right>
        <a href="javascript:confirm_delete('{$entry.id}');" class=img_link onmouseover="ddrivetip('Удалить метро')" onmouseout=hideddrivetip()><img src=templates/img/ico_delete.gif border=0></a>
        <a href=?mod=regions&action=edit_metro&id={$entry.id} class=img_link onmouseover="ddrivetip('Редактировать метро')" onmouseout=hideddrivetip()><img src=templates/img/ico_edit.gif border=0></a>
      </td>
    </tr>

  {/foreach}
  {else}
<tr>
<td colspan="3" class="td1_middle" style="height: 25px;">
<center>{if !$search}В этом городе нет метро{else}Ничего не найдено!{/if}</center></td></tr>
{/if}
</table>
</form>

<br>
<div class="add_but" style="float: left;" onClick="location.href='?mod=regions&action=add_metro{if $cat}&reg={$reg}{/if}'"><div><a href="?mod=regions&action=add_metro{if $cat}&reg={$reg}{/if}">добавить метро</a></div></div>

{if $total_pages>1}
<br><br>
<div class="listing">
<li class="str">
<ul>
<li class="center"><a href="?mod=regions&action=metros_list&city={$city}&sort={$sort}&order={$order}&page=1">&laquo;</a>
{section name=p loop=$pages}
  {if $pages[p]==$current_page}
  <a class="active" href="?mod=regions&action=metros_list&city={$city}&sort={$sort}&order={$order}&page={$pages[p]}">{$pages[p]}</a>
  {else}
  <a href="?mod=regions&action=metros_list&city={$city}&sort={$sort}&order={$order}&page={$pages[p]}">{$pages[p]}</a>
  {/if}
{/section}
<a href="?mod=regions&action=metros_list&city={$city}&sort={$sort}&order={$order}&page={$total_pages}">&raquo;</a></li>
</ul></li></div>{/if}

