<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Сравнить позиции</title>
<meta http-equiv="content-type" content="text/html; charset=windows-1251">
</head>

<body>
{if $products_list}
<h1>Сравнение товаров из категории {$cat_name}</h1>
<p align="right">
	<a href={$base_url}/shop/basket>Моя корзина</a><br>
	{if $basket_number>0}Товаров: {$basket_number} на {$basket_total} {$currency}{/if}
</p>
<table width="100%" border="1">
	<tr>
		<td></td>
		{foreach from=$products_list item=entry name=ff}<td align="center" width="{math equation="x/y" x=100 y=$smarty.foreach.ff.total format="%.2d"}%">{if $entry.image}<img src="uploaded_files/shop/resized-{$entry.image}.{$entry.ext}" alt="{$entry.title}">{else}<small>нет фото</small>{/if}</td>{/foreach}
	</tr>
	<tr>
		<td>Название</td>
		{foreach from=$products_list item=entry}<td>{if $entry.hit=='1'}<b>{$entry.name}</b>{else}{$entry.name}{/if}</td>{/foreach}
	</tr>
	<tr>
		<td>Цена</td>
		{foreach from=$products_list item=entry}<td>{$entry.price} {$currency}</td>{/foreach}
	</tr>
	<tr>
		<td>Оценка</td>
		{foreach from=$products_list item=entry}<td>{$entry.rating}</td>{/foreach}
	</tr>
	<tr>
		<td>Описание</td>
		{foreach from=$products_list item=entry}<td>{$entry.small_description}</td>{/foreach}
	</tr>
	{if $products_list.0.properties!=""}
		{foreach from=$products_list.0.properties item=item name=ff}
		<tr>
			<td>{$item.1}</td>
			{foreach from=$products_list item=entry}
				<td>
					{assign var=pr value=$smarty.foreach.ff.iteration-1}
					{if $entry.properties.$pr.5!=""}{$entry.properties.$pr.5}{else}<small>нет данных</small>{/if}
				</td>
			{/foreach}
		</tr>
		{/foreach}
	{/if}
	<tr>
		<td></td>
		{foreach from=$products_list item=entry}<td align="center"><a href="{$module_url}/basket/add/{$entry.id}">купить</a></td>{/foreach}
	</tr>
</table>
{/if}
</body>
</html>
