Вы искали: <b>{$search_string}</b>
<br><br>

Результаты поиска:
<br><br>
{if !$search_results}

<center>Ничего не найдено</center>

{else}

{foreach from=$search_results item=entry}
• <b><a href={$module_url}/{$entry.full_url}{$entry.id}>{$entry.name|regex_replace:"/$search_string/i":"<font color=red>$search_string</font>"}</a></b><br>
<small>Цена: <font color=red><b>{$entry.price} {$currency_site.znak}</b></font></small><br>
{$entry.small_description|regex_replace:"/$search_string/i":"<font color=red>$search_string</font>"}
<br><br>
{/foreach}


{if $total_pages!=1}
<br>
<center>
Страница: <a href="{$current_url}&page=1"><<</a>

{section name=p loop=$pages}
	{if $pages[p]==$current_page}
	{$pages[p]}
	{else}
	<a href="{$current_url}&page={$pages[p]}">{$pages[p]}</a>
	{/if}
{/section}

<a href="{$current_url}&page={$total_pages}">>></a>
</center>
{/if}

{/if}