        <div class="lister">
        	{if $parent.id == $smarty.const.TIRES_ID}
	        	{foreach from=$tires_manufacturer item=brand}
	        	<a href="/katalog/shini/{$brand.url}/" title="{$brand.name|strip_tags}">{$brand.name|strip_tags}</a><br />
	        	{/foreach}
	        {elseif $parent.id == $smarty.const.DISK_ID}
	        	{foreach from=$disk_manufacturer item=brand}
	        	<a href="/katalog/diski/{$brand.url}/" title="{$brand.name|strip_tags}">{$brand.name|strip_tags}</a><br />
	        	{/foreach}
			{/if}	        
        </div>