{if $error_message}<br><font color=red>{$error_message}</font><br><br>{/if}

<form action="" method=POST>
{if $mode=='edit'}
<input type=hidden name=id value={$id}>
<input type=hidden name=old_password value={$user.password}>
<input type=hidden name=old_login value={$user.login}>
{/if}
<table width=100% class=content_table>
	<tr>
		<th>{if $mode=='edit'}Редактировать пользователя{else}Добавить пользователя{/if}</th>
	</tr>
</table>


<table width=100% class=content_table>
	<tr>
		<td width=15% class=td1_left>Ф.И.О:</td>
		<td class=td1_right><input type=text name=edit_user_name style="width:100%" class=field value="{$user.name}"></td>
	</tr>
	{if $mode=='edit'}	
	<tr>
		<td width=15% class=td1_left>Логин:</td>
		<td class=td1_right><input type=text name=edit_user_login style="width:100%" class=field value="{$user.login}"></td>
	</tr>
	<tr>
		<td width=15% class=td1_left>Изменить пароль:</td>
		<td class=td1_right><input type=text name=edit_user_password style="width:100%" class=field></td>
	</tr>
	{else}
	<tr>
		<td width=15% class=td1_left><font color=red><small>*</small></font>Логин:</td>
		<td class=td1_right><input type=text name=edit_user_login style="width:100%" class=field></td>
	</tr>
	<tr>
		<td width=15% class=td1_left><font color=red><small>*</small></font>Пароль:</td>
		<td class=td1_right><input type=text name=edit_user_password style="width:100%" class=field></td>
	</tr>
	{/if}
	<tr>
		<td width=15% class=td1_left>E-mail:</td>
		<td class=td1_right><input type=text name=edit_user_mail style="width: 100%;" class=field value="{$user.mail}"></td>
	</tr>
	<tr>
		<td width=15% class=td1_left>Телефон:</td>
		<td class=td1_right><input type=text name=edit_user_tel style="width: 100%" class=field value="{$user.tel}"></td>
	</tr>
	
	<tr>
		<td width=15% class=td1_left>Адрес доставки:</td>
		<td class=td1_right><textarea name=edit_user_deliver style="width: 400px;; height: 60px;" class=field>{$user.deliver}</textarea></td>
	</tr>
	<tr>
		<td width=15% class=td1_left>Права:</td>
		<td class=td1_right>
		<select name=edit_user_priv style="width: 400px;" class=field>
		{foreach from=$priv_list item=entry}
		<option value={$entry.id} {if $entry.id==$user.group_id}selected=true{/if}>{$entry.name}</option>
		{/foreach}
		</select>
		</td>
	</tr>
	<tr>
		<td width=15% class=td1_left>Статус:</td>
		<td class=td1_right>
		<select name=edit_user_status style="width: 400px;" class=field>
		<option value=1 {if $user.status=='1'}selected=true{/if}>Активен</option>
		<option value=0 {if $user.status=='0'}selected=true{/if}>Заблокирован</option>
		</select>
		</td>
	</tr>
</table>
<br>
<center><input type=submit {if $mode=='edit'}name=submit_edit_user value="Сохранить изменения"{else}name=submit_add_user value="Добавить пользователя"{/if}></center>
</form>