<DIV id=dhtmltooltip></DIV>
{literal}
<SCRIPT LANGUAGE="JavaScript"><!--
function confirm_delete(delete_id)
{
if (confirm("Дейтсвительно удалить этого пользователя?")) {
parent.location.href = "?mod=users&action=delete_user&id=" + delete_id;
}
}
--></script>
<script language=JavaScript src='{/literal}{$base_url}{literal}/javascript/tooltips.js'></script>
{/literal}
{if $error_message}<br><font color=red>{$error_message}</font><br><br>{/if}
<table width="100%">
	<tr>
		<td width="200">{if count($groups)>0}
	<form action="" method="get" name="frm_groups">
		<input type="hidden" name="mod" value="users">
		<select name="groups" onChange="document.frm_groups.submit();" style="width: 200px;">
			<option selected="selected" value="">Все</option>
			{foreach from=$groups item=item}
				<option {if $smarty.get.groups==$item.id}selected{/if} value="{$item.id}">{$item.name}</option>
			{/foreach}
		</select>
	</form>
{/if}</td>
		<td align="left" width="80%">
			<table width="100%">
				<tr>
					<td>Английский:</td>
					<td align="left" width="87%">
						{foreach from=$char_list item=item name=for1}
							{if $item.STR_CODE < 192}
								{if $line}|&nbsp;{/if}{if trim($smarty.get.char)==$item.STR}{$item.STR}{else}<a href="?mod=users&char={$item.STR}"><strong>{$item.STR}</strong></a>{/if}
								{assign var=line value=1}
							{/if}	
						{/foreach}
					</td>	
				</tr>
				<tr>
					<td>Русский:</td>
					<td align="left">
						{foreach from=$char_list item=item name=for1}
							{if $item.STR_CODE > 191}
								{if $line2}|&nbsp;{/if}{if trim($smarty.get.char)==$item.STR}{$item.STR}{else}<a href="?mod=users&char={$item.STR}"><strong>{$item.STR}</strong></a>{/if}
								{assign var=line2 value=1}
							{/if}
						{/foreach}
					</td>	
				</tr>
			</table>
		</td>
	</tr>
</table>
<br>
<table width=100% class=content_table>
	<tr><th>Имя</th><th width=15%>Дата регистрации</th><th width=15%>Логин</th><th width=15%>Группа</th><th width=10%>Статус</th><th width=10% align=center>Действия</th></tr>
	{foreach from=$users_list item=entry name=tree}
	{if $col==1}
	{assign var="td" value='td1'}
	{assign var="col" value=0}
	{else}
	{assign var="td" value='td2'}
	{assign var="col" value=1}
	{/if}
	<tr onmouseover="flatlinkOver(this)" {if $smarty.foreach.tree.iteration%2==1}onmouseout="flatlinkOut(this)"{else}onmouseout="flatlinkOut1(this)"{/if}>
			<td class={$td}_left><a href="?mod=users&action=edit_user&id={$entry.id}"><strong>{$entry.name}</strong></a></td>
			<td class={$td}_middle>{$entry.reg_date|date_format:"%d.%m.%Y"}</td>
			<td class={$td}_middle>{$entry.login}</td>
			<td class={$td}_middle><a href="?mod=users&groups={$entry.group_id}">{$entry.priv}</a></td>
			<td align=center class={$td}_middle><a href="?mod=users&action=change_user_status&id={$entry.id}" title="Изменить статус"><img src=templates/img/status_{$entry.status}.gif border=0></a></td>
			<td align=center class={$td}_right><a href="javascript:confirm_delete('{$entry.id}');" class=img_link onmouseover="ddrivetip('Удалить пользователя')" onmouseout=hideddrivetip()><img src=templates/img/ico_delete.gif border=0></a>
			<a href=?mod=users&action=edit_user&id={$entry.id} class=img_link onmouseover="ddrivetip('Редактировать данные пользователя')" onmouseout=hideddrivetip()><img src=templates/img/ico_edit.gif border=0></a></td>
		</tr>
	{/foreach}	
	</table>

    <br><br>
<div class="add_but" style="float: left;" onClick="location.href='index.php?mod=users&action=add_user'"><div><a href="index.php?mod=users&action=add_user">добавить пользователя</a></div></div>
    
{if $total_pages>1}
<br><br>
<div class="listing">
<li class="str">
<ul>
<li class="center"><a href="?mod=users&sort={$sort}&page=1">&laquo;</a>
{section name=p loop=$pages}
  {if $pages[p]==$current_page}
  <a class="active" href="?mod=users&sort={$sort}&page={$pages[p]}">{$pages[p]}</a>
  {else}
  <a href="?mod=users&sort={$sort}&page={$pages[p]}">{$pages[p]}</a>
  {/if}
{/section}
<a href="?mod=users&sort={$sort}&page={$total_pages}">&raquo;</a></li>
</ul></li></div>{/if}    