{if $banner.type == 2}
	{$banner.code}
{elseif $banner.image !=''}
	<div class="banner{$banner.id}">
	{if $banner.type=='0'}
	<a href="{$base_url}/go.php?target={$banner.id}" target="_blank"><img src="{$base_url}/uploaded_files/banners/{$banner.id}.{$banner.image}"></a>
	{elseif $banner.type == '2'}
	{$banner.code}
	{else}
	
	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="{$width}" height="{$height}">
		<param name="movie" value="{$base_url}/uploaded_files/banners/{$banner.id}.{$banner.image}?clickTag={$base_url}/go.php?target={$banner.id}&clickTarget=_blank">
		<param name="quality" value="high">
		<param name="wmode" value="transparent">
		<embed src="{$base_url}/uploaded_files/banners/{$banner.id}.{$banner.image}" wmode="transparent" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="{$width}" height="{$height}"></embed>
	</object>
	{/if}
	</div>
{/if}