
    <div class="add" style="background: url('img/add_sp.gif') no-repeat;">Проект: {$url_item.p_name}<br><div class="green"><a href="{$url_item.url}">{if trim($url_item.name)==""}{$url_item.url}{else}{$url_item.name}{/if}</a></div></div>
    <div style="padding-left: 31px;"><a href="/projects/text/{$url_item.id}">тексты</a> <span class="over">{$url_item.count_text}</span> | <a href="/projects/links/{$url_item.id}">размещены</a> <span class="over">{$count_inner}</span> | разместить</div>

   
    	<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-left: 5px;">
	{if count($ferms_list)>0}
    	<form method="post" name="frmAdd">
        <input type="hidden" name="submit_add_project_ferms" value="1">
        <input type="hidden" name="url_id" value="{$url_item.id}">
		{foreach from=$ferms_list item=item}
          <tr>
            <td class="plus_is" valign="top"><div><a href="javascript:show('{$item.id}');"><div id="s_link_{$item.id}">&nbsp;</div></a></div></td>
            <td valign="top">
            
            	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr valign="top">
                    <td width="43"><a href="javascript:show('{$item.id}');"><img src="/templates/img/papka.gif" width="32" height="28" border="0" alt="Подробнее" title="Подробнее" style="margin: 0 5px;"></a></td>
                    <td>
                    	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td>
                            	<a target="_blank" href="{$item.url_name}"><strong>{$item.name}</strong></a><br>создан: {$item.publish_date}
                                </td>
                            <td width="26"></td>
                            <td width="26"></td>
                          </tr>
                        </table>
                    </td>
                  </tr>
                </table>
                
                <div style="padding: 8px 0 9px 10px; display: none;" id="link_{$item.id}">
                	<table width="100%" border="0" cellspacing="0" cellpadding="0" id="link">

                      <tr>
                        <th class="plus_small">&nbsp;</th>
                        <th bgcolor="#eeeeee" style="text-align: left;">Cписок URL</th>
                        <th>&nbsp;</th>
                        <th bgcolor="#eeeeee" width="110">Действия</th>
                      </tr>

                      {foreach from=$ferm_urls item=item2}
                      {if $item2.ferm_id == $item.id}
                      	<tr>
                        <td class="plus_small"><div><img src="/templates/img/vp.gif" width="9" height="9" border="0" alt=""></div></td>
                        <td style="text-align: left;">
                        	<a target="_blank" href="{$item2.url}">{if trim($item2.name)==""}{$item2.url}{else}{$item2.name}{/if}</a>
                        </td>
                        <td align="left">
                        	{if count($url_texts)>0}
                            	<select name="s[{$item2.id}]" onChange="void(getSelInput(this,{$item2.id}));">
                                	<option selected value=""> - выбрать - </option>
                                	{foreach from=$url_texts item=item3}
                                    	<option value="{$item3.id}">{$item3.text}</option>
                                    {/foreach}
                                </select>
                            {/if}
                        </td>
                        <td><input type="checkbox" id="inp{$item2.id}" name="sel[{$item2.id}]"></td>
                      </tr>
                      {/if}
			{/foreach}
                    </table>

                </div>
                
                
            </td>
          </tr>
          {/foreach}
			</form>
            <tr>
            	<td colspan="5"><a href="javascript: void(saveLinks(document['frmAdd']));">Сохранить</a></td>
            </tr>          
         {/if}
          
          
          
        </table>

