{literal}
<script language="JavaScript">
function change_href() {
	document.getElementById('href').href="index.php?mod=search&action=delete_only&max="+document.getElementById('input').value;
}
function show(name, elem)
{
if(document.getElementById(name).style.display!="none") {
		document.getElementById(name).style.display="none";
		elem.className = "plus";
	}
	else {
		document.getElementById(name).style.display="";
		elem.className = "minus";
	}
}
</script>
{/literal}
<table width=100% class=content_table>
	<tr><th>Статистика поисковых запросов</th><th width=20% align=center>Кол-во</th></tr>
	{foreach from=$statistics item=stat name=tree}
	{if $col==1}
	{assign var="td" value='td1'}
	{assign var="col" value=0}
	{else}
	{assign var="td" value='td2'}
	{assign var="col" value=1}
	{/if}
	<tr onmouseover="flatlinkOver(this)" {if $smarty.foreach.tree.iteration%2==1}onmouseout="flatlinkOut(this)"{else}onmouseout="flatlinkOut1(this)"{/if}>
	<td class={$td}_left>{$stat.query}</td>
	<td class={$td}_right align="center">{$stat.number}</td>
	</tr>
	{/foreach}
</table>
<table width=100% class=content_table>
	<tr>
		<th bgcolor=#99CCFF onClick="show('metas', this);" class="button plus" style="border-bottom: none; text-align: left; padding-left: 30px;"><b>Дополнительно</b></th>
	</tr>
 </table>
    <div id="metas" style="display: none;">
<table width=100% class=content_table>
	<tr>
		<td width=15% class=td2_left><strong>Статистика:</strong></td>
		<td class=td2_right><a href=index.php?mod=search&action=delete_statistics style="text-decoration: underline;"><strong>Удалить всю статистику</strong></a>
	</tr>
    <tr>
		<td width=15% class=td1_left>&nbsp;</td>
		<td class=td1_right><a href="index.php?mod=search&action=delete_only&max=1" style="text-decoration: underline;"><strong>Удалить, где не больше</strong></a> <input id=input type=text name=max_number value="1" class=field style="width:30px" onkeyup="change_href()"> запросов</td>
	</tr>
</table>
	{if $total_pages>1}
	<br><br>
	<center>
	Страница: <a href="index.php?mod=search&action=full_statistics&page=1"><<</a>
	
	{section name=p loop=$pages}
		{if $pages[p]==$current_page}
		{$pages[p]}
		{else}
		<a href="index.php?mod=search&action=full_statistics&page={$pages[p]}">{$pages[p]}</a>
		{/if}
	{/section}
	
	<a href="index.php?mod=search&action=full_statistics&page={$total_pages}">>></a>
	</center>
	{/if}