<DIV id=dhtmltooltip></DIV>

{literal}
<script language="JavaScript">
function confirm_delete(delete_id) {
	if (confirm("Дейтсвительно удалить этот опрос?")) {
		parent.location.href = "?mod=polls&action=delete_poll&id=" + delete_id;
	}
}
</script>
<script language=JavaScript src='{/literal}{$base_url}{literal}/javascript/tooltips.js'></script>
{/literal}

<table width=100% class="content_table">
<tr>
<th>Опрос</th><th width=20%>Опубликован</th><th width=10%>Статус</th><th width=10%>Действия</th>
</tr>
{if $polls_list}
{foreach from=$polls_list item=poll name=tree}
{if $col==1}
{assign var="td" value='td1'}
{assign var="col" value=0}
{else}
{assign var="td" value='td2'}
{assign var="col" value=1}

{/if}
{if $poll.status=='0'}{assign var="status" value="<font color=#f7c21e><b>Ждёт</b></font>"}{/if}
{if $poll.status=='1'}{assign var="status" value="<font color=green><b>Активный</b></font>"}{/if}
{if $poll.status=='2'}{assign var="status" value="<font color=red><b>Завершён</b></font>"}{/if}
<tr onmouseover="flatlinkOver(this)" {if $smarty.foreach.tree.iteration%2==1}onmouseout="flatlinkOut(this)"{else}onmouseout="flatlinkOut1(this)"{/if}>
<td class={$td}_left><a href="?mod=polls&action=edit&id={$poll.id}"><strong>{$poll.name}</strong></a></td><td class={$td}_middle align="center" style="font-size: 11px;"><B>{$poll.publish_date|date_format:"%d"}&nbsp;{$poll.publish_date|date_format:"%B"}&nbsp;{$poll.publish_date|date_format:"%Y"}</B><br>{$poll.publish_date|date_format:"%T"}</td><td class={$td}_middle align=center>{$status}</td><td class={$td}_right align=center><a href="javascript:confirm_delete('{$poll.id}');" class=img_link onmouseover="ddrivetip('Удалить опрос')" onmouseout=hideddrivetip()><img src=templates/img/ico_delete.gif border=0></a><a href=?mod=polls&action=edit&id={$poll.id} class=img_link onmouseover="ddrivetip('Редактировать опрос')" onmouseout=hideddrivetip()><img src=templates/img/ico_edit.gif border=0></a></td>
</tr>
{/foreach}
{else}
<tr>
<td colspan="2" style="height: 25px;" class="td1_middle">
<center>В системе нет опросов.</center></td></tr>
{/if}
</table>
<br>
<div class="add_but" onClick="location.href='?mod=polls&action=add'"><div><a href="?mod=polls&action=add">добавить опрос</a></div></div>
{if $total_pages>1}
<br><br>
<div class="listing">
<li class="str">
<ul>
<li class="center"><a href="?mod=news&page=1">&laquo;</a>
{section name=p loop=$pages}
  {if $pages[p]==$current_page}
  <a class="active" href="?mod=news&page={$pages[p]}">{$pages[p]}</a>
  {else}
  <a href="?mod=news&page={$pages[p]}">{$pages[p]}</a>
  {/if}
{/section}
<a href="?mod=news&page={$total_pages}">&raquo;</a></li>
</ul>
</li>
</div>
{/if}