<table width=100% class="content_table">
<tr>
<th colspan="2">Общая статистика по сайту</th></tr>
<tr>
<td width="280" class="td1_left">На сайте узлов:</td>
<td class="td1_right">{$count_cat}</td></tr>
<tr>
<td width="280" class="td2_left">Документов:</td><td class="td2_right">{$count_documents}</td>
</tr>
<tr>
<td width="280" class="td1_left">Пользователей:</td><td class="td1_right">{$count_users}</td>
</table>

{if count($last_orders)>0}
<br><br>
<table width=100% class="content_table">
<tr>
	<th colspan="4">
		<strong>Последние заказы</strong>
	</th>
</tr>
{foreach from=$last_orders item=item name=ns}
{if $col==1}
{assign var="td" value='td1'}
{assign var="col" value=0}
{else}
{assign var="td" value='td2'}
{assign var="col" value=1}
{/if}
	<tr onmouseover="flatlinkOver(this)" {if $smarty.foreach.ns.iteration%2==1}onmouseout="flatlinkOut(this)"{else}onmouseout="flatlinkOut1(this)"{/if}>
		<td width="120" class={$td}_left>{$item.order_date|date_format:"%d"}&nbsp;{$item.order_date|date_format:"%B"}&nbsp;{$item.order_date|date_format:"%Y"}</td><td class={$td}_middle width="150"><a href="?mod=shop&action=order_details&id={$item.id}"><strong>{$item.user_name}</strong></a></td><td class={$td}_middle><strong style="color: red;">{$item.total_summ}&nbsp;{$currency_site.znak}</strong></td><td width="100"  class={$td}_right>&nbsp;</td>
	</tr>
{/foreach}
</table>
{/if}

{if count($last_faq)>0}
<br><br>
<table width=100% class="content_table">
<tr>
	<th colspan="3">
		<strong>Последние сообщения FAQ</strong>
	</th>
</tr>
{foreach from=$last_faq item=item name=faq}
{if $col==1}
{assign var="td" value='td1'}
{assign var="col" value=0}
{else}
{assign var="td" value='td2'}
{assign var="col" value=1}
{/if}
	<tr onmouseover="flatlinkOver(this)" {if $smarty.foreach.faq.iteration%2==1}onmouseout="flatlinkOut(this)"{else}onmouseout="flatlinkOut1(this)"{/if}>
	<td width="120" class="{$td}_left">{$item.insert_date|date_format:"%d"}&nbsp;{$item.insert_date|date_format:"%B"}&nbsp;{$item.insert_date|date_format:"%Y"}</td><td class="{$td}_middle" width="150"><a href="?mod=guestbook&action=edit_msg&id={$item.id}"><strong>{$item.author}</strong></a></td><td class="{$td}_right">{$item.message|strip_tags|truncate:180}</td>
	</tr>
{/foreach}
</table>
{/if}

{if count($last_forum)>0}
<br><br>
<table width=100% class="content_table">

<tr>
	<th colspan="3">
		<strong>Последние сообщения форума</strong>
	</th>
</tr>
{foreach from=$last_forum item=item name=fr}
{if $col==1}
{assign var="td" value='td1'}
{assign var="col" value=0}
{else}
{assign var="td" value='td2'}
{assign var="col" value=1}
{/if}
	<tr onmouseover="flatlinkOver(this)" {if $smarty.foreach.fr.iteration%2==1}onmouseout="flatlinkOut(this)"{else}onmouseout="flatlinkOut1(this)"{/if}>
	<td width="120" class="{$td}_left" nowrap>{$item.date|date_format:"%d"}&nbsp;{$item.date|date_format:"%B"}&nbsp;{$item.date|date_format:"%Y"}</td><td class="{$td}_middle" width="150"><a href="/forum/{$item.url}/thread_{$item.thread_id}" target="_blank"><strong>{$item.author}</strong></a></td><td class="{$td}_right">{$item.text|strip_tags|truncate:180}</td>
	</tr>
{/foreach}
</table>{/if}