{include file="`$smarty.const.TPL_PATH`breadcrumbs.html"}

    <h1>{$product.name|strip_tags}</h1>
<!---- KVARTIRA FOTO ---->
	{if $images}
	<div>
		{foreach from=$images item=image}
    	<div class="kvfoto"><a class="colorbox" href="/uploaded_files/shop_images/{$image.id}.{$image.ext}"><img src="/images/img136x100/uploaded_files/shop_images/{$image.id}.{$image.ext}" width="136" height="100" /></a></div>
    	{/foreach}
    </div><br clear="all" /><br />
    {/if}
<!---- /KVARTIRA FOTO ---->
	<div>{$product.description|strip_tags}</div>
    <h2>Характеристики:</h2>
	<p>Комнат: {$product.room_count}<br />
	Площадь: {$product.place} м<br />
	Цена: {$product.price|format_price} руб/мес<br /></p>
	
	{if $product.map_url}
	<p>
	<a href="{$product.map_url}" target="_blank">Посмотреть карту</a>
	</p>
	{/if}
