{if $guestbook_list}
<DIV id=dhtmltooltip></DIV>
{literal}
<script language="JavaScript">
function confirm_delete(delete_id) {
  if (confirm("Дейтсвительно удалить это сообщение?")) {
    parent.location.href = "?mod=guestbook&action=delete_msg&id=" + delete_id;
  }
}
</script>
<script language=JavaScript src='{/literal}{$base_url}{literal}/javascript/tooltips.js'></script>
{/literal}

<table width=100% class="content_table">
<tr>
<th>Тема</th><th width="150">Автор</th><th width=100>Опубликовано</th><th width="50">Статус</th><th width=10%>Действия</th>
</tr>
{foreach from=$guestbook_list item=item name=gs}
{if $col==1}
{assign var="td" value='td1'}
{assign var="col" value=0}
{else}
{assign var="td" value='td2'}
{assign var="col" value=1}
{/if}
<tr onmouseover="flatlinkOver(this)" {if $smarty.foreach.gs.iteration%2==1}onmouseout="flatlinkOut(this)"{else}onmouseout="flatlinkOut1(this)"{/if}>
<td class={$td}_left><a href="?mod=guestbook&action=edit_msg&id={$item.id}"><strong>{$item.tema}</strong></a></td>
<td class={$td}_middle style="text-align: justify;">{$item.author}</td>
<td class={$td}_middle align="center" style="font-size: 11px;">{$item.insert_date|date_format:"%d"}&nbsp;{$item.insert_date|date_format:"%B"}&nbsp;{$item.insert_date|date_format:"%Y"}</td>
<td class={$td}_middle align="center"><a href="?mod=guestbook&action=change_message_status&id={$item.id}" title="Изменить статус"><img src=templates/img/status_{$item.status}.gif border=0></a></td>
<td class={$td}_right align="center"><a href="javascript:confirm_delete('{$item.id}');" class=img_link onmouseover="ddrivetip('Удалить сообщение')" onmouseout=hideddrivetip()><img src=templates/img/ico_delete.gif border=0></a><a href=?mod=guestbook&action=edit_msg&id={$item.id} class=img_link onmouseover="ddrivetip('Редактировать сообщение')" onmouseout=hideddrivetip()><img src=templates/img/ico_edit.gif border=0></a></td>
</tr>
{/foreach}
</table>
<br>
<div class="add_but" onClick="location.href='?mod=guestbook&action=add'"><div><a href="?mod=guestbook&action=add">добавить сообщение</a></div></div>

{if $total_pages>1}
<br><br>
<div class="listing">
<li class="str">
<ul>
<li class="center"><a href="?mod=guestbook&page=1">&laquo;</a>
{section name=p loop=$pages}
  {if $pages[p]==$current_page}
  <a class="active" href="?mod=guestbook&page={$pages[p]}">{$pages[p]}</a>
  {else}
  <a href="?mod=guestbook&page={$pages[p]}">{$pages[p]}</a>
  {/if}
{/section}
<a href="?mod=guestbook&page={$total_pages}">&raquo;</a></li>
</ul>
</li>
</div>
{/if}

{else}
<table width=100% class="content_table">
<tr>
<th>Тема</th><th width="150">Автор</th><th width=100>Опубликовано</th><th width="50">Статус</th><th width=10%>Действия</th>
</tr>
<tr>
<td class=td2_middle colspan="5" style="height: 30px;">
<center>В системе нет сообщений.</center></td></tr></table>
<br>
<div class="add_but" onClick="location.href='?mod=guestbook&action=add'"><div><a href="?mod=guestbook&action=add">добавить сообщение</a></div></div>
{/if}