<table>
<form action="" method="post" onSubmit="return validateAddProject(this);" name="addP">
<input type="hidden" name="project_id" value="{$item.id}">
	<tr>
    	<td valign="top" class="center"><div class="add" style="background: url('/templates/img/add_sp.gif') no-repeat;">{if $mode=='edit'}Редактирование:{$item.name}{else}Новый проект{/if}</div></td>
   </tr>
   <tr><td>Название проекта</td><td><input type="text" name="name" value="{$item.name}"></td></tr>
   <tr><td colspan="2"><input type="submit" value="{if $mode=='edit'}Изменить{else}Добавить{/if}" name="{if $mode=='edit'}submit_edit_project{else}submit_add_project{/if}"></td></tr>
</form>
</table>