{if $mode=="edit" or $mode=="add"}
{literal}
<script language=JavaScript src='{/literal}{$base_url}/{literal}javascript/editor/scripts/language/russian/editor_lang.js'></script>
<script language=JavaScript src='{/literal}{$base_url}/{literal}javascript/editor/scripts{/literal}/{$editor_mode}{literal}'></script>

<script language="JavaScript">
function form_check() {
	{/literal}
	{if $editor_style!='html'}
	{literal}
		document.edit_type.edit_type_text.value = text.getHTMLBody();
	{/literal}
	{else}
	{literal}
		document.edit_type.edit_type_text.value = document.getElementById('text').value;
	{/literal}
	{/if}
	{literal}
	return true;
}

function allCats(){
	var i=0;
	var check = document.getElementById('ch1').checked;
	var frmElems = document.edit_type.getElementsByTagName('input');
	for (i=0; i<frmElems.length-1; i++){
		if(frmElems[i].id == 'c'){
             frmElems[i].checked = check;
		}
	}
}
</script>
{/literal}

<form action="" name=edit_type method=post onSubmit="return form_check();">
<input type=hidden name={if $mode=='add'}submit_add_type{else}submit_edit_type{/if}>
<input type=hidden name=type_id value={$type.id}>
<table width=100% class=content_table>
	<tr><th>{if $mode=='edit'}Редактировать производителя товара<input type=hidden name=id value={$type.id}>{else}Добавить производителя товара{/if}</th></tr>
</table>

<table width=100% class=content_table>
	<tr>
		<td width=20% class=td1_left>Производитель:</td>
		<td class=td1_right>
			<input type="text" name=edit_type_name style="width:100%;" class=field value="{$type.name}">
		</td>
	</tr>
	<tr>
		<td width=15% class=td1_left>Статус:</td>
		<td class=td1_right>
		<select name=edit_type_status style="width:50%;" class=field>
			<option value="1" {if $type.status=='1'}selected=true{/if}>Активный</option>
			<option value="0" {if $type.status=='0'}selected=true{/if}>Ждёт</option>
		</select>
		</td>
	</tr>
{if $mode=="edit"}
	<tr>
		<td class=td1_single valign=top colspan="2">
			<p>Краткое описание производителя:</p>
<input type=hidden name=edit_type_text value="">
{if $editor_style!='html'}
{literal}
<script language="JavaScript">
				var text = new InnovaEditor("text");

					text.btnStyles=true;

					text.width="100%";
					text.height="400";

					text.css="style.css";
					text.cmdAssetManager="modalDialogShow('{/literal}{$base_url}/{literal}javascript/editor/assetmanager/assetmanager.php?lang=russian',640,465)";

					text.features=["FullScreen","Preview","Print","Search",
						"Cut","Copy","Paste","PasteWord","PasteText","|","Undo","Redo","|",
						"ForeColor","BackColor","|","Bookmark","Hyperlink",
						"XHTMLSource","Numbering","Bullets","|","Indent","Outdent","|","Image","|",
						"Table","Guidelines","Absolute","|","Characters","Line",
						"Clean","ClearAll","BRK",
						"StyleAndFormatting","TextFormatting","ListFormatting","BoxFormatting",
						"ParagraphFormatting","CssText","Styles","|",
						"Paragraph","FontName","FontSize","|",
						"Bold","Italic",
						"Underline","Strikethrough","|","Superscript","Subscript","|",
						"JustifyLeft","JustifyCenter","JustifyRight","JustifyFull"];


					text.RENDER('{/literal}{$type.text|replace:"\r\n":""}{literal}');
</script>
{/literal}
{else}

<div class=tag_box>
<a href="add_tag" onclick="return insert_tag(document.edit_product.small_description,'<b>','</b>')" class=tag_button><b>B</b></a>
<a href="add_tag" onclick="return insert_tag(document.edit_product.small_description,'<i>','</i>')" class=tag_button><i>I</i></a>
<a href="add_tag" onclick="return insert_tag(document.edit_product.small_description,'<u>','</u>')" class=tag_button><u>U</u></a>
<a href="add_tag" onclick="return insert_tag(document.edit_product.small_description,'<img src=>','</img>')" class=tag_button>IMG</a>
<a href="add_tag" onclick="return insert_tag(document.edit_product.small_description,'<a href=>','</a>')" class=tag_button>URL</a>
<a href="add_tag" onclick="return insert_tag(document.edit_product.small_description,'<br>','')" class=tag_button>BR</a>
</div>

<textarea id=text class=field style="width:100%" rows=20>{$type.text|replace:"\r\n":""}</textarea>

{/if}

		</td>
	</tr>

	<tr>
		<td colspan=2 class=td1_left>Выводить в категориях: &nbsp;&nbsp;&nbsp;<input type=checkbox id=ch1 onClick="void(allCats());"><label for="ch1">выделить все</label></td>
	</tr>

{foreach name=tree from=$cat_list item=entry}
	{if $col==1}
	{assign var="td" value='td1'}
	{assign var="col" value=0}
	{else}
	{assign var="td" value='td2'}
	{assign var="col" value=1}
	{/if}

	<tr onmouseover="flatlinkOver(this)" {if $smarty.foreach.tree.iteration%2==1}onmouseout="flatlinkOut(this)"{else}onmouseout="flatlinkOut1(this)"{/if}>
			<td class={$td}_left colspan=2>
				{str_repeat str="&nbsp;" num=$entry.param_level mod="4"}<input id=c type=checkbox {foreach from=$rel item=item2} {if $item2.cat_id==$entry.id}checked{/if} {/foreach} name=cat[{$entry.id}]>&nbsp;{$entry.name}
			</td>
	</tr>

{/foreach}
{/if}

</table>
<br>
<center><input type=submit value={if $mode=='add'}"Добавить дату разработки"{else}"Сохранить изменения"{/if}></center>
</form>
{else}
{literal}
<DIV id=dhtmltooltip></DIV>
<SCRIPT language=JavaScript>
<!--
function confirm_delete(delete_id)
{
if (confirm("Дейтсвительно удалить этого производителя товара? ВНИМАНИЕ: Это свойство удалится у всех имеющих его товаров!!!")) {
parent.location.href = "index.php?mod=shop&action=delete_type&id=" + delete_id;
}
}
-->
</SCRIPT>
<script language=JavaScript src='{/literal}{$base_url}{literal}/javascript/tooltips.js'></script>
{/literal}
<table width=100% class=content_table>
<tr>
<th>Производитель</th><th width=10%>Продуктов</th><th width=10%>Статус</th><th width=15%>Действия</th></tr>

	{foreach name=tree from=$types_list item=entry}

	{if $col==1}
	{assign var="td" value='td1'}
	{assign var="col" value=0}
	{else}
	{assign var="td" value='td2'}
	{assign var="col" value=1}
	{/if}
	<tr onmouseover="flatlinkOver(this)" {if $smarty.foreach.tree.iteration%2==1}onmouseout="flatlinkOut(this)"{else}onmouseout="flatlinkOut1(this)"{/if}>
			<td class={$td}_left><a href="?mod=shop&action=edit_type&id={$entry.id}">{$entry.name}</a>
			</td>
			<td align=center class={$td}_middle style="font-size: 11px;">
				[ {if $entry.tovars > 0}<a href="?mod=shop&action=products_list&page=1&type={$entry.id}"><strong>{$entry.tovars}</strong></a>{else}<strong>{$entry.tovars}</strong>{/if} ]
			</td>
			<td align=center class={$td}_middle>
			<img src=templates/img/status_{$entry.status}.gif border=0>
			</td>
			<td align=center class={$td}_right nowrap align="center">
				<a href="javascript:confirm_delete('{$entry.id}');" class=img_link onmouseover="ddrivetip('Удалить тип')" onmouseout=hideddrivetip()><img src=templates/img/ico_delete.gif border=0></a>
				<a href=?mod=shop&action=edit_type&id={$entry.id} class=img_link onmouseover="ddrivetip('Редактировать тип')" onmouseout=hideddrivetip()><img src=templates/img/ico_edit.gif border=0></a>
			</td>
		</tr>

	{/foreach}

	</table>
<br>
<div class="add_but" onClick="location.href='?mod=shop&action=add_type'"><div><a href="?mod=shop&action=add_type">Добавить производителя</a></div></div>
{/if}
