{literal}
<style>input, textarea {font-size : 11px;}</style>
{/literal}

{if $registration_success=='1'}
Благодарим за регистрацию!<br><br>
На указанный Вами почтовый адрес было выслано письмо с Вашими регистрационными данными. Теперь Вы можете войти в свой личный кабинет.
{else}

<center>
<form action="" method=post name=edit_form enctype="multipart/form-data">
{if $error_message}<font color=red>{$error_message}</font><br><br>{/if}

{if $mode=='edit'}
<input type=hidden name=old_password value="{$temp.password}">
<input type=hidden name=old_mail value="{$temp.mail}">
<input type=hidden name=old_avatar value="{$temp.avatar}">
<input type=hidden name=old_photo value="{$temp.photo}">
{/if}
</center>
<!--------------------------------------------------------------------------->

{if $mode != 'edit'}<p>После регистрации Вы получите письмо на указанный Вами E-mail с Вашим логином и паролем.</p>{/if}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="lefttop10px">&darr; Твой e-mail <font style="color: #666;">[пример &rarr; pupsic@yandex.ru, поле обязательное для заполнения]</font></td>
  </tr>
  <tr>
    <td valign="top"><input class="input" type="text" name="user_mail" value="{if $mode=='edit'}{$profile.login}{else}{$temp.user_mail}{/if}"  onKeyUp="validInput(this);"></td>
  </tr>
  <tr>
    <td class="lefttop10px">&darr; Как тебя звать <font style="color: #666;">[поле не обязательное для заполнения]</font></td>
  </tr>
  <tr>
    <td valign="top"><input class="input" type="text" name="user_name" value="{if $mode=='edit'}{$profile.name}{else}{$temp.user_name}{/if}"></td>
  </tr>
  <tr>
    <td style="padding-top: 30px;"><input id="register" disabled type="submit" class="button_off" value="Зарегить &rarr;" name="submit_user_register"></td>
  </tr>
</table>

</form>
</center>
{/if}

<script language="javascript" type="text/javascript">
<!--//
validInput(document.forms['edit_form']['user_mail']);
//-->
</script>
