<table>
<form action="" method="post">
<input type="hidden" name="p_id" value="{$project_id}">
<input type="hidden" name="url_id" value="{$item.id}">
	<tr>
    	<td valign="top" class="center"><div class="add" style="background: url('/templates/img/add_sp.gif') no-repeat;">{if $mode=='edit'}Редактирование УРЛА в проект:{$project_name}{else}Новый УРЛ в проект:{$project_name}{/if}</div></td>
   </tr>
   <tr><td>Url страница (с http://)</td><td><input type="text" name="url" value="{$item.url}"></td></tr>
   <tr><td>Название УРЛа</td><td><input type="text" name="name" value="{$item.name}"></td></tr>
   <tr><td colspan="2"><input type="submit" value="{if $mode=='edit'}Изменить{else}Добавить{/if}" name="{if $mode=='edit'}submit_edit_url{else}submit_add_url{/if}"></td></tr>
</form>
</table>