<html>
<head>
<link rel="stylesheet" type="text/css" href="http://dom-stroi-plus.ru/templates/style.css">
</head>

<body>
<div class="big-new">


<!-- навигация в шапке около домика -->

<div id="menu_top_left">
<ul>
<li><a href="http://dom-stroi-plus.ru/services/item_11/#o-brevno">простое бревно<img src="/templates/img/o-brevno.jpg"> </a></li>
<li><a href="http://dom-stroi-plus.ru/services/item_11/#oc-brevno">оцилиндрованное бревно<img src="/templates/img/oc-brevno.jpg"></a></li>
<li><a href="http://dom-stroi-plus.ru/home/item_18/#o-brus">простой брус<img src="/templates/img/o-brus.jpg"></a></li>
<li><a href="http://dom-stroi-plus.ru/home/item_18/#p-brus">профилированный брус<img src="/templates/img/p-brus.jpg"></a></li>
<li><a href="http://dom-stroi-plus.ru/home/item_18/#k-brus">клееный брус<img src="/templates/img/k-brus.jpg"></a></li>
</ul>
</div>


<div id="menu_top_right">
<ul>
<li><a href="http://dom-stroi-plus.ru/dom-stroi-plus/item_22/#m-cherepica"><img src="/templates/img/m-cherepica.jpg">мягкая черепица</a></li>
<li><a href="http://dom-stroi-plus.ru/dom-stroi-plus/item_22/#n-cherepica"><img src="/templates/img/n-cherepica.jpg">натуральная черепица</a></li>
<li><a href="http://dom-stroi-plus.ru/dom-stroi-plus/item_22/#met-cherepica"><img src="/templates/img/met-cherepica.jpg">металлочерепица</a></li>
<li><a href="http://dom-stroi-plus.ru/dom-stroi-plus/item_22/#ondulin"><img src="/templates/img/ondulin.jpg">ондулин</a></li>
</ul>
</div>

</div>

</body>
</html>