<div class="form_line form_line--yellow">
    <div class="cart_motivator">
        <span class="g-text-bigger">Хотите скидку 5% сразу и навсегда? — заполните это!</span><br>
        Покупку можно совершить и без регистрации, но тогда постоянной скидки у вас не будет ;(
    </div>
    <div class="form_line">
        <label for="cart_email"><input id="cart_email"  name="cart_email" type="email" class="form_input form_input--white" placeholder="Email"/> вводите email и ждите письма!</label>
    </div>
    <div class="form_line">
        <label for="cart_password"><input id="cart_password" name="cart_password" type="password" class="form_input form_input--white" placeholder="Пароль"/> какой личный кабинет без пароля</label>
    </div>
</div>
