{literal}
<script language="JavaScript">
function submit_edit_user_form(){
	if ((document.edit_user_form.edit_user_mail.value == '')) {
		alert("Пожалуйста, заполните обязательные поля");
		return false;
	}
	else {
		return true;
	}
}
</script>
{/literal}

<center>
<form action="" method=post name=edit_user_form onSubmit="return submit_edit_user_form();">
<input type=hidden name=old_password value="{$profile.password}">
<input type=hidden name=old_mail value="{$profile.mail}">
{if $error_message}<font color=red>{$error_message}</font><br><br>{/if}
<table width=95% cellspacing=1 cellpadding=3 class=text>
	<tr>
		<td>&nbsp;&nbsp;Новый пароль:</td><td><input type=text name=edit_user_password style="width:100%" class=field></td>
	</tr>
	<tr>
		<td><font color=red size=2>*</font> E-mail:</td><td><input type=text name=edit_user_mail style="width:100%" value="{$profile.mail}" class=field></td>
	</tr>
	
	<tr>
		<td>
			&nbsp;
		</td>
	</tr>

	<tr>
		<td>
			Откуда:
		</td>
		<td>
			<input type=text name=edit_user_place style="width:100%" value="{$temp_reg_place}" class=field>
		</td>
	</tr>

	<tr>
		<td>
			Род занятий:
		</td>
		<td>
			<input type=text name=edit_user_work style="width:100%" value="{$temp_reg_work}" class=field>
		</td>
	</tr>
	
	<tr>
		<td>
			Сайт:
		</td>
		<td>
			http://<input type=text name=redit_user_site style="width:100%" value="{$temp_reg_site}" class=field>
		</td>
	</tr>

	<tr>
		<td>
			О себе:
		</td>
		<td>
			<textarea name=edit_user_about style="width:100%" rows=5 class=field>{$temp_reg_about}</textarea>
		</td>
	</tr>

	<tr>
		<td>
			Подпись:
		</td>
		<td>
			<textarea name=edit_user_signature style="width:100%" rows=5 class=field>{$temp_reg_signature}</textarea>
		</td>
	</tr>
</table>
<br>
<input type=submit name=submit_edit_user value="Сохранить изменения" class=button>
</form>
</center>