	
<font color="red"><em>Внимание! Все поля обязательны для заполнения.</em></font>	
		<form id="form" class="blocks" action="http://dom-stroi-plus.ru/templates/handler.php" method="post">
			<p>
				<label>Имя:</label>
				<input type="text" class="text" name="name" />
			</p>

			<p>
				<label>E-mail:</label>
				<input type="text" class="text" name="email" />
			</p>
			<p>
				<label>Тема сообщения:</label>
				<input type="text" class="text" name="theme" />
			</p>
			<p class="area">
				<label>Сообщение:</label>
				<textarea class="textarea" name="message"></textarea>
			</p>
			<p>
				<label>&nbsp;</label>
				<input type="submit" class="btn" value="Отправить" />
			</p>
		</form>
