<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<title>{$page_title}</title>
<meta name="Keywords" content="{$meta_keywords}">
<meta name="Description" content="{$meta_description}">
{foreach from=$css item=css}
<link rel="stylesheet" type="text/css" href="{$css}">
{/foreach}
{foreach from=$js item=js}
<script src="{$js}" type="text/javascript"></script>
{/foreach}
<link rel="icon" href="/templates/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/templates/favicon.ico" type="image/x-icon">
</head>
<body>
<table class="mtbl" align="center">
  <tr>
    <td class="toper"><a href="/"><img src="{$template_image}logo.gif" width="261" height="108"></a><div class="cln"></div>
<div class="big-new">


<!-- навигация в шапке около домика -->

<div id="menu_top_left">
<ul>
<li><a href="http://dom-stroi-plus.ru/articles/archive/32/#o-brevno">простое бревно<img src="/templates/img/o-brevno.jpg"> </a></li>
<li><a href="http://dom-stroi-plus.ru/articles/archive/32/#oc-brevno">оцилиндрованное бревно<img src="/templates/img/oc-brevno.jpg"></a></li>
<li><a href="http://dom-stroi-plus.ru/articles/archive/33/#o-brus">простой брус<img src="/templates/img/o-brus.jpg"></a></li>
<li><a href="http://dom-stroi-plus.ru/articles/archive/33/#p-brus">профилированный брус<img src="/templates/img/p-brus.jpg"></a></li>
<li><a href="http://dom-stroi-plus.ru/articles/archive/33/#k-brus">клееный брус<img src="/templates/img/k-brus.jpg"></a></li>
</ul>
</div>


<div id="menu_top_right">
<ul>
<li><a href="http://dom-stroi-plus.ru/dom-stroi-plus/item_22/#m-cherepica"><img src="/templates/img/m-cherepica.jpg">мягкая черепица</a></li>
<li><a href="http://dom-stroi-plus.ru/dom-stroi-plus/item_22/#n-cherepica"><img src="/templates/img/n-cherepica.jpg">натуральная черепица</a></li>
<li><a href="http://dom-stroi-plus.ru/dom-stroi-plus/item_22/#met-cherepica"><img src="/templates/img/met-cherepica.jpg">металлочерепица</a></li>
<li><a href="http://dom-stroi-plus.ru/dom-stroi-plus/item_22/#ondulin"><img src="/templates/img/ondulin.jpg">ондулин</a></li>
</ul>
</div>

</div>

</td>
  </tr>
  <tr>
    <td class="tmenu">
    {include file="../templates/top_menu_block.tpl"}
    </td>
  </tr>
  <tr>
    <td style="vertical-align:top;">
    <div class="left">
    <div class="leftmenu"><img src="{$template_image}lmenu_t.gif" width="261" height="18">
    	{include file="../templates/left_menu_block.tpl"}
    	<img src="{$template_image}lmenu_b.gif" width="261" height="18"></div>
    	<br><br>
    </div>
    <div class="cont">
	    {if $current_url == $default_url}
	    	{include file="../templates/top_catalog_block.html"}
	    {else}
	    	{include file="../templates/breadcrumbs_block.html"}
	    {/if}
		{if $content=='' or !$content}
			{assign var="content" value=""}
			{fetch file=$template assign="content"}
		{/if}
		{eval var=$content}

{if $current_url=="dom-stroi-plus/item_27"}
{include file="../templates/form.html"}
{/if}

{if $current_url=="dom-stroi-plus/item_29"}
{include file="../templates/ calculation.html"}
{/if}

    </div>
    </td>
  </tr>
  {include file="../templates/footer_block.html"}
</table>
</body>
</html>