.guestbook {
	background: #f1f1f1;
	font-size: 11pt;
	padding: 0 10px;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}
.guestbook td {color: #999;}
.guestbook input {border: 1px solid #ccc; font-size: 11px; padding: 1px 2px 0; color: #333;}
.guestbook textarea {border: 1px solid #ccc; font: 11px normal Verdana, Arial, Helvetica, sans-serif; color: #333; padding: 1px 2px 0;}
.guest_butt {cursor: pointer; cursor: hand;}
