<h1>Статьи</h1>

{foreach from=$news_list item=news}
<div>
<span class="datenews">{$news.publish_date|date_format:"%d.%m.%Y"}</span> 
{if $news.image}<img style="float:left;" src="/uploaded_files/news/{$news.image}" />{/if}
<a href="{$base_url}/{$module_url}/{$news.id}/" class="newscapt">{$news.title|strip_tags}</a><br>
{$news.small_text|strip_tags}<br><br>
<div style="clear:both;"></div>
</div>
{/foreach}

<br>


{if $total_pages>1}
<div class="listing">
Страницы: 
<a href="{$base_url}/{$module_url}/page_1/" title="Предыдущая"> <<</a>
{section name=p loop=$pages}
	{if $pages[p]==$current_page}
	<a style="font-weight:bold;" href="{$base_url}/{$module_url}/page_{$pages[p]}/">{$pages[p]}</a>
	{else}
	<a href="{$base_url}/{$module_url}/page_{$pages[p]}/">{$pages[p]}</a>
	{/if}
{/section}
<a href="{$base_url}/{$module_url}/page_{$total_pages}/" title="Следующая">>> </a>
</div>
{/if}
