{include file="`$smarty.const.TPL_PATH`top_search.html"}

{include file="`$smarty.const.TPL_PATH`breadcrumbs.html"}

<h1>{$cat_content.name|strip_tags}</h1>

    <div class="pozw">
    {if $products_list}
    	{foreach from=$products_list item=product}
		    <div class="pozb"><div class="poz">
		    <a title="{$product.name}" href="{$base_url}/{$product.full_url}/">{$product.name|strip_tags}</a><br>
		    {if $product.image}<a title="{$product.name}" href="{$base_url}/{$product.full_url}/"><img src="/uploaded_files/shop_images/medium-{$product.image}.{$product.ext}" width="149" height="144" class="pozimg"></a>{/if}
		    <div class="pozprñ"><span class="pozcena">{$product.price}</span> ðóá.<br><br></div>
		    </div></div>
		{/foreach}
	{/if}
    </div>

    <div class="txt"><br />{$cat_content.text}</div>