	{foreach name=tree from=$_tmp_content item=entry}
	{if $col==1}
	{assign var="td" value="td1"}
	{assign var="col" value=0}
	{else}
	{assign var="td" value="td2"}
	{assign var="col" value=1}
	{/if}
		<tr>
			<td class={$td}_left>
				{str_repeat str="&nbsp;" num=$entry.param_level mod="4"}<a href="#" onClick="retBack(window.opener.document.getElementById('{if $returnname}{$returnname}{else}inpURL{/if}'),'{$entry.full_url}')"><img src=templates/img/tree.gif border=0>{if $entry.param_level=='0'}{$base_url}{else}{$entry.name}{/if}</a>
			</td>
			<td align=center class={$td}_middle>
			{$entry.module}
			</td>
			<td align=center class={$td}_middle>
			{if $entry.param_level!='0'}<img src=templates/img/status_{$entry.status}.gif border=0>{/if}
			</td>
		</tr>	
		{if $entry.sublist}
			{assign var=_tmp_content value=$entry.sublist}
			{include file="../../modules/tree/admin/templates/mini_browser_list.html"}
		{/if}
	{/foreach}

