.tag_box {
	padding-bottom:5pt;
	padding-top:5pt;
}

.tag_button {
	border:#cccccc solid 1px;
	background:#ffffff;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}
.tag_button:link {
	color: #000000;
	text-decoration: none;
}
.tag_button:visited {
	color: #000000;
	text-decoration: none;
}
.tag_button:hover {
	background-color: transparent;
	text-decoration: none;
}

.comments_quote {
	color: #666666;
	border:#cccccc solid 1px;
	margin-left: 30pt;
	margin-bottom: 0px;
	padding-left: 5pt;
	padding-right: 5pt;
}

.post_text {
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 5pt;
}

.comments_field {
	border:#cccccc solid 1px;
	background-color: #fffdfb;
}

table.comments_table {
	border-collapse: collapse;
}
table.comments_table td {
	border: 1px solid #cccccc;
	background-color:#ffffff;
	font-size: 11pt;
	padding: 5pt;
}

table.comments_table th {
	padding: 3pt;
	background-color: #f5f5f5;
	border: 1px solid #cccccc;
	font-size: 10pt;
	color: #ff6600;
	text-align:left;
}

table.comments_add_table {
	border-collapse: collapse;
}
table.comments_add_table td {
	border: 1px solid #cccccc;
	background-color:#faf9f9;
	font-size: 10pt;
}

table.comments_post_table {
	border-collapse: collapse;
	margin-top: 10pt;
}
table.comments_post_table td {
	border: 1px solid #cccccc;
	background-color:#faf9f9;
	font-size: 11pt;
}

.comments_button {
	border: 1px solid #666666;
	border-bottom: 2px solid #666666;
	border-right: 2px solid #666666;
	background-color:#faf9f9;
	font-size: 9pt;
	color: #ff6600;
	font-weight:bold;
	padding:1pt;
	padding-left:10pt;
	padding-right:10pt;
}

.gb_message_answer {
	padding-left:10pt;
}

table.comments_simple td {
	border: 0px;
	padding: 0px;
}

.mpx, .mpx a, .mpx span {font-family : verdana, tahoma, sans-serif;}