<div class="banners">
    <div class="banners__slider">
        <div class="banners__slider_left-button g-hidden" id="banners__slider_left-button"></div>
        <div class="banners__slider_right-button g-hidden" id="banners__slider_right-button"></div>

        <div class="banners__slider__item" id="banners__slider__item-1">
            <div class="banners__slider__item_text">
                <div>
                    <a href="#">РАСПРОДАЖА ДЖИНСОВ <span class="icon icon-arrow-link-big"></span></a>
                </div>
            </div>
            <img src="{$template_image}picture_main-big.jpg"/>
        </div>
        <div class="banners__slider__item g-hidden" id="banners__slider__item-2">
            <div class="banners__slider__item_text">
                <div>
                    <a href="#">ЕЩЕ РАСПРОДАЖА ДЖИНСОВ <span class="icon icon-arrow-link-big"></span></a>
                </div>
            </div>
            <img src="{$template_image}picture_main-big.jpg"/>
        </div>
        <div class="banners__slider__item g-hidden" id="banners__slider__item-3">
            <div class="banners__slider__item_text">
                <div>
                    <a href="#">РАСПРОДАЖА ДРУГИХ ДЖИНСОВ <span class="icon icon-arrow-link-big"></span></a>
                </div>
            </div>
            <img src="{$template_image}picture_main-big.jpg"/>
        </div>

    </div>

    <div class="banners__second-line">
        <div class="banners__second-line__first">
            <div class="banners__second-line__item_text">
                <div>
                    <a href="#">ЛИКВИДАЦИЯ ЛЕТА <span class="icon icon-arrow-link"></span></a>
                </div>
            </div>
            <img src="{$template_image}picture_main-2.jpg"/>
        </div>
        <div class="banners__second-line__second">
            <div class="banners__second-line__item_text">
                <div>
                    <a href="#">ВСТРЕЧАЕМ ОСЕНЬ 2015 <span class="icon icon-arrow-link"></span></a>
                </div>
            </div>
            <img src="{$template_image}picture_main-3.jpg"/>
        </div>
    </div>

    <div class="banners__categories">
        <div class="banners__categories__item">
            <div class="banners__categories__item_image"><img src="{$template_image}picture_main_cat1.jpg"/></div>
            <a href="#" class="banners__categories__item_name">Пальто</a>
        </div>
        <div class="banners__categories__item">
            <div class="banners__categories__item_image"><img src="{$template_image}picture_main_cat2.jpg"/></div>
            <a href="#" class="banners__categories__item_name">Куртки</a>
        </div>
        <div class="banners__categories__item">
            <div class="banners__categories__item_image"><img src="{$template_image}picture_main_cat3.jpg"/></div>
            <a href="#" class="banners__categories__item_name">Брюки</a>
        </div>
        <div class="banners__categories__item">
            <div class="banners__categories__item_image"><img src="{$template_image}picture_main_cat4.jpg"/></div>
            <a href="#" class="banners__categories__item_name">Жилеты</a>
        </div>
        <div class="banners__categories__item">
            <div class="banners__categories__item_image"><img src="{$template_image}picture_main_cat5.jpg"/></div>
            <a href="#" class="banners__categories__item_name">Толстовки</a>
        </div>
        <div class="banners__categories__item">
            <div class="banners__categories__item_image"><img src="{$template_image}picture_main_cat6.jpg"/></div>
            <a href="#" class="banners__categories__item_name">Трикотаж</a>
        </div>
        <div class="banners__categories__item banners__categories__item--double">
            <div class="banners__categories__item_image--noname"><a href="#"><img src="{$template_image}picture_main_cat7.jpg"/></a></div>
        </div>
    </div>

</div>
