{literal}
<SCRIPT language=JavaScript>
function show(name, elem)
{
if(document.getElementById(name).style.display!="none") {
		document.getElementById(name).style.display="none";
		elem.className = "plus";
	}
	else {
		document.getElementById(name).style.display="";
		elem.className = "minus";
	}
}

function form_check() {
	if (document.edit_cat.edit_cat_url.value=='') {
		alert("Заполните пожалуйста обязательные поля");
		return false;
	}
	else {
		return true;
	}
}
</SCRIPT>
{/literal}

{if $error_message}<center><font color=red><b>{$error_message}</b></font></center><br><br>{/if}

<form action="" name=edit_cat method=post onSubmit="return form_check();">
{if $mode=='edit'}
<input type=hidden name=old_url value={$cat.url}>
<input type=hidden name=id value={$cat.id}>
{/if}
<input type=hidden name=old_parent value={$parent}>
<table width=100% class=content_table>
	<tr><th>{if $mode=='edit'}Редактировать категорию{else}Добавить категорию{/if}</th></tr>
</table>

<table width=100% class=content_table>
	<tr>
		<td width=20% class=td1_left><b>В раздел:</b></td>
		<td class=td1_right>
			<select name=edit_cat_parent style="width:100%;" class=field>
			{foreach from=$cat_list item=entry}
			<option value={$entry.id}{if $entry.id==$parent} selected=true{/if}>{$entry.full_title}</option>
			{/foreach}
			</select>
		</td>
	</tr>

	<tr class=table_content>
		<td class=td1_left><b>Название:</b></td>
		<td class=td1_right><input type=text name=edit_cat_name style="width:100%;" class=field value="{$cat.name}"></td>
	</tr>
	<tr class=table_content>
		<td class=td1_left><b><font color=red><small>*</small></font>URL:</b></td>
		<td class=td1_right><input type=text name=edit_cat_url style="width:100%;" class=field value="{$cat.url}"></td>
	</tr>
	<tr>
		<td width=15% class=td1_left><b>Статус:</b></td>
		<td class=td1_right>
		<select name=edit_cat_status style="width:50%;" class=field>
			<option value="1" {if $cat.status=='1'}selected=true{/if}>Активный</option>
			<option value="0" {if $cat.status=='0'}selected=true{/if}>Ждёт</option>
		</select>
		</td>
	</tr>
	</table>


<table width=100% class=content_table>
	<tr>
		<th bgcolor=#99CCFF onClick="show('metas', this);" class="button plus" style="border-bottom: none; text-align: left; padding-left: 30px;"><b>Metas</b></th>
	</tr>
 </table>
    <div id="metas" style="display:none;">
<table width=100% class=content_table>
	<tr>
		<td width=15% class=td1_left><b>Title:</b><br><small>(заголовок страницы)</small></td>
		<td class=td1_right><input type=text name=edit_cat_title style="width: 500px;" class=field value="{$cat.title}"></td>
	</tr>
	<tr>
		<td width=15% class=td1_left><b>Кeywords:</b><br><small>(ключевые слова)</small></td>
		<td class=td1_right><textarea name=edit_cat_keywords class=field rows="4" style="width: 500px;">{$cat.meta_keywords}</textarea></td>
	</tr>

	<tr>
		<td class=td1_left><b>Description:<br><small></b>(описание страницы)</small></td>
		<td class=td1_right><textarea name=edit_cat_description class=field rows="4" style="width: 500px;">{$cat.meta_description}</textarea></td>
	</tr>
</table>

</div>

<br>
<center><input type=submit name={if $mode=='add'}submit_add_cat value="Добавить раздел"{else}submit_edit_cat value="Сохранить изменения"{/if}></center>
</form>