{include file="`$smarty.const.ROOT`templates/header_block.tpl"}

  <tr>
    <td class="mainzone">
    
    <div class="mainer">
        {include file="`$smarty.const.ROOT`templates/marks_block.tpl"}
        <div>
			{if $content=='' or !$content}
				{assign var="content" value=""}
				{fetch file=$template assign="content"}
			{/if}
			{eval var=$content}
        </div>
    </div>
    
    <div class="sidebarr">
    	{include file="`$smarty.const.ROOT`/templates/callback_block.tpl"}
    	{include file="`$smarty.const.ROOT`/templates/news_block.tpl"}
    </div>
    
    </td>
  </tr>


{include file="`$smarty.const.ROOT`/templates/footer_block.tpl" home="true"}