{if $products_list}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top" style="height: 447px; background: black;">


<table cellspacing="0" cellpadding="0" border="0" class="prod">
<tr valign="top">
{foreach from=$products_list item=product name=sp}
{if $smarty.foreach.sp.iteration%3==1 && !$smarty.foreach.sp.first}</tr><tr>{/if}
<td>{if $product.image}<a href="{$current_url}/{$product.id}/" onmouseover="ddrivetip('[ <span>{$product.name}</span> ]<br><br>{$product.small_description|strip_tags|replace:'"':''|truncate:80}')" onmouseout=hideddrivetip()><img src="{$base_url}/uploaded_files/shop_images/resized-{$product.image}.{$product.ext}" width="145" height="146" border=0 {if !$smarty.foreach.sp.first}{if !$smarty.foreach.sp.iteration>6}style="border-left: 3px solid black;"{else}class="port"{/if}{else}style="border-left: 3px solid white; border-bottom: 3px solid black;"{/if}></a>{/if}</td>
{if $smarty.foreach.sp.last}{if $smarty.foreach.sp.iteration%3==2}<td width="145">&nbsp;</td></tr>{/if}{if $smarty.foreach.sp.iteration%3==1}<td width="145">&nbsp;</td><td width="145">&nbsp;</td></tr>{/if}{/if}
{/foreach}
</table>

	</td>
  </tr>
</table>

{if $total_pages>1}
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tr><td style="padding-top : 9px;">

<div class="listing">
<li class="str">
<ul>
<li class="center"><a href="{$current_url}/{if $order}?order={$order}&{else}?{/if}page=1">&laquo;</a>
{section name=p loop=$pages}
  {if $pages[p]==$current_page}
  <a class="active" href="{$current_url}/{if $order}?order={$order}&{else}?{/if}page={$pages[p]}">{$pages[p]}</a>
  {else}
  <a href="{$current_url}/{if $order}?order={$order}&{else}?{/if}page={$pages[p]}">{$pages[p]}</a>
  {/if}
{/section}
<a href="{$current_url}/{if $order}?order={$order}&{else}?{/if}page={$total_pages}">&raquo;</a></li>
</ul></li></div>
{/if}

</td></tr>
</table>
{/if}

