<b>Фоновые изображения:</b>
<br><br>

{if !$images_list}
Нет ни одного изображения
{else}
<form action="" method=post>
<table width=40% cellspacing=1 cellpadding=3>
{foreach from=$images_list item="image"}
	<tr>
		<td width=40% align=left><img src="{$image.small_image}"></td>
		<td>[<a href="index.php?mod=edit_conf&action=delete_background_image&id={$image.id}" onclick="return confirm('Удалить фоновое изображение');" >Удалить</a>]</td>
	</tr>
{/foreach}
</table>
</form>
{/if}

<br><br><br>

<form action="" method=post enctype="multipart/form-data">
<table width=40% cellspacing=1 cellpadding=3>
	<tr>
		<td width=40%><input type=file name=background_image class=field></td>
		<td><input type=submit name=submit_add_background_image value="Добавить"></td>
	</tr>
</table>
</form>