{literal}
<script language=JavaScript src='{/literal}{$base_url}/{literal}javascript/editor/scripts/language/russian/editor_lang.js'></script>
<script language=JavaScript src='{/literal}{$base_url}/{literal}javascript/editor/scripts{/literal}/{$editor_mode}{literal}'></script>
<script language="JavaScript">
function check_form() {
    document.edit_guestbook.edit_guestbook_message.value = message.getHTMLBody();
    document.edit_guestbook.edit_guestbook_answer.value = answer.getHTMLBody();
    return true;
}
</script>
{/literal}

{if $success_message}<center><font color=green>{$success_message}</font></center><br>{/if}

{if $error_message}<center><font color=red>{$error_message}</font></center><br>{/if}

<form action="" name=edit_guestbook method=POST enctype="multipart/form-data" onSubmit="return check_form();">
<input type=hidden name=id value={$guestbook.id}>

{if $mode=='edit'}
<input type=hidden name=time value={$guestbook.insert_date}>
{/if}

<table width=100% class="content_table">
<tr><th>{if $mode=='edit'}Редактируем сообщение{else}Добавить сообщение{/if}</th></tr>
</table>

<table width=100% class="content_table">
<tr>
<td width=20% class=td1_left>&nbsp;&nbsp;Автор:</td><td class=td1_right><input type=text name=edit_guestbook_author style="width:100%" value="{$guestbook.author}" class=field></td>
</tr>

<tr>
<td width=20% class=td1_left>&nbsp;&nbsp;Тема вопроса:</td><td class=td1_right><input type=text name=edit_guestbook_tema style="width:100%" value="{$guestbook.tema}" class=field></td>
</tr>

<tr>
<td width=20% class=td1_left>&nbsp;&nbsp;E-mail автора:</td><td class=td1_right><input type=text name=edit_guestbook_mail style="width:100%" value="{$guestbook.author_mail}" class=field></td>
</tr>

<tr>
<td class=td1_single colspan=2>

<input type=hidden name=edit_guestbook_message value="">
<p><font color=red>*</font>Сообщение:</p>

{if $editor_style!='html'}
{literal}
<script language="JavaScript">
        var message = new InnovaEditor("message");

          message.btnStyles=true;

          message.width="100%";
          message.height="400";

          message.css="style.css";
          message.cmdAssetManager="modalDialogShow('{/literal}{$base_url}/{literal}javascript/editor/assetmanager/assetmanager.php?lang=russian',640,465)";

          message.features=["FullScreen","Preview","Print","Search",
            "Cut","Copy","Paste","PasteWord","PasteText","|","Undo","Redo","|",
            "ForeColor","BackColor","|","Bookmark","Hyperlink",
            "XHTMLSource","Numbering","Bullets","|","Indent","Outdent","|","Image","|",
            "Table","Guidelines","Absolute","|","Characters","Line",
            "Clean","ClearAll","BRK",
            "StyleAndFormatting","TextFormatting","ListFormatting","BoxFormatting",
            "ParagraphFormatting","CssText","Styles","|",
            "Paragraph","FontName","FontSize","|",
            "Bold","Italic",
            "Underline","Strikethrough","|","Superscript","Subscript","|",
            "JustifyLeft","JustifyCenter","JustifyRight","JustifyFull"];


          message.RENDER('{/literal}{$guestbook.message|replace:"\r\n":""}{literal}');
</script>
{/literal}
{else}


<div class=tag_box>
<a href="add_tag" onclick="return insert_tag(document.edit_news.news_small_text,'<b>','</b>')" class=tag_button><b>B</b></a>
<a href="add_tag" onclick="return insert_tag(document.edit_news.news_small_text,'<i>','</i>')" class=tag_button><i>I</i></a>
<a href="add_tag" onclick="return insert_tag(document.edit_news.news_small_text,'<u>','</u>')" class=tag_button><u>U</u></a>
<a href="add_tag" onclick="return insert_tag(document.edit_news.news_small_text,'<img src=>','</img>')" class=tag_button>IMG</a>
<a href="add_tag" onclick="return insert_tag(document.edit_news.news_small_text,'<a href=>','</a>')" class=tag_button>URL</a>
<a href="add_tag" onclick="return insert_tag(document.edit_news.news_small_text,'<br>','')" class=tag_button>BR</a>
</div>

<textarea id=news_small_text class=field style="width:100%" rows=20>{$guestbook.message|replace:"\r\n":""}</textarea>

{/if}
</td>
</tr>



<tr>
<td class=td1_single colspan=2>

<input type=hidden name=edit_guestbook_answer value="">
<p>Ответ:</p>

{if $editor_style!='html'}
{literal}
<script language="JavaScript">
        var answer = new InnovaEditor("answer");

          answer.btnStyles=true;

          answer.width="100%";
          answer.height="400";

          answer.css="style.css";
          answer.cmdAssetManager="modalDialogShow('{/literal}{$base_url}/{literal}javascript/editor/assetmanager/assetmanager.php?lang=russian',640,465)";

          answer.features=["FullScreen","Preview","Print","Search",
            "Cut","Copy","Paste","PasteWord","PasteText","|","Undo","Redo","|",
            "ForeColor","BackColor","|","Bookmark","Hyperlink",
            "XHTMLSource","Numbering","Bullets","|","Indent","Outdent","|","Image","|",
            "Table","Guidelines","Absolute","|","Characters","Line",
            "Clean","ClearAll","BRK",
            "StyleAndFormatting","TextFormatting","ListFormatting","BoxFormatting",
            "ParagraphFormatting","CssText","Styles","|",
            "Paragraph","FontName","FontSize","|",
            "Bold","Italic",
            "Underline","Strikethrough","|","Superscript","Subscript","|",
            "JustifyLeft","JustifyCenter","JustifyRight","JustifyFull"];


          answer.RENDER('{/literal}{$guestbook.answer|replace:"\r\n":""}{literal}');
</script>
{/literal}
{else}


<div class=tag_box>
<a href="add_tag" onclick="return insert_tag(document.edit_news.news_small_text,'<b>','</b>')" class=tag_button><b>B</b></a>
<a href="add_tag" onclick="return insert_tag(document.edit_news.news_small_text,'<i>','</i>')" class=tag_button><i>I</i></a>
<a href="add_tag" onclick="return insert_tag(document.edit_news.news_small_text,'<u>','</u>')" class=tag_button><u>U</u></a>
<a href="add_tag" onclick="return insert_tag(document.edit_news.news_small_text,'<img src=>','</img>')" class=tag_button>IMG</a>
<a href="add_tag" onclick="return insert_tag(document.edit_news.news_small_text,'<a href=>','</a>')" class=tag_button>URL</a>
<a href="add_tag" onclick="return insert_tag(document.edit_news.news_small_text,'<br>','')" class=tag_button>BR</a>
</div>

<textarea id=news_small_text class=field style="width:100%" rows=20>{$guestbook.message|replace:"\r\n":""}</textarea>

{/if}
</td>
</tr>


{if $mode=='edit'}
<tr>
<td width=20% valign=top class=td1_left>&nbsp;&nbsp;Дата публикации:</td>
  <td class=td1_right>
    <input type="text" size="3" value="{$guestbook.insert_date|date_format:"%d"}" class=field name="edit_guestbook_date_day">
    <select name="edit_guestbook_date_month" class=field>
      <option value="1"{if $guestbook.insert_date|date_format:"%m"=="01"}selected{/if}>январь</option>
      <option value="2"{if $guestbook.insert_date|date_format:"%m"=="02"}selected{/if}>февраль</option>
      <option value="3"{if $guestbook.insert_date|date_format:"%m"=="03"}selected{/if}>март</option>
      <option value="4"{if $guestbook.insert_date|date_format:"%m"=="04"}selected{/if}>апрель</option>
      <option value="5"{if $guestbook.insert_date|date_format:"%m"=="05"}selected{/if}>май</option>
      <option value="6"{if $guestbook.insert_date|date_format:"%m"=="06"}selected{/if}>июнь</option>
      <option value="7"{if $guestbook.insert_date|date_format:"%m"=="07"}selected{/if}>июль</option>
      <option value="8"{if $guestbook.insert_date|date_format:"%m"=="08"}selected{/if}>август</option>
      <option value="9"{if $guestbook.insert_date|date_format:"%m"=="09"}selected{/if}>сентябрь</option>
      <option value="10"{if $guestbook.insert_date|date_format:"%m"=="10"}selected{/if}>октябрь</option>
      <option value="11"{if $guestbook.insert_date|date_format:"%m"=="11"}selected{/if}>ноябрь</option>
      <option value="12"{if $guestbook.publinsert_dateish_date|date_format:"%m"=="12"}selected{/if}>декабрь</option>
    </select>
    <input type="text" size="5" value="{$guestbook.insert_date|date_format:"%Y"}" class=field name="edit_guestbook_date_year">

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Время:
    <input type="text" size="3" value="{$guestbook.insert_date|date_format:"%H"}" class=field name="edit_guestbook_date_hour">:<input type="text" size="3" value="{$guestbook.insert_date|date_format:"%M"}" class=field name="edit_guestbook_date_minutes">
  <div style="padding-top: 10px;"><input type=checkbox name=update_time> Редактировать сегодняшним числом</div>
  </td>
</tr>

<tr>
	<td width=20% valign=top class=td1_left>&nbsp;&nbsp;Статус:</td><td class=td1_right>
		<select name=status style="width:50%;" class=field>
			<option value="1">Активный</option>
			<option value="0" {if $guestbook.status=='0'}selected=true{/if}>Ждёт</option>
		</select>
	</td>
</tr>


{/if}
</table>
<br>
<center><input type=submit {if $mode=='edit'}name=submit_edit_guestbook value="Сохранить изменения"{else}name=submit_add_guestbook value="Добавить сообщение"{/if}></center>

</form>