<html>
<head>
<title>Редактировать сообщение</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<link rel="stylesheet" type="text/css" href="{$base_url}/modules/guestbook/front/templates/guestbook.css">
</head>
<body>

<script src="{$base_url}/javascript/insert_text/insert_text_{$browser}.js"></script>

{if $refresh_parent}
<script language="JavaScript">
window.opener.location.reload();
</script>
{/if}

{if $error_message}<center><font color=red><b>{$error_message}</b></font></center><br><br>{/if}
<table width=100% cellspacing=1 cellpadding=3 class=guestbook_table>
	<tr>
		<th><b>Редактировать сообщение:</b></th>
	</tr>
	<tr>
		<td>
				<table width=100% cellspacing=1 cellpadding=3 class=guestbook_add_table>
					<form action="{$current_url}" method=post name=edit_message>
					<input type=hidden name=id value="{$message.id}">
					<tr>
						<td>
							<table width=100% class=guestbook_simple>
								<tr>
									<td width=15%>
										<b>Автор:</b>
									</td>
									<td>
										<input type=text name=message_author style="width:100%;" value="{$message.author}" class=guestbook_field>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					
					<tr>
						<td>
							<table width=100% class=guestbook_simple>
								<tr>
									<td width=15%>
										<b>E-mail:</b>
									</td>
									<td>
										<input type=text name=message_author_mail style="width:100%;" value="{$message.author_mail}" class=guestbook_field>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td>
						<div class=tag_box>
						<a href="add_tag" onclick="return insert_tag(edit_message.message_text,'[B]','[/B]')" class=tag_button><b>B</b></a>
						<a href="add_tag" onclick="return insert_tag(edit_message.message_text,'[I]','[/I]')" class=tag_button><i>I</i></a>
						<a href="add_tag" onclick="return insert_tag(edit_message.message_text,'[U]','[/U]')" class=tag_button><u>U</u></a>
						<a href="add_tag" onclick="return insert_tag(edit_message.message_text,'[QUOTE]','[/QUOTE]')" class=tag_button>&laquo; Цитата &raquo;</a>
						<a href="add_tag" onclick="return insert_tag(edit_message.message_text,'[URL=]','[/URL]')" class=tag_button>URL</a>
						</div>
							<textarea name=message_text style="width:100%;" rows=9 class=guestbook_field>{$message.message}</textarea><br>
							<b>Ответ:</b><br>
							<input type=checkbox name=send_answer> Отправить ответ по почте
							<textarea name=message_answer style="width:100%;" rows=9 class=guestbook_field>{$message.answer}</textarea><br><br>
							<center><input type=submit name=submit_edit_message value="Сохранить изменения" class=guestbook_button></center>
						</td>
					</tr>
					</form>
				</table>
		</td>
	</tr>
</table>

</body>
</html>