<center>{if $error_message}<font color=red>{$error_message}</font><br><br>{/if}</center>

			<form id="login_user_form" method="POST" action="{$smarty.const.DOMAIN}/cabinet/login/">
				<input type=hidden name=submit_login value=1>
	            <div id="login_user">
		            <div class="regin">E-mail: <input type="text" name="login_email"></div>
		           	<div class="regin">Пароль: <input type="password" name="login_pass"></div>
	           	</div>
	           	<input type="submit" value="Войти" name="submit_login">
	        </form>
<br><br>
<p><strong>!</strong> Если Вы забыли пароль, пройдите процедуру <a style='position:left;' href="{$base_url}/cabinet/restore" class="blue"><strong>восстановления
пароля</strong></a>.<br><br></p>
<p><strong>!</strong> Если у вас нет логина и пароля, просим Вас пройти процедуру <a href={$module_url}/register/><strong>регистрации</strong></a>.</p>