{if $files_list}
	{foreach from=$files_list item=file}
		<tr>
		  <td class=td1_left style="border-bottom: none;"><a href="{$base_url}/uploaded_files/shop_files/{$product.id}/{$file.file}">{$file.title}</a></td>
		  <td class=td1_right style="border-bottom: none;">
		  <input type=input name=edit_file_title[{$file.id}] class=field style="width:300px;" value="{$file.title}">
		  &nbsp;&nbsp;<input type="checkbox" name="del_file[{$file.id}]" id="delfile_{$file.id}">&nbsp;
		  <label for="delfile_{$file.id}">удалить</label></td>
		</tr>	
	{/foreach}
{/if}

{*
<tr>
  <td class=td1_left style="border-bottom: none;">Файл описание (*.pdf):</td>
  <td class=td1_right style="border-bottom: none;">
  <input type="text" name="file_title"><input type=file name=add_file class=field style="width:200px;"></td>
</tr>
*}

<tr>
  <td class=td1_left style="border-bottom: none;" colspan="2">
  <div id="files">
  	<div>
  		<input type="text" name="file_title[]" style="width:200px; margin-right:20px;">
  		<input type=file name="add_file[]" class=field >
		<a href="#" class="photos_more" onclick="return photos_more()" style="font-size:23px; font-weight:bold;">+</a>  		
  	</div>
  </div>	
  	<div id="photos_clone" style="display:none;clear:both; white-space:nowrap;">
  		<input type="text" name="file_title[]" style="width:200px; margin-right:20px;">
  		<input type=file name="add_file[]" class=field>
		<a href="#" class="photos_more" onclick="return photos_more()" style="font-size:23px; font-weight:bold;">+</a>  		
  	</div>
  	
  </td>
</tr>

{literal}
<script type="text/javascript" language="JavaScript"> 
	function photos_more()
	{
		$('#photos_clone > *').clone().appendTo('#files');
 
		rows = $('.photos_more').size() - 2;
		$('.photos_remove:lt(' + rows + ')').show();
		$('.photos_more:lt(' + rows + ')').hide();
 
		return false;
	}
</script>
{/literal}