
Лог импорта прайс-листов
<table width=100% class=content_table>
	<tr class=table_content>
		<th class=td1_left>Дата импорта</th>
		<th class=td1_right>Тип импорта</th>
		<th class=td1_right>Добавленно категорий</th>
		<th class=td1_right>Добавленно продуктов</th>
		<th class=td1_right>Обновленно продуктов</th>
		<th class=td1_right></th>
	</tr>
	
	{foreach from=$imports item=import}
		<tr class=table_content>
			<td class=td1_left>{$import.date}</td>
			<td class=td1_right>{if $import.type == 'tires'}шины{elseif $import.type == 'disk'}диски{/if}</td>
			<td class=td1_right>{$import.inserted_category}</td>
			<td class=td1_right>{$import.inserted_product}</td>
			<td class=td1_right>{$import.updated_product}</td>
			<td class=td1_right><a href="{$base_url}/admin/index.php?mod=shop&action=import_details&id={$import.id}">Детализация</a></td>
		</tr>
	{/foreach}
	
</table>
