<div class="spzakl">
	<div class="spzakli">
    	<div class="spzaklthis">—уперпредложение</div>
        <div class="spzaklelse">јкции</div>
        <div class="spzaklelse">—упер-пупер!</div>
    </div>
</div>
<div class="special">
	<div class="spinner">
    	<div class="pspitem"><div class="spitem"><a href="#" title="ћ€гка€ игрушка —мешарики ћул€, 12см">ћ€гка€ игрушка —мешарики ћул€, 12см</a><br><img src="{$template_image}toy_special.jpg" alt="ћ€гка€ игрушка —мешарики ћул€, 12см"><br><span class="splastp">1230</span><span class="sprubl"> руб.</span><br>1640<span class="sprub"> руб.</span></div></div>
        <div class="pspitem"><div class="spitem"><a href="#" title="ћ€гка€ игрушка —мешарики ћул€, 12см">ћ€гка€ игрушка —мешарики ћул€, 12см</a><br><img src="{$template_image}toy_special.jpg" alt="ћ€гка€ игрушка —мешарики ћул€, 12см"><br><span class="splastp">1230</span><span class="sprubl"> руб.</span><br>640<span class="sprub"> руб.</span></div></div>
        <div class="pspitem"><div class="spitem"><a href="#" title="ћ€гка€ игрушка —мешарики ћул€, 12см">ћ€гка€ игрушка —мешарики ћул€, 12см</a><br><img src="{$template_image}toy_special.jpg" alt="ћ€гка€ игрушка —мешарики ћул€, 12см"><br><span class="splastp">1230</span><span class="sprubl"> руб.</span><br>640<span class="sprub"> руб.</span></div></div>
        <div class="pspitem"><div class="spitem"><a href="#" title="ћ€гка€ игрушка —мешарики ћул€, 12см">ћ€гка€ игрушка —мешарики ћул€, 12см</a><br><img src="{$template_image}toy_special.jpg" alt="ћ€гка€ игрушка —мешарики ћул€, 12см"><br><span class="splastp">1230</span><span class="sprubl"> руб.</span><br>640<span class="sprub"> руб.</span></div></div>
        <div class="pspitem"><div class="spitem"><a href="#" title="ћ€гка€ игрушка —мешарики ћул€, 12см">ћ€гка€ игрушка —мешарики ћул€, 12см</a><br><img src="{$template_image}toy_special.jpg" alt="ћ€гка€ игрушка —мешарики ћул€, 12см"><br><span class="splastp">1230</span><span class="sprubl"> руб.</span><br>640<span class="sprub"> руб.</span></div></div>
        <div class="pspiteml"><div class="spitem"><a href="#" title="ћ€гка€ игрушка —мешарики ћул€, 12см">ћ€гка€ игрушка —мешарики ћул€, 12см</a><br><img src="{$template_image}toy_special.jpg" alt="ћ€гка€ игрушка —мешарики ћул€, 12см"><br><span class="splastp">1230</span><span class="sprubl"> руб.</span><br>640<span class="sprub"> руб.</span></div></div>
    </div>
</div>