<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
{literal}<script src="/javascript/common.js" language="javascript" type="text/javascript"></script>{/literal}
<title>Список пользователей</title>
</head>

<body>
{if count($users_list)>0}
<table width="90%">
<form action="" method="post" onSubmit="return getAddForumReadUsers(this);">
	<tr><td>&nbsp;</td><td><strong>Имя</strong></td><td><strong>Логин</strong></td><td><strong>E-mail</strong></td><td><strong>Группа</strong></td></tr>
	{foreach from=$users_list item=item}
		<tr><td><input value={$item.id} {section name=sec loop=$checked_users}{if $checked_users[sec] == $item.id}checked{/if}{/section} id="item{$item.id}" type="checkbox" name="USER[{$item.id}]"></td><td><label for="item{$item.id}">{$item.name}</label></td><td>{$item.login}</td><td>{$item.mail}</td><td>{$item.group_name}</td></tr>
	{/foreach}
	<tr><td colspan="4" align="center"><input type="submit" value="Запомнить" name="submit_add_read_users">&nbsp;<input type="button" value="Закрыть" onClick="window.close();"></td></tr>
</form>
</table>
{else}
<center><strong>Пользователей нет</strong></center>
{/if}
</body>
</html>
