{literal}
<DIV id=dhtmltooltip></DIV>
<SCRIPT language=JavaScript>
<!--
function confirm_delete(delete_id)
{
if (confirm("Дейтсвительно удалить этот форум?")) {
parent.location.href = "index.php?mod=forum&action=delete_forum&id=" + delete_id;
}
}
-->
</SCRIPT>
<script language=JavaScript src='{/literal}{$base_url}{literal}/javascript/tooltips.js'></script>
{/literal}
	<table width=100% class=content_table>

	<tr><th>Форум</th><th width=10%>Статус</th><th width=120>Действия</th></tr>

	{foreach name=tree from=$forums_list item=forum}

	{if $col==1}
	{assign var="td" value='td1'}
	{assign var="col" value=0}
	{else}
	{assign var="td" value='td2'}
	{assign var="col" value=1}
	{/if}
	<tr onmouseover="flatlinkOver(this)" {if $smarty.foreach.tree.iteration%2==1}onmouseout="flatlinkOut(this)"{else}onmouseout="flatlinkOut1(this)"{/if}>
			<td class={$td}_left>
				{str_repeat str="&nbsp;" num=$forum.param_level mod="4"}<img src=templates/img/tree.gif>{$forum.name}
			</td>
			<td align=center class={$td}_middle>
			{if $entry.param_level!=0}<a href="?mod=forum&action=change_forum_status&id={$entry.id}" title="Изменить статус"><img src=templates/img/status_{$entry.status}.gif border=0></a>{/if}
			</td>
			<td class={$td}_right nowrap width="120">
				<a href=?mod=forum&action=add_forum&parent={$forum.id} class=img_link onmouseover="ddrivetip('Добавить форум')" onmouseout=hideddrivetip()><img src=templates/img/add_cat.gif border=0></a>
				{if $forum.param_level!=0}<a href=?mod=forum&action=edit_forum&id={$forum.id} class=img_link onmouseover="ddrivetip('Редактировать форум')" onmouseout=hideddrivetip()><img src=templates/img/ico_edit.gif border=0></a>{/if}
                {if $forum.param_level!=0}<a href="javascript:confirm_delete('{$forum.id}');" class=img_link onmouseover="ddrivetip('Удалить форум')" onmouseout=hideddrivetip()><img src=templates/img/ico_delete.gif border=0></a>{/if}
				{if $forum.param_level!=0}<a href=?mod=forum&action=forum_move_up&id={$forum.id} class=img_link onmouseover="ddrivetip('Переместить форум вверх')" onmouseout=hideddrivetip()><img src=templates/img/ico_up.gif border=0></a><a href=?mod=forum&action=forum_move_down&id={$forum.id} class=img_link onmouseover="ddrivetip('Переместить форум вниз')" onmouseout=hideddrivetip()><img src=templates/img/ico_down.gif border=0></a>{/if}
			</td>
		</tr>

	{/foreach}

	</table>
    
<br>
<div class="add_but" style="float: left;" onClick="location.href='index.php?mod=forum&action=add_forum&parent=1'"><div><a href="index.php?mod=forum&action=add_forum&parent=1">добавить форум</a></div></div>