<b>Доступные шаблоны в системе:</b>
<br><br>

{if !$templates_list}
Нет ни одного доступного шаблона
{else}
<form action="" method=post>
<table width=40% cellspacing=1 cellpadding=3>
{foreach from=$templates_list item="template"}
	<tr>
		<td width=40% align=left><input type=text name=temlpate_name[{$template.id}] class=field value="{$template.name}"></td>
		<td width=40% align=left><input type=text name=temlpate_file[{$template.id}] class=field value="{$template.file}"></td>
		<td>[<a href=index.php?mod=edit_conf&action=delete_template&id={$template.id}>Удалить</a>]</td>
	</tr>
{/foreach}
</table>
<br><br>
<input type=submit name=submit_edit_templates value="Сохранить">
</form>
{/if}

<br><br><br>

<form action="" method=post>
<table width=40% cellspacing=1 cellpadding=3>
	<tr>
		<td width=40%><input type=text name=template_name class=field></td>
		<td width=40%><input type=text name=template_file class=field></td>
		<td><input type=submit name=submit_add_template value="Добавить"></td>
	</tr>
</table>
</form>