{if $otr_list}
<DIV id=dhtmltooltip></DIV>
{literal}
<script language="JavaScript">
function confirm_delete(delete_id) {
	if (confirm("Дейтсвительно удалить это решение?")) {
		parent.location.href = "?mod=otr&action=delete&id=" + delete_id;
	}
}
</script>
<script language=JavaScript src='{/literal}{$base_url}{literal}/javascript/tooltips.js'></script>
{/literal}

<table width=100% class="content_table">
<tr>
<th>Решение</th><th width=10%>Действия</th>
</tr>
{foreach from=$otr_list item=otr}
{if $col==1}
{assign var="td" value='td1'}
{assign var="col" value=0}
{else}
{assign var="td" value='td2'}
{assign var="col" value=1}
{/if}
<tr>
<td class={$td}_left><b>{$otr.title}</b><br>{$otr.small_text|nl2br}</td><td class={$td}_right><a href="javascript:confirm_delete('{$otr.id}');" class=img_link onmouseover="ddrivetip('Удалить решение')" onmouseout=hideddrivetip()><img src=templates/img/ico_delete.gif border=0></a><a href=?mod=otr&action=edit&id={$otr.id} class=img_link onmouseover="ddrivetip('Редактировать решение')" onmouseout=hideddrivetip()><img src=templates/img/ico_edit.gif border=0></a></td>
</tr>
{/foreach}
</table>
<br><br>
<center>
Страница: <a href="?mod=otr&page=1"><<</a>
	
{section name=p loop=$pages}
	{if $pages[p]==$current_page}
	{$pages[p]}
	{else}
	<a href="?mod=otr&page={$pages[p]}">{$pages[p]}</a>
	{/if}
{/section}
	
<a href="?mod=otr&page={$total_pages}">>></a>
</center>
{else}
<center>В системе нет решений.</center>

{/if}
