<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<meta name="ydWidgetData" id="d7c5848ee55055f570da70e5da681d3" content="" data-sender_id="8062" data-weight="1" data-cost="0" data-height="7" data-length="40" data-width="25" data-city_from="Москва" data-geo_id_from="213" data-css_name="geo_tpl" data-tpl_name="geo_tpl" data-container_tag_id="b2d82507d0c09a5d5583f29ed4bb07" data-resource_id="11119" data-resource_key="c1603440a85c627c69f9e33323981dd1" data-tracking_method_key="c55a4405a273e484243beb74b4ef58cd" data-autocomplete_method_key="f34e8ffb42ba45ef2d8f7ab1f9092dcb"></meta><!--[if lt IE 9]><script>document.createElement("msw");</script><![endif]-->
<script src="https://delivery.yandex.ru/widget/widgetJsLoader?dataTagID=d7c5848ee55055f570da70e5da681d3" charset="utf-8"></script>
<msw id="b2d82507d0c09a5d5583f29ed4bb07" class="yd-widget-container" style="width:300px;"></msw>
</body>
</html>