<!---- FILTER DISK ---->
            	<div class="idisk"><table class="idisktbl" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="idisktblt" width="253">Ширина:</td>
                    <td class="innselecttd" valign="bottom">
             	    <select class="innselect">
                      <option>Пункт 1</option>
                      <option>Пункт 2</option>
                    </select>
                    </td>
                    <td class="idisktblt">Производитель:</td>
                    <td width="170" class="innselecttd">
             	    <select class="innselect">
                      <option>Пункт 1</option>
                      <option>Пункт 2</option>
                    </select>
                    </td>
                  </tr>
                  <tr>
                    <td class="idisktblt">Диаметр:</td>
                    <td class="innselecttd">
             	    <select class="innselect">
                      <option>Пункт 1</option>
                      <option>Пункт 2</option>
                    </select>
                    </td>
                    <td class="idisktblt">ET:</td>
                    <td class="innselecttd">
             	    <select class="innselect">
                      <option>Пункт 1</option>
                      <option>Пункт 2</option>
                    </select>
                    </td>
                  </tr>
                  <tr>
                    <td class="idisktblt">Крепеж:</td>
                    <td class="innselecttd">
             	    <select class="innselect">
                      <option>Пункт 1</option>
                      <option>Пункт 2</option>
                    </select>
                    </td>
                    <td class="idisktblt">PCD:</td>
                    <td class="innselecttd">
             	    <select class="innselect">
                      <option>Пункт 1</option>
                      <option>Пункт 2</option>
                    </select>
                    </td>
                  </tr>
                  <tr>
                    <td class="idisktblt">Есть на складе:</td>
                    <td class="innchktd"><input type="checkbox" checked style="position:absolute; z-index:5;"></td>
                    <td class="mdisktblt">Цвет:</td>
                    <td class="innselecttd">
             	    <select class="innselect">
                      <option>Пункт 1</option>
                      <option>Пункт 2</option>
                    </select>
                    </td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="ifiltbut"><input type="image" src="{$template_image}podobrat_orange.png" width="111" height="25"></td>
                  </tr>
                </table></div>
<!---- /FILTER DISK ---->