Профиль пользователя {$info.name}

<br><br>

{if $info.photo}
<br>
<a href={$base_url}/uploaded_files/profile_photos/{$info.id}.{$info.photo} target="_blank"><img src="uploaded_files/profile_photos/small-{$info.id}.{$info.photo}" border=0></a>
<br><br>
{/if}

<table width=50% cellpadding="3" cellspacing="1">
	<tr>
		<td width=25% align=right>
			Имя:
		</td>
		
		<td align=left>
			<b>{$info.name}</b>
		</td>
	</tr>
	
	<tr>
		<td align=right>
			Город:
		</td>
		
		<td align=left>
			<b>{$info.place}</b>
		</td>
	</tr>
	
		<tr>
		<td align=right>
			Род занятий:
		</td>
		
		<td align=left>
			<b>{$info.work}</b>
		</td>
	</tr>
	
		<tr>
		<td align=right>
			Сайт:
		</td>
		
		<td align=left>
			<b><a href={$info.site} target="_blank">{$info.site}</a></b>
		</td>
	</tr>
	
		<tr>
		<td align=right valign=top nowrap>
			Коротко о себе, интересы:
		</td>
		
		<td align=left>
			<b>{$info.about|nl2br}</b>
		</td>
	</tr>
</table>

<br><br>
<a href=/forum>Вернуться в форум</a> | <a href=/forum/info/{$info.id}/albums>Фотоальбомы пользователя</a> | {if $logged_user}<a href={$base_url}/cabinet/messages/new/?to={$info.login}>Написать личное сообщение</a>{/if}