{literal}
<script language="JavaScript">
function check_poll_form() {
	
	  var i;
	  for (i=0; i<single_poll_form.poll_answer.length; i++) {
	    if (single_poll_form.poll_answer[i].checked) {
	      return true;
	    }
	  }
	  alert("Выберите вариант ответа!");
	  return false;
	
}
</script>
{/literal}

<center>
<form action="{$module_url}/{$poll.id}" method=post name=single_poll_form onsubmit="return check_poll_form();">
<input type=hidden name=poll_id value="{$poll.id}">
<b>{$poll.name}</b>
<table width=50% cellspacing=1 cellpadding=3>
{foreach from=$poll.answers item=answer}
<tr>
<td nowrap width=1%>{if !$poll_done and $poll.status!='2'}<input type=radio name=poll_answer value="{$answer.id}">{else}•{/if} {$answer.name}</td><td> <img src={$templates_url}/img/scale.gif width={$answer.percent}px height=15px> [{$answer.answers}] [{$answer.percent}%]</td>
</tr>
{/foreach}
</table>
{if !$poll_done and $poll.status!='2'}<input type=submit name=submit_poll value="Голосовать">{/if}
{if $poll.status=='2'}Опрос завершён{/if}
</center>
</form>