<h1>Восстановление пароля</h1>

{$error_message}

<form id="restore_password_form" method="POST" action="">
<input type=hidden name=submit_login value=1>
<div id="login_user">
	<div class="regin">E-mail: <input type="text" name="email"></div>
</div>
<input type="submit" value="Отправить" name="submit_restore">
</form>

{*
<script src="/javascript/common.js"></script>
<table width="100%" style="height : 184px; border : 1px solid #cecece;" cellpadding="0" cellspacing="0" border="0" bgcolor="#f2f2f2">
<tr valign="top">
<td height="18" colspan="3">&nbsp;</td>
</tr>
<tr valign="top">
<td width="20" height="71">&nbsp;</td>
<td>Вы можете получить ваш логин и пароль письмом на ваш email-ящик. Для этого достаточно ввести свой почтовый адрес в формочку ниже.</td>
<td width="20">&nbsp;</td>
</tr>
<tr valign="top">
<td colspan="3" align="center">
<form action="" method="post" onSubmit="return getRepassword(this);" name='frm1'>
<table cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="lefttop10px" colspan="2">&darr; Твой E-mail <font style="color: #666;">[пример &rarr; admin@yandex.ru]</font></td>
  </tr>
  <tr>
    <td valign="top" width="290"><input type="text" name="email" value="" class="input"></td>
	<td><input type="submit" class="button" value="Отправить &rarr;"></td>
  </tr>


</table>
</form>

</td>
</tr>
</table>
*}