<table width=90%><form action="" method=post>
      {if trim($send_order)==""}
      <tr><td colspan=2><strong>Заполните, и отправьте форму с новым заказом.</strong></td></tr>
      <tr><td height=10></td></tr>
      <tr><td>Что хотите заказать:</td><td><textarea cols=45 rows=6 name=products></textarea></td></tr>
      <tr><td>Комментарии к заказу:</td><td><textarea cols=45 rows=6 name=comment></textarea></td></tr>
      <tr><td colspan=2 align=center><input type=submit name=submit_new_order value=Отправить id=sOtr></td></tr>
      {else}
      <td align=center><strong>{$send_order}</strong></td>
      {/if}
</form></table>  
