{if $basket}


        <h1>Корзина</h1>
        <form action="" method="post">
           <table width="100%" border="0" cellspacing="1" cellpadding="0">
              <tr bgcolor="#fbf3df">
                <td colspan="7" class="tabletop"><div class="tabletop2"></div></td>
              </tr>
              <tr bgcolor="#fbf3df" class="tablecapt">
                <td>№</td>
                <td>Количество</td>
                <td>Артикул</td>
                <td>Наименование</td>
                <td>Цена</td>
                <td>Сумма</td>
                <td>&nbsp;</td>
              </tr>
              
              {foreach from=$basket item=product name=basket_foreach}
              <tr bgcolor="#{if $smarty.foreach.basket_foreach.iteration%2}fbf3df{else}f1f6f9{/if}" class="tableall">
                <td>{$smarty.foreach.basket_foreach.iteration}</td>
                <td><input type="text" value="{$product.number}" name="edit_number[{$product.id}]" class="tableinp"> шт.</td>
                <td><span class="tableart">{$product.article}</span></td>
                <td><a href="{$product.full_url}">{$product.name}</a></td>
                <td id="nw">{$product.price|format_number} <span class="tableart">руб.</span></td>
                <td id="nw">{$product.price_number|format_number} <span class="tableart">руб.</span></td>
                <td><a href="{$module_url}/basket/delete/{$product.id}/" onclick="return confirm('Удалить продукт из корзины');"><img src="{$template_image}del.png" width="57" height="17" /></a></td>
              </tr>
              {/foreach}
              <tr bgcolor="#fbf3df">
                <td colspan="7" class="tablebot"><div class="tablebot2"></div></td>
              </tr>
            </table>

            <input type="submit" value="Пересчитать" name="basket_recount">

        </form>    
            
            <br>
            <div id="tar" style="position:fixed;margin-left:500px;">
            Итого: <span style="color:#e07e13;">{$total_price|format_number}</span> <span style="font-size:12px;">руб.</span><br>
            Доставка: <span style="color:#e07e13;" id="dostavka_price">{if $total_price|format_number < $smarty.const.SHOP_DOSTAVKA_LIMIT}{$smarty.const.SHOP_DOSTAVKA_PRICE}</span> <span style="font-size:12px;">руб.</span>{else}<span style="color:#e07e13;">Бесплатно</span>{/if}<br><br>
            Всего: <span style="color:#156391;" id="vsego">{$total_price_dostavka|format_number}</span> <span style="font-size:12px;">руб.</span><br>
            </div>
         	
{/if}       
<br><br><br>
			
	        {if !$user}
	        	<div id="response_server"></div>
	        	<input type="hidden" id="register" value="0"></div>
				{include file="`$smarty.const.BASE_PATH`/modules/cabinet/front/templates/cabinet_login_basket.html"}
				{include file="`$smarty.const.BASE_PATH`/modules/cabinet/front/templates/cabinet_register_basket.html"}
			{else}
				<input type="hidden" id="register" value="1"></div>
			{/if}


			<form action="{$smarty.const.DOMAIN}/shop/basket/submit/" method="post" id="submit_basket_form">
				<input type="hidden" name="total_price" value="{$total_price|format_number}">
				<input type="hidden" name="total_price_dostavka" value="{$total_price_dostavka|format_number}">
				<input type="hidden" name="submit_order" value="1">
	            <div id="regp">Выберите способ доставки:</div>
	            <table width="100%" border="0" cellspacing="0" cellpadding="0">
	              <tr>
	                <td><input type="radio" name="dostavka" value="1" id="dost1" checked></td>
	                <td width="100%"><div id="size14"><label for="dost1">Доставка по Москве и Подмосковью</label></div>
	                Для Вас - {if $total_price|format_number < $smarty.const.SHOP_DOSTAVKA_LIMIT}<span style="color:#185f95;">{$smarty.const.SHOP_DOSTAVKA_PRICE}</span>{else}<span style="color:#185f95;">Бесплатно</span>{/if} руб.<br><br></td>
	              </tr>
	              <tr>
	                <td><input type="radio" name="dostavka" value="2" id="dost2"></td>
	                <td><div id="size14"><label for="dost2">Забрать самостоятельно</label></div>
	                Уточните у менеджера место наличия товара<br><br></td>
	              </tr>
	              <tr>
	                <td><input type="radio" name="dostavka" value="3" id="dost3"></td>
	                <td><div id="size14"><label for="dost3">Доставка в транспортную компанию (стоимость доставки расчитывает перевозчик)</label></div>
	                Стоимость доставки ДО транспортной компании: {if $total_price|format_number < $smarty.const.SHOP_DOSTAVKA_LIMIT}<span style="color:#185f95;">{$smarty.const.SHOP_DOSTAVKA_PRICE}</span>{else}<span style="color:#185f95;">Бесплатно</span>{/if} руб.
	                <div style="display:none;" id="trans_company_block">
	                	<ul style="list-style-type:none; margin-left:0px; padding-left:0px;">
	                		<li style="list-style-type:none; margin:5px 0 0 0px; "><input type="radio" name="company_dost" value="1" id="company_dost1"></input><label for="company_dost1">ЖелдорАльянс</label></li>
	                		<li style="list-style-type:none; margin:5px 0 0 0px; "><input type="radio" name="company_dost" value="2" id="company_dost2"></input><label for="company_dost2">Деловые линии</label>
	                		&nbsp;(Стоимость и условия доставки смотрите на сайте <a href="http://www.dellin.ru/" target="_blank">http://www.dellin.ru/</a>)</li>
	                		<li style="list-style-type:none; margin:5px 0 0 0px; "><input type="radio" name="company_dost" value="3" id="company_dost3"></input><label for="company_dost3">ПЭК</label>
	                		&nbsp;(Стоимость и условия доставки смотрите на сайте <a href="http://www.pecom.ru/ru/">http://www.pecom.ru/ru/</a>)</li>
	                	</ul>
	                </div>

	                </td>
	              </tr>

	            </table>
	            <div id="regp">Выберите способ оплаты:</div>
	            <table width="100%" border="0" cellspacing="0" cellpadding="0">
	              <tr>
	                <td><input type="radio" name="payment" value="1" id="rb1" checked></td>
	                <td width="100%"><div id="size14"><label for="rb1">Наличные</label></div>
	                <span style="color:#999999;">Оплата при получении товара</span><br><br></td>
	              </tr>
	              <tr>
	                <td><input type="radio" name="payment" value="2" id="rb2"></td>
	                <td><div id="size14"><label for="rb2">Безналичный расчет (для юридических лиц)</label></div>
	                <span style="color:#999999;">Оплата с банковского счета</span></td>
	              </tr>
	            </table>
	            <div class="regin2" style="width:500px;">Название компании: <input type="text" name="company"></div>
	            <div class="regin2" style="width:500px;">ИНН: <input type="text" name="inn"></div>
	            <div class="regin2" style="width:500px;">КПП: <input type="text" name="kpp"></div>
	            <div id="regp">Дополнительные пожелания:</div>
	            <div class="regin2">Текст пожелания: <textarea name="comment"></textarea></div>

         <center><input name="submit_basket" type="image" src="{$template_image}send_zakaz.png" width="318" height="31"></center>

		</form>

		{literal}
		<script>
			$(document).ready(function(){

				var dostavka_price = parseInt($("#dostavka_price").html());
				if (!dostavka_price)
					dostavka_price = "Бесплатно";

				$("input[type='radio'][name='dostavka']").change(function(){
					$("div#trans_company_block").fadeOut("fast");
					var total_price = $("input[name='total_price']").val();
					var total_price_dostavka = $("input[name='total_price_dostavka']").val();
					if ($(this).val() == 1 || $(this).val() == 3)
					{
						$("#vsego").html( total_price_dostavka );
						$("#dostavka_price").html( dostavka_price );
					}
					else if ($(this).val() == 2)
					{
						$("#vsego").html( total_price );
						$("#dostavka_price").html( 0 );
					}

					if ($(this).val() == 3)
					{
						$("div#trans_company_block").fadeIn("fast");
					}
					
				});


			});

		</script>
		{/literal}
