<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<title>{$page_title}</title>
<meta name="Keywords" content="{$meta_keywords}">
<meta name="Description" content="{$meta_description}">
{foreach from=$css item=css}
<link rel="stylesheet" type="text/css" href="{$css}">
{/foreach}
{foreach from=$js item=js}
<script src="{$js}" type="text/javascript"></script>
{/foreach}
{assign var=curnav value=$navigation.1.url|replace:"$base_url":""|replace:"/":""}
{assign var=curnav2 value=$navigation.2.url|replace:"$base_url":""|replace:"/":""|replace:"$curnav":""}
</head>

<div id='loading-layer'><div>Загрузка. Пожалуйста, подождите...</div></div>

<body>
<table width="1100" height="100%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr height="125">
    <td>
    <table width="1050" border="0" cellspacing="0" cellpadding="0" align="center">
      <tr>
        <td class="topban">{banners group="1"}{banners group="5"}{banners group="6"}{*<img src="{$template_image}bann1.png"><img src="{$template_image}bann2.png"><img src="{$template_image}bann3.png">*}</td>
        <td class="toptels"><span class="telcode">/{$smarty.const.PHONE_CODE1}/</span> <span class="telnumber">{$smarty.const.PHONE1}</span>
        <br><span class="telcode">/{$smarty.const.PHONE_CODE2}/</span> <span class="telnumber">{$smarty.const.PHONE2}</span></td>
      </tr>
    </table>    
    </td>
  </tr>
  <tr height="43">
    <td class="topmenu">
    <table width="100%" height="43" class="topmenut" border="0" cellspacing="0" cellpadding="0">
      <tr height="43">
<!---- TOP MENU ---->
        <td valign="top" width="18" style="background-color:#FFF;"><img src="{$template_image}tmenu_l.png"></td>
        <td width="82"><a href="/" style="padding:0px !important;"><img src="{$template_image}logo.png" width="82" height="43" vspace="0" hspace="0"></a><br></td>
        {foreach from=$main_menu item=item name=main_menu}
        	<td width="1" valign="top"><img src="{$template_image}tmenu_line.png" width="5" height="43" class="topl"></td>
        	<td {if $node_content.id == $item.id}class="this"{/if}><a href="{$base_url}/{$item.url|urlencode}/" class="tlink">{$item.name|strip_tags}</a></td>
        	{if $smarty.foreach.main_menu.last}
        		<td width="1" valign="top"><img src="{$template_image}tmenu_line.png" width="5" height="43" class="topl"></td>
        	{/if}
        {/foreach}
        
        {include file="../templates/form_search.html"}
        
<!---- /TOP MENU ---->
      </tr>
    </table>
</td>
  </tr>
  <tr height="100%">
    <td><br>
    <table width="1100" height="100%" border="0" cellspacing="10" cellpadding="0">
      <tr>
        <td width="167" valign="top">
<!---- LEFT MENU ---->
        <div class="lmenu">
       		<img src="{$template_image}left_top.png" width="167" height="11" vspace="0"><br>
        	
       		{include file="../templates/shop_left_menu.tpl"}

            <img src="{$template_image}left_bot.png" width="167" height="11" vspace="0"><br>
        </div>
<!---- /LEFT MENU ---->
<br>
<!---- LEFT BANNER ---->
		{include file="../templates/recomend_product.html"}
<!---- /LEFT BANNER ---->
        </td>
        <td valign="top" class="cont">
        
		{if $content=='' or !$content}
			{assign var="content" value=""}
			{fetch file=$template assign="content"}
		{/if}
		{eval var=$content}
        
        </td>
        <td valign="top" width="182">
       	   <div class="rside">
            <img src="{$template_image}right_top.png" width="182" height="10" vspace="0"><br>

<!---- BAG ---->
		{include file='../templates/basket.html'}
		
<!---- /BAG ---->

            <img src="{$template_image}right_bot.png" width="182" height="11" vspace="0"><br>
           </div>
          	<br>
           <div class="rside">
            <img src="{$template_image}right_top.png" width="182" height="10" vspace="0"><br>
			<!---- NEWS ---->
			{include file="../templates/home_news_block.html"}
			<!---- /NEWS ---->
            <img src="{$template_image}right_bot.png" width="182" height="11" vspace="0"><br>
           </div>
        </td>
      </tr>
    </table>
    </td>
  </tr>
<!---- FOOTER ---->
  <tr height="100">
    <td class="bot" valign="top"><div class="rbot"><br>Посетителей на сайте - {$online_users}</div><br>© 2010  -  Шины и Диски<br><br><br>{$smarty.const.FOOTER_TITLE}</td>
      </tr>
<!---- /FOOTER ---->
</table>

<div style="position:absolute; z-index:90; border:1px solid #e07e13; background:#FFF; display:none;" id="ImageLayout"></div>

</body>

{literal}
<!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t23.4;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet: показано число посетителей за"+
" сегодня' "+
"border='0' width='88' height='15'><\/a>")
//--></script><!--/LiveInternet-->

<!-- Yandex.Metrika counter -->
<div style="display:none;"><script type="text/javascript">
(function(w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter9968251 = new Ya.Metrika({id:9968251, enableAll: true, webvisor:true});
        }
        catch(e) { }
    });
})(window, "yandex_metrika_callbacks");
</script></div>
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
<noscript><div><img src="//mc.yandex.ru/watch/9968251" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25875223-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{/literal}

</html>