{literal}
<script language=JavaScript src='{/literal}{$base_url}/{literal}javascript/editor/scripts/language/russian/editor_lang.js'></script>
<script language=JavaScript src='{/literal}{$base_url}/{literal}javascript/editor/scripts{/literal}/{$editor_mode}{literal}'></script>

<script language="JavaScript">
function check_form() {
	if (({/literal}{if $editor_style=='html'}document.getElementById('questions_description').value{else}questions_description.getHTMLBody(){/if}{literal}=='')) {
		alert("Заполните, пожалуйста, обязательные поля");
		return false;
	}
	else {
		{/literal}
		{if $editor_style!='html'}
		{literal}
			document.edit_questions.questions_description.value = questions_description.getHTMLBody();
		{/literal}
		{else}
		{literal}
			document.edit_questions.questions_description.value = document.getElementById('questions_description').value;
		{/literal}
		{/if}
		{literal}
		return true;
	}
}
</script>
{/literal}

{if $success_message}<center><font color=green>{$success_message}</font></center><br>{/if}
{if $error_message}<center><font color=red>{$error_message}</font></center><br>{/if}
<form action="" name=edit_questions method=POST enctype="multipart/form-data" onSubmit="return check_form();">
<input type=hidden name=id value={$questions.id}>
<table width=100% class="content_table">
<tr><th>{if $mode=='edit'}Редактируем вопрос{else}Добавить вопрос{/if}</th></tr>
</table>

<table width=100% class="content_table">
<tr>
<td width=20% class=td1_left><font color=red>*</font>&nbsp;Вопрос:</td><td class=td1_right><input type=text name=edit_questions_title style="width:100%" value="{$questions.question}" class=field></td>
</tr>
<tr>
<td class=td1_single colspan=2>

<input type=hidden name=edit_questions_description value="">
<p><font color=red>*</font> Описание вопроса:</p>


{literal}
<script language="JavaScript">
				var questions_description = new InnovaEditor("questions_description");

					questions_description.btnStyles=true;

					questions_description.width="100%";
					questions_description.height="400";

					questions_description.css="style.css";
					questions_description.cmdAssetManager="modalDialogShow('{/literal}{$base_url}/{literal}javascript/editor/assetmanager/assetmanager.php?lang=russian',640,465)";

					questions_description.features=["FullScreen","Preview","Print","Search",
						"Cut","Copy","Paste","PasteWord","PasteText","|","Undo","Redo","|",
						"ForeColor","BackColor","|","Bookmark","Hyperlink",
						"XHTMLSource","Numbering","Bullets","|","Indent","Outdent","|","Image","|",
						"Table","Guidelines","Absolute","|","Characters","Line",
						"Clean","ClearAll","BRK",
						"StyleAndFormatting","TextFormatting","ListFormatting","BoxFormatting",
						"ParagraphFormatting","CssText","Styles","|",
						"Paragraph","FontName","FontSize","|",
						"Bold","Italic",
						"Underline","Strikethrough","|","Superscript","Subscript","|",
						"JustifyLeft","JustifyCenter","JustifyRight","JustifyFull"];

                       questions_description.RENDER('{/literal}{$questions.description|replace:"\r\n":""}{literal}');
</script>
{/literal}
</td>
</tr>

</table>
<br>
<center><input type=submit {if $mode=='edit'}name=submit_edit_questions value="Сохранить изменения"{else}name=submit_add_questions value="Добавить вопрос"{/if}></center>

</form>
