<form action="" method=post>

<table width=90% cellspacing=1 cellpadding=3>
	<tr>
		<td colspan="2">
			<b>Почтовая рассылка:</b>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			
		</td>
	</tr>
	<tr>
		<td width=30%>
			Ваш e-mail:
		</td>
		<td>
			<input type=text name=new_subscriber_mail style="width:100%">
		</td>
	</tr>
	<tr>
		<td width=30%>

		</td>
		<td align=center>
			<input type=radio name=new_subscriber_action checked value="subscribe"> Подписаться  <input type=radio name=new_subscriber_action value="unsubscribe"> Отписаться
		</td>
	</tr>
	<tr>
		<td colspan="2">
			
		</td>
	</tr>
	<tr>
		<td width=30%>

		</td>
		<td>
			<input type=submit name=submit_new_subscribe value="Отправить">
		</td>
	</tr>
</table>

</form>