{literal}
<SCRIPT language=JavaScript>
function form_check() {
	if (document.edit_forum.edit_forum_url.value=='') {
		alert("Заполните пожалуйста обязательные поля");
		return false;
	}
	else {
		return true;
	}
}
function show(name, elem)
{
if(document.getElementById(name).style.display!="none") {
		document.getElementById(name).style.display="none";
		elem.className = "plus";
	}
	else {
		document.getElementById(name).style.display="";
		elem.className = "minus";
	}
}
</SCRIPT>
{/literal}
{if $error_message}<center><font color=red><b>{$error_message}</b></font></center><br><br>{/if}
<form action="" name=edit_forum method=post onSubmit="return form_check();">
{if $mode=='edit'}
<input type=hidden name=old_url value={$forum.url}>
<input type=hidden name=id value={$forum.id}>
{/if}
<input type=hidden name=old_parent value={$parent}>
<table width=100% class=content_table>
	<tr><th>{if $mode=='edit'}Редактировать форум{else}Добавить форум{/if}</th></tr>
</table>

<table width=100% class=content_table>
	<tr>
		<td width=20% class=td1_left><b>В раздел:</b></td>
		<td class=td1_right>
			<select name=edit_forum_parent style="width:100%;" class=field>
			{foreach from=$forums_list item=entry}
			<option value={$entry.id}{if $entry.id==$parent} selected=true{/if}>{$entry.full_title}</option>
			{/foreach}
			</select>
		</td>
	</tr>

	<tr class=table_content>
		<td class=td1_left><b>Название:</b></td>
		<td class=td1_right><input type=text name=edit_forum_name style="width:100%;" class=field value="{$forum.name}"></td>
	</tr>
	<tr class=table_content>
		<td class=td1_left><b>Альтернативное имя:</b></td>
		<td class=td1_right><input type=text name=edit_forum_name2 style="width:100%;" class=field value="{$forum.name2}"></td>
	</tr>
	<tr class=table_content>
		<td class=td1_left><b><font color=red><small>*</small></font>URL:</b></td>
		<td class=td1_right><input type=text name=edit_forum_url style="width:100%;" class=field value="{$forum.url}"></td>
	</tr>
	<tr>
		<td class=td1_left><b>Описание:</b></td>
		<td class=td1_right><textarea name=edit_forum_description style="width:100%; height: 70px;" class=field>{$forum.description}</textarea>
	</tr>
	
	<tr>
		<td width=15% class=td1_left><b>Статус:</b></td>
		<td class=td1_right>
		<select name=edit_forum_status style="width:50%;" class=field>
			<option value="1" {if $forum.status=='1'}selected=true{/if}>Активный</option>
			<option value="0" {if $forum.status=='0'}selected=true{/if}>Ждёт</option>
		</select>
		</td>
	</tr>
	</table>

<table width=100% class=content_table>
	<tr>
		<th bgcolor=#99CCFF onClick="show('metas', this);" class="button plus" style="border-bottom: none; text-align: left; padding-left: 30px;"><b>Metas</b></th>
	</tr>
 </table>
    <div id="metas" style="display:none;">
<table width=100% class=content_table>
	<tr>
		<td width=15% class=td1_left><b>Title:</b><br><small>(заголовок страницы)</small></td>
		<td class=td1_right><input type=text name=edit_forum_title style="width: 500px;" class=field value="{$forum.title}"></td>
	</tr>
</table>
</div>
<table width=100% class=content_table>
	<tr>
		<th bgcolor=#99CCFF onClick="show('lows', this);" class="button plus" style="border-bottom: none; text-align: left; padding-left: 30px;"><b>Права доступа</b></th>
	</tr>
 </table>
    <div id="lows" style="display:none;">
<table width=100% class=content_table>
	<tr valign="top">
		<td width=15% class=td1_left><b>Чтение:</b><br><small>(если права для чтения на родительский форум ограничены, они автоматически распространяются на дочерний форум)</small></td>
		<td class=td1_right>
		<input type="hidden" name="users_read_list" id="users_read_list" value="{$users_checked}">
		<input type=radio name=read_to value="all" {if $read_mode=='all'}checked=true{/if}> Доступен для всех<br>
		<input type=radio name=read_to value="registered" {if $read_mode=='registered'}checked=true{/if}> Только для зарегестрированных<br>
		<input type=radio name=read_to value="list" {if $read_mode=='list'}checked=true{/if}> Доступен только для:&nbsp;<a href="javascript: void(getForumReadUsers({$smarty.get.id}));">редактировать</a>&nbsp;<span id="label"></span>&nbsp;<span id="label"></span><br>
		<br>
		<div id=read_box style="width:500px; height:100px;  padding: 8pt 5pt 0pt 5pt; overflow-y: scroll; background:#ffffff;">
		{html_checkboxes name="read_users" options=$users_checkboxes selected=$users_read_checked separator="<br>"}
		</div>     
        </td>
	</tr>
    	<tr valign="top">
		<td width=15% class=td1_left><b>Запись:</b><br><small>(если права для записи на родительский форум ограничены, они автоматически распространяются на дочерний форум)</small></td>
		<td class=td1_right>		]
		<input type="hidden" name="users_write_list" id="users_list" value="{$users_checked}">
		<input type=radio name=write_to value="all" {if $write_mode=='all'}checked=true{/if}> Доступен для всех<br>
		<input type=radio name=write_to value="registered" {if $write_mode=='registered'}checked=true{/if}> Только для зарегестрированных<br>
		<input type=radio name=write_to value="list" {if $write_mode=='list'}checked=true{/if}> Доступен только для:&nbsp;<a href="javascript: void(getForumWriteUsers({$smarty.get.id}));">редактировать</a>&nbsp;<span id="label"></span><br>
		<br>
		<div id=access_box style="width:500px; height:100px;  padding: 8pt 5pt 0pt 5pt; overflow-y: scroll; background:#ffffff;">
		{html_checkboxes name="write_users" options=$users_checkboxes selected=$users_write_checked separator="<br>"}
		</div></td></tr>
</table>
</div>

<br>
<center><input type=submit name={if $mode=='add'}submit_add_forum value="Добавить форум"{else}submit_edit_forum value="Сохранить изменения"{/if}></center>
</form>