{foreach from=$threads_list item=entry}

{$entry.title} [<a href=index.php?mod=forum&action=move_post&move_to={$entry.id}&post_id={$post_id}>Переместить</a>]<br>

{/foreach}

{if $total_pages>1}
	<br>
	Страницы: <a href="index.php?mod=forum&action=move_post&forum_id={$forum_id}&post_id={$post_id}&page=1"><<</a>

	{section name=p loop=$pages}
		{if $pages[p]==$current_page}
		{$pages[p]}
		{else}
		<a href="index.php?mod=forum&action=move_post&forum_id={$forum_id}&post_id={$post_id}&page={$pages[p]}">{$pages[p]}</a>
		{/if}
	{/section}
	
	<a href="index.php?mod=forum&action=move_post&forum_id={$forum_id}&post_id={$post_id}&page={$total_pages}">>></a>
{/if}