    <table class="capttin" cellspacing="0" cellpadding="0">
	  <tr>
		<td class="capt1">&nbsp;</td>
		<td class="capt3"><h2>{if $cat_content.param_level == 0}{$node_content.name}{elseif $cat_content.param_level == 1}{$cat_content.name}{elseif $cat_content.param_level == 2}{$cat_parent_info.name}{/if}</h2></td>
		<td class="capt2">&nbsp;</td>
	  </tr>
	</table>

	{if $cat_content.param_level == 0}
    <table class="txtin" cellspacing="0" cellpadding="0">
      <tr>
        <td width="100%">
        	{foreach from=$folders_list item=folder}
				<div class="restor"><a href="{$base_url}/restorants/{$folder.full_url}">{$folder.name}<br>
				<img src="/{$smarty.const.PHOTOS_FOLDER}/medium-{$folder.photo.id}.{$folder.photo.ext}" width="350" height="233"></a><br></div>
			{/foreach}
        </td>
      </tr>
	</table>
	
	{elseif $cat_content.param_level == 1}
	
    <table class="txtin" cellspacing="0" cellpadding="0">
      <tr>
        <td class="lmenu"><img src="{$template_image}clear.png" height="1" width="250"><br>
        {foreach from=$shop_menu item=smenu}
        	<a href="{$base_url}/restorants/{$smenu.url}/">{$smenu.name}</a><br>
        	{if $smenu.id == $cat_content.id}
        		<div>
        			{foreach from=$folders_list item=folder}
        				<a href="{$base_url}/restorants/{$cat_content.url}/{$folder.url}/">{$folder.name}</a><br>
        			{/foreach}
        		</div>
        	{/if}
        {/foreach}
        </td>
        <td width="100%">
        <h1>{$cat_content.name}</h1>
        {$cat_content.text}
         </td>
      </tr>
	</table>	
	
	{elseif $cat_content.param_level == 2}
	
   	<table class="txtin" cellspacing="0" cellpadding="0">
      <tr>
        <td class="lmenu"><img src="{$template_image}clear.png" height="1" width="250"><br>
        {foreach from=$shop_menu item=smenu}
        	<a href="{$base_url}/restorants/{$smenu.url}/">{$smenu.name}</a><br>
        	{if $smenu.id == $cat_parent_info.id}
        		<div>
        		{foreach from=$cat_parent_info.folders_list item=folder}
        		<a href="{$base_url}/restorants/{$cat_parent_info.url}/{$folder.url}/">{$folder.name}</a><br>
        		{/foreach}
        		</div>
        	{/if}
        {/foreach}
        </td>
        <td width="100%">
        <h1>{$cat_content.name}</h1>
        
        <table class="restmenu" cellspacing="0" cellpadding="0">
       	{foreach from=$products_list item=product}
	          <tr>
	            <td class="ves">{$product.description}</td>
	            <td><b>{$product.name}</b><br>{$product.small_description}</td>
	            <td><b>{$product.price} руб.</b></td>
	          </tr>
        {/foreach}
        </table>

        </td>
      </tr>
	</table>	
	
	
	{/if}


		{*if $parent.id == $smarty.const.TIRES_ID}
			{include file="`$smarty.const.BASE_PATH`/modules/shop/front/templates/tires_filter.html"}
		{elseif $parent.id == $smarty.const.DISK_ID}
			{include file="`$smarty.const.BASE_PATH`/modules/shop/front/templates/disk_filter.html"}
		{/if*}

		{*<h1>{if $cat_content.param_level == 0}Каталог продукции{else}{$cat_content.name}{/if}</h1>*}

		{*if $cat_content.param_level == 3}
			{if $parent.id == $smarty.const.TIRES_ID}
				{include file="`$smarty.const.BASE_PATH`/modules/shop/front/templates/single_tire.html"}
			{elseif $parent.id == $smarty.const.DISK_ID}
				{include file="`$smarty.const.BASE_PATH`/modules/shop/front/templates/single_disk.html"}
			{/if}
        {/if*}


		{*if $folders_list}
			{if $cat_content.param_level < 2}
				{include file="`$smarty.const.BASE_PATH`/modules/shop/front/templates/catalog1.html"}
			{elseif $cat_content.param_level == 2}
				{include file="`$smarty.const.BASE_PATH`/modules/shop/front/templates/catalog2.html"}
	        {/if}
        {/if*}

		{*if $folders_list}
			{foreach from=$folders_list item=folder}
				<h2>{$folder.name|strip_tags}</h2>
				{if $folder.products}
					<table class="cattbl" cellspacing="1" cellpadding="10">
					  <tr class="topcattd">
					    <td>Фото</td>
					    <td>Модель</td>
					    <td>Описание модели</td>
					    <td>Цена&nbsp;1</td>
					    <td>Цена&nbsp;2</td>
					    <td>Цена&nbsp;3</td>
					  </tr>
					  
					  {foreach from=$folder.products item=product name=foreach1}
					  <tr {if $smarty.foreach.foreach1.iteration%2 == 0}class="catgray"{/if}>
					    <td><a href="{$base_url}/catalog{$product.full_url}">
					    {if $product.image}<img src="/uploaded_files/shop_images/resized-{$product.image}.{$product.ext}">{else}нет фото{/if}</a></td>
					    <td><a href="{$base_url}/catalog{$product.full_url}">{$product.name}</a></td>
					    <td class="catprop">{$product.small_description}</td>
					    <td>{$product.price|format_number}</td>
					    <td>{$product.price2|format_number}</td>
					    <td>{$product.price3|format_number}</td>
					  </tr>
					  {/foreach}
					</table>
				{/if}
				
			{/foreach}
        {/if*}

{*
<br><br>
{if $products_list}

	{include file="`$smarty.const.BASE_PATH`/modules/shop/front/templates/products_list.html"}
	
{/if}
*}