<div class="txtd">
<div class="contt">

{include file="`$smarty.const.TPL_PATH`breadcrumbs.html"}

<h1>Оформление заказа</h1>
<table class="zakaz">
      <tr>
        <td class="zakaznew">
        {if !$user}
        <h3>Новый пользователь?</h3>
        <input type="text">ФИО<br>
        <input type="text">Телефон<br>
        <input type="text" class="zakaznewdop">Доп. тел.<br>
        <input type="text">Email<br>
        <div class="zakaznewpwd"><input type="text"><span class="zakaznewpvdc">Пароль</span><br><div class="zakaznewpwdt">Введите пароль, если хотите 
зарегистрироваться!<br>Регистрация упрощает заказ и дает право на скидку.<br><br></div></div>
		{/if}
		<p class="zakazpol">Получение товара</p>
        <table class="zakazradiot">
          <tr>
            <td><input type="radio" class="zakazradio" name="dostabka" value="Самовывоз"></td>
            <td>Самовывоз</td>
          </tr>
          <tr>
            <td><input type="radio" class="zakazradio" name="dostabka" value="Доставка"></td>
            <td>Доставка <span class="basketint">(стоимость - 200 р.)</span></td>
          </tr>
        </table>
        <input type="text">Метро<br>
        <input type="text">Адрес<br>
        <textarea></textarea>Комментарий<br>
        <input type="image" src="{$template_image}zakaz_butt_end.png" class="zakazbut">
        </td>
        <td class="zakazold">
        {if !$user}
        <h3>Уже зарегистрированы?</h3>
        <input type="text">Email<br>
        <input type="text">Пароль<br>
        <input type="image" src="{$template_image}zakaz_butt_enter.png" class="enterbut"> <a href="#" class="lostpwd">Забыли пароль?</a>
        {/if}
        </td>
      </tr>
    </table>
    <p></p>
<br><br>
</div>
</div>
