{if $basket}


        <h1>Корзина</h1>
        <form action="" method="post">
           <table width="100%" border="0" cellspacing="1" cellpadding="0">
              <tr bgcolor="#fbf3df">
                <td colspan="7" class="tabletop"><div class="tabletop2"></div></td>
              </tr>
              <tr bgcolor="#fbf3df" class="tablecapt">
                <td>№</td>
                <td>Количество</td>
                <td>Артикул</td>
                <td>Наименование</td>
                <td>Цена</td>
                <td>Сумма</td>
                <td>&nbsp;</td>
              </tr>
              
              {foreach from=$basket item=product name=basket_foreach}
              <tr bgcolor="#{if $smarty.foreach.basket_foreach.iteration%2}fbf3df{else}f1f6f9{/if}" class="tableall">
                <td>{$smarty.foreach.basket_foreach.iteration}</td>
                <td><input type="text" value="{$product.number}" name="edit_number[{$product.id}]" class="tableinp"> шт.</td>
                <td><span class="tableart">{$product.article}</span></td>
                <td><a href="{$product.full_url}">{$product.name}</a></td>
                <td id="nw">{$product.price|format_number} <span class="tableart">руб.</span></td>
                <td id="nw">{$product.price_number|format_number} <span class="tableart">руб.</span></td>
                <td><a href="{$module_url}/basket/delete/{$product.id}" onclick="return confirm('Удалить продукт из корзины');"><input type="image" src="{$template_image}del.png" width="57" height="17"></a></td>
              </tr>
              {/foreach}
              <tr bgcolor="#fbf3df">
                <td colspan="7" class="tablebot"><div class="tablebot2"></div></td>
              </tr>
            </table>
            
            <input type="submit" value="Пересчитать" name="basket_recount">
            
        </form>    
            
            <br>
            <div id="tar">
            Итого: <span style="color:#e07e13;">{$total_price|format_number}</span> <span style="font-size:12px;">руб.</span><br>
            Доставка: <span style="color:#e07e13;">{if $total_price|format_number < $smarty.const.SHOP_DOSTAVKA_LIMIT}{$smarty.const.SHOP_DOSTAVKA_PRICE}</span> <span style="font-size:12px;">руб.</span>{else}<span style="color:#e07e13;">Бесплатно</span>{/if}<br><br>
            Всего: <span style="color:#156391;">{$total_price_dostavka|format_number}</span> <span style="font-size:12px;">руб.</span><br>
            </div>
         	
{/if}       

			  	
	        {if !$user}
	        	<div id="response_server"></div>
	        	<input type="hidden" id="register" value="0"></div>
				{include file="`$smarty.const.BASE_PATH`/modules/cabinet/front/templates/cabinet_login_basket.html"}
				{include file="`$smarty.const.BASE_PATH`/modules/cabinet/front/templates/cabinet_register_basket.html"}
			{else}
				<input type="hidden" id="register" value="1"></div>
			{/if}
			
			<form action="{$smarty.const.DOMAIN}/shop/basket/submit/" method="post" id="submit_basket_form">
				<input type="hidden" name="submit_order" value="1">
	            <div id="regp">Выберите способ доставки:</div>
	            <table width="100%" border="0" cellspacing="0" cellpadding="0">
	              <tr>
	                <td><input type="radio" name="dostavka" value="1" id="dost1" checked></td>
	                <td width="100%"><div id="size14"><label for="dost1">Доставка по Москве и Подмосковью</label></div>
	                Для Вас - {if $total_price|format_number < $smarty.const.SHOP_DOSTAVKA_LIMIT}<span style="color:#185f95;">{$smarty.const.SHOP_DOSTAVKA_PRICE}</span>{else}<span style="color:#185f95;">Бесплатно</span>{/if} руб.<br><br></td>
	              </tr>
	              <tr>
	                <td><input type="radio" name="dostavka" value="2" id="dost2"></td>
	                <td><div id="size14"><label for="dost2">Забрать самостоятельно</label></div>
	                Уточните у менеджера место наличия товара</td>
	              </tr>
	            </table>
	            <div id="regp">Выберите способ оплаты:</div>
	            <table width="100%" border="0" cellspacing="0" cellpadding="0">
	              <tr>
	                <td><input type="radio" name="payment" value="1" id="rb1" checked></td>
	                <td width="100%"><div id="size14"><label for="rb1">Наличные</label></div>
	                <span style="color:#999999;">Оплата при получении товара</span><br><br></td>
	              </tr>
	              <tr>
	                <td><input type="radio" name="payment" value="2" id="rb2"></td>
	                <td><div id="size14"><label for="rb2">Безналичный расчет (для юридических лиц)</label></div>
	                <span style="color:#999999;">Оплата с банковского счета</span></td>
	              </tr>
	            </table>
	            <div class="regin2" style="width:500px;">Название компании: <input type="text" name="company"></div>
	            <div class="regin2" style="width:500px;">ИНН: <input type="text" name="inn"></div>
	            <div class="regin2" style="width:500px;">КПП: <input type="text" name="kpp"></div>
	            <div id="regp">Дополнительные пожелания:</div>
	            <div class="regin2">Текст пожелания: <textarea name="comment"></textarea></div>
			
		 {*if !$user}	
            <center><input id="register_login" type="image" src="{$template_image}send_zakaz.png" width="318" height="31"></center>
         {else}
         	<center><input id="confirm_order" type="image" src="{$template_image}send_zakaz.png" width="318" height="31"></center>
         {/if*}
         
         <center><input name="submit_basket" type="image" src="{$template_image}send_zakaz.png" width="318" height="31"></center>
         
		</form>


{*
<h1>Оформление заказа...</h1>

<script type="text/javascript">
//$("A.AddToBasket").click();
//location.reload();
</script>

{else}
{literal}
<script language="JavaScript">
function submit_customer_form(){
	if ((document.customer_form.customer_name.value == '')  | (document.customer_form.customer_tel.value == '') | (document.customer_form.customer_deliver.value == '')) {
		alert("Пожалуйста, заполните обязательные поля");
		return false;
	}
	else {
		return true;
	}
}
</script>
{/literal}

<!--BASKET-->
<h1>Оформление заказа</h1>

<form action="" method="post" onSubmit="return validateBasket(this);">
<table class="AddToBasket">
  {foreach from=$basket item=item name=for_basket}
  <tr>
    <td class="Image"><img src="{$catalog_image}medium-{$item.image}.{$item.ext}" border="0"></td>
    <td class="Price"><h2>{$item.price|string_format:"%.2f"} руб.</h2></td>
    <td class="Count"><input type="text" name="edit_number[{$item.id}]" value="{$item.number}"></td>
    <td><a href="{$module_url}/basket/delete/{$item.id}"><img src="{$template_image}minus.gif" width="16" height="15"></a></td>
    
  </tr>
  {/foreach}
</table>
<div class="obsh">Ваш заказ на сумму: <font style="font-size:18px; color:#21618e;">{$total_price}</font> {$currency_site.znak}</div>

<table class="Buttons"><tr>
<td><input type="submit" value="Пересчитать" name="basket_recount"></td>
<td><input type="button" value="Утвердить" onclick="return location = '{if $user}{$base_url}/catalog/basket/step2{else}{$base_url}/catalog/basket/step1/{/if}';"></td>
</tr></table>

</form>
*}

{*
{if $user}
<tr><td width=100% colspan=2>
<input type="image" name="confirm_order" class="button" src="templates/img/zakaz.gif" onClick="document.location.href='{$module_url}/basket/confirm';" />
{else}
<br><br>
Предлагаем Вам авторизироваться в системе.
<table width="100%">
  <tr>
    <td valign="top">{include file="../modules/cabinet/front/templates/edit_user2.html"}</td>
  </tr>
</table>
</td>
</tr>
{/if}


</table>
*}


