{include file="`$smarty.const.TPL_PATH`top_search.html"}
{include file="`$smarty.const.TPL_PATH`breadcrumbs.html"}

{if $product}
<h1>{$product.name}</h1>


    <table class="catinn">
      <tr>
        <td class="catinnimg">
        	<div><img src="img/cat_inner_pict.jpg" width="156" height="206"></div>
            <img src="img/cat_inner_pict_s.jpg" width="64" height="74" class="catinnsm">
            <img src="img/cat_inner_pict_s.jpg" width="64" height="74" class="catinnsm">
            <img src="img/cat_inner_pict_s.jpg" width="64" height="74" class="catinnsm">
        </td>
        <td class="catinnp">
        <strong>Артикул:</strong> 53453095734<br>
        <strong>Состав:</strong> 100% хлопок<br>
        <strong>Производитель:</strong> Китай<br>
        <span class="innprice"><span class="pozcena">1920</span> руб.</span><br>
        <table class="tblrc">
          <tr>
            <td class="razmeri">
            	<strong>Размеры:</strong><br>
                <input type="checkbox"> 62<br>
                <input type="checkbox"> 68<br>
                <input type="checkbox"> 70<br>
                <input type="checkbox"> 74<br>
                <input type="checkbox"> 82<br>
                <input type="checkbox"> 86<br>
            </td>
            <td class="cveta">
            	<strong>Цвета:</strong><br>
                <input type="checkbox"> Белый<br>
                <input type="checkbox"> Красный<br>
                <input type="checkbox"> Синий<br>
                <input type="checkbox"> Черный<br>
            </td>
          </tr>
        </table>
        <input type="image" src="img/but_inbasket.png" class="inbasket">
        </td>
      </tr>
    </table>
 
 <div class="txt">{$product.description}</div>
{else}
<center>Такого продукта не существует.</center>
{/if}

{*
{include file="`$smarty.const.TPL_PATH`filter_green.html"}

<div class="cat">
<div class="contt">

{include file="`$smarty.const.TPL_PATH`breadcrumbs.html"}

<h1>{$product.name|strip_tags}</h1>
	<table class="itemtbl">
      <tr>
        <td class="itempict">
        <img id="bigimage" src="/uploaded_files/shop_images/big-{$photo.id}.{$photo.ext}" width="315" height"228" class="itempb"><br>
        {if $images}
        	{foreach from=$images item=image}
        	<a href="/uploaded_files/shop_images/big-{$image.id}.{$image.ext}" class="smallimage"><img src="/uploaded_files/shop_images/resized-{$image.id}.{$image.ext}" width="71" height="74" class="itemps"></a>
        	{/foreach}
        {/if}
        </td>
        <td class="itemprop">
        <span class="itempropc">Название:</span> {$product.name|strip_tags}<br>
        <span class="itempropc">Артикул:</span> {$product.article|strip_tags}<br>
        <span class="itempropc">Возраст:</span> {$product.agestrip_tags}<br>
        <span class="itempropc">Производитель:</span> ToyMaster<br>
        <span class="itempropc">Страна:</span> {$product.country}<br>
        <span class="itempropc">Гарантия:</span> {$product.garant}<br>
        <br><span class="itempr">{$product.price} руб.</span><br><br>
        <div class="itemnumb"><span class="sprub">кол-во:</span> <input id="product_count_{$product.id}" maxlength=3 type="text" value="1"></div><div class="itembutd"><input type="image" name="add_order" product_id="{$product.id}" src="{$template_image}item_button.png" class="itembut"></div>
        </td>
      </tr>
    </table><br>
    {$product.text}
<br><br>
</div>
</div>
*}