{include file="`$smarty.const.TPL_PATH`top_search.html"}
{include file="`$smarty.const.TPL_PATH`breadcrumbs.html"}

{if $product}
<h1>{$product.name}</h1>


    <table class="catinn">
      <tr>
        <td class="catinnimg">
        	{if $images}
        	<div style="margin-bottom:5px;"><img id="bigimage" src="/uploaded_files/shop_images/big-{$photo.id}.{$photo.ext}" width="156" height="206"></div>
        		{foreach from=$images item=image}
            		<a href="/uploaded_files/shop_images/big-{$image.id}.{$image.ext}" class="smallimage"><img src="/uploaded_files/shop_images/resized-{$image.id}.{$image.ext}" width="64" height="74" class="catinnsm" /></a>
            	{/foreach}
        	{/if}
        </td>
        
        <td class="catinnp">
        <strong>Артикул:</strong> {$product.article}<br>
        <strong>Состав:</strong> {$product.sostav}<br>
        <strong>Производитель:</strong> {$product.country}<br>
        <span class="innprice"><span class="pozcena">{$product.price}</span> руб.</span><br>
        <table class="tblrc">
          <tr>
          	{foreach from=$properties item=property name=forp}
          		<td nowrap class="{if $smarty.foreach.forp.first}razmeri{else}cveta{/if}">
          			<strong>{$property.name}:</strong><br>
          			{foreach from=$product_properties item=product_p}
          				{if $product_p.property_id==$property.id}<input id="p_{$product_p.property_id}_{$product_p.value}" type="checkbox"><label for="p_{$product_p.property_id}_{$product_p.value}">{$product_p.value}</label><br>{/if}
          			{/foreach}
          		</td>
          	{/foreach}
          </tr>
        </table>
        <input type="image" src="{$template_image}but_inbasket.png" class="inbasket">
        </td>
      </tr>
    </table>
 
 <div class="txt">{$product.description}</div>
{else}
<center>Такого продукта не существует.</center>
{/if}

{*
{include file="`$smarty.const.TPL_PATH`filter_green.html"}

<div class="cat">
<div class="contt">

{include file="`$smarty.const.TPL_PATH`breadcrumbs.html"}

<h1>{$product.name|strip_tags}</h1>
	<table class="itemtbl">
      <tr>
        <td class="itempict">
        <img id="bigimage" src="/uploaded_files/shop_images/big-{$photo.id}.{$photo.ext}" width="315" height"228" class="itempb"><br>
        {if $images}
        	{foreach from=$images item=image}
        	<a href="/uploaded_files/shop_images/big-{$image.id}.{$image.ext}" class="smallimage"><img src="/uploaded_files/shop_images/resized-{$image.id}.{$image.ext}" width="71" height="74" class="itemps"></a>
        	{/foreach}
        {/if}
        </td>
        <td class="itemprop">
        <span class="itempropc">Название:</span> {$product.name|strip_tags}<br>
        <span class="itempropc">Артикул:</span> {$product.article|strip_tags}<br>
        <span class="itempropc">Возраст:</span> {$product.agestrip_tags}<br>
        <span class="itempropc">Производитель:</span> ToyMaster<br>
        <span class="itempropc">Страна:</span> {$product.country}<br>
        <span class="itempropc">Гарантия:</span> {$product.garant}<br>
        <br><span class="itempr">{$product.price} руб.</span><br><br>
        <div class="itemnumb"><span class="sprub">кол-во:</span> <input id="product_count_{$product.id}" maxlength=3 type="text" value="1"></div><div class="itembutd"><input type="image" name="add_order" product_id="{$product.id}" src="{$template_image}item_button.png" class="itembut"></div>
        </td>
      </tr>
    </table><br>
    {$product.text}
<br><br>
</div>
</div>
*}