{include file="`$smarty.const.TPL_PATH`filter_green.html"}

<div class="cat">
<div class="contt">
{include file="`$smarty.const.TPL_PATH`breadcrumbs.html"}
<h1>{$cat_content.title|strip_tags}</h1>
<table class="cats"><tr>
    	<td><div class="catitemin"><a href="#" title="Машинки">Машинки</a><br><img src="img/toy_special.jpg" alt="Машинки"><div class="cato"><span class="catcap">Артикул:</span> 234554767<br><span class="catcap">Возраст:</span> от 6 мес.<br><div class="catiteminp"><input type="image" src="img/sub_button.jpg" class="catitemini" title="Добавить в корзину"> 11640 р.</div></div></div></td>
        <td><div class="catitemin"><a href="#" title="Машинки">Машинки</a><br><img src="img/toy_special.jpg" alt="Машинки"><div class="cato"><span class="catcap">Артикул:</span> 234554767<br><span class="catcap">Возраст:</span> от 6 мес.<br><div class="catiteminp"><input type="image" src="img/sub_button.jpg" class="catitemini" title="Добавить в корзину"> 11640 р.</div></div></div></td>
        <td><div class="catitemin"><a href="#" title="Машинки">Машинки</a><br><img src="img/toy_special.jpg" alt="Машинки"><div class="cato"><span class="catcap">Артикул:</span> 234554767<br><span class="catcap">Возраст:</span> от 6 мес.<br><div class="catiteminp"><input type="image" src="img/sub_button.jpg" class="catitemini" title="Добавить в корзину"> 11640 р.</div></div></div></td>
        <td class="catsl"><div class="catitemin"><a href="#" title="Машинки">Машинки</a><br><img src="img/toy_special.jpg" alt="Машинки"><div class="cato"><span class="catcap">Артикул:</span> 234554767<br><span class="catcap">Возраст:</span> от 6 мес.<br><div class="catiteminp"><input type="image" src="img/sub_button.jpg" class="catitemini" title="Добавить в корзину"> 11640 р.</div></div></div></td>
	</tr><tr><td colspan="4" class="catnone"></td></tr><tr>
        <td><div class="catitemin"><a href="#" title="Машинки">Машинки</a><br><img src="img/toy_special.jpg" alt="Машинки"><div class="cato"><span class="catcap">Артикул:</span> 234554767<br><span class="catcap">Возраст:</span> от 6 мес.<br><div class="catiteminp"><input type="image" src="img/sub_button.jpg" class="catitemini" title="Добавить в корзину"> 11640 р.</div></div></div></td>
        <td><div class="catitemin"><a href="#" title="Машинки">Машинки</a><br><img src="img/toy_special.jpg" alt="Машинки"><div class="cato"><span class="catcap">Артикул:</span> 234554767<br><span class="catcap">Возраст:</span> от 6 мес.<br><div class="catiteminp"><input type="image" src="img/sub_button.jpg" class="catitemini" title="Добавить в корзину"> 11640 р.</div></div></div></td>
        <td><div class="catitemin"><a href="#" title="Машинки">Машинки</a><br><img src="img/toy_special.jpg" alt="Машинки"><div class="cato"><span class="catcap">Артикул:</span> 234554767<br><span class="catcap">Возраст:</span> от 6 мес.<br><div class="catiteminp"><input type="image" src="img/sub_button.jpg" class="catitemini" title="Добавить в корзину"> 11640 р.</div></div></div></td>
        <td class="catsl"><div class="catitemin"><a href="#" title="Машинки">Машинки</a><br><img src="img/toy_special.jpg" alt="Машинки"><div class="cato"><span class="catcap">Артикул:</span> 234554767<br><span class="catcap">Возраст:</span> от 6 мес.<br><div class="catiteminp"><input type="image" src="img/sub_button.jpg" class="catitemini" title="Добавить в корзину"> 11640 р.</div></div></div></td>
	</tr><tr><td colspan="4" class="catnone"></td></tr><tr>
        <td><div class="catitemin"><a href="#" title="Машинки">Машинки</a><br><img src="img/toy_special.jpg" alt="Машинки"><div class="cato"><span class="catcap">Артикул:</span> 234554767<br><span class="catcap">Возраст:</span> от 6 мес.<br><div class="catiteminp"><input type="image" src="img/sub_button.jpg" class="catitemini" title="Добавить в корзину"> 11640 р.</div></div></div></td>
       <td><div class="catitemin"><a href="#" title="Машинки">Машинки</a><br><img src="img/toy_special.jpg" alt="Машинки"><div class="cato"><span class="catcap">Артикул:</span> 234554767<br><span class="catcap">Возраст:</span> от 6 мес.<br><div class="catiteminp"><input type="image" src="img/sub_button.jpg" class="catitemini" title="Добавить в корзину"> 11640 р.</div></div></div></td>
</tr></table><br>
</div>
</div>

<div class="catt">
<div class="contt">
{$cat_content.text}
</div>
</div>

