<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<title></title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="stylesheet" type="text/css" href="/templates/style.css">
</head>
<body>
<table class="mtbl" align="center">
  <tr>
    <td class="toper"><img src="{$template_image}logo.gif" width="261" height="108"><div class="cln"></div><div class="big"></div></td>
  </tr>
  <tr>
    <td class="tmenu">
    <table class="menu" align="center">
      <tr>
        <td class="menus"><img src="{$template_image}tmenu_l.gif" width="17" height="46"></td>
        <td><a href="#" title="Главная">Главная</a></td>
        <td><a href="#" title="О компании">О компании</a></td>
        <td><a href="#" title="Проекты домов">Проекты домов</a></td>
        <td><a href="#" title="Цены">Цены</a></td>
        <td><a href="#" title="Материалы">Материалы</a></td>
        <td><a href="#" title="Контакты">Контакты</a></td>
        <td class="menus"><img src="{$template_image}tmenu_r.gif" width="17" height="46"></td>
      </tr>
    </table>
    </td>
  </tr>
  <tr>
    <td>
    <div class="left">
    <div class="leftmenu"><img src="{$template_image}lmenu_t.gif" width="261" height="18">
        <a href="#" title="Строительство домов из бревна">Строительство домов из бревна</a>
        <a href="#" title="Строительство домов из бруса">Строительство домов из бруса</a>
        <a href="#" title="Строительство бань">Строительство бань</a>
        <a href="#" title="Строительство беседок и заборов">Строительство беседок и заборов</a>
        <a href="#" title="Строительство беседок">Строительство беседок</a>
        <a href="#" title="Возведение фундаментов">Возведение фундаментов</a>
        <a href="#" title="Проектирование домов">Проектирование домов</a>
        <a href="#" title="Продажа пиломатериалов">Продажа пиломатериалов</a>
        <a href="#" title="Сборка стропильных конструкций у нас срочно">Сборка стропильных конструкций у нас срочно</a>
        <a href="#" title="Строительство каркасных домов">Строительство каркасных домов</a>
        <a href="#" title="Работа по кровле">Работа по кровле</a>
    <img src="{$template_image}lmenu_b.gif" width="261" height="18"></div>
    <br><br>
    </div>
    <div class="cont">
    <table class="topban">
      <tr>
        <td><a href="#">Каталог домов из бревна</a><br><a href="#"><img src="{$template_image}ban_t.jpg" width="240" height="162"></a></td>
        <td><a href="#">Каталог домов из бруса</a><br><a href="#"><img src="{$template_image}ban_t.jpg" width="240" height="162"></a></td>
        <td><a href="#">Каталог бань</a><br><a href="#"><img src="{$template_image}ban_t.jpg" width="240" height="162"></a></td>
      </tr>
    </table><br><br>
    <h1>Добро пожаловать в ДомСтройПлюс</h1>
    <p>Родился 28 августа 1828 года в Крапивенском уезде Тульской губернии, в наследственном имении матери — Ясной Поляне. Был четвёртым ребёнком; у него было три старших брата: Николай (1823—1860), Сергей (1826—1904) и Дмитрий (1827—1856). В 1830 году родилась сестра Мария (1830—1912). Его мать умерла с рождением последней дочери, когда ему не было ещё 2-х лет[К 2].</p>

<p>Воспитанием <a href="#">осиротевших детей</a> занялась дальняя родственница Т. А. Ергольская. В 1837 году семья переехала в Москву, поселившись на Плющихе, потому что старшему сыну надо было готовиться к поступлению в университет, но вскоре внезапно умер отец, оставив дела (в том числе некоторые, связанные с имуществом семьи, тяжбы) в незаконченном состоянии, и трое младших детей снова поселились в Ясной Поляне под наблюдением Ергольской и тётки по отцу, графини А. М. Остен-Сакен, назначенной опекуншей детей. Здесь Лев Николаевич оставался до 1840 года, когда умерла графиня Остен-Сакен, и дети переселились в Казань, к новому опекуну — сестре отца П. И. Юшковой.</p>

<p>Дом Юшковых принадлежал к числу самых весёлых в Казани; все члены семьи высоко ценили внешний блеск. «Добрая тётушка моя, — рассказывает Толстой, — чистейшее существо, всегда говорила, что она ничего не желала бы так для меня, как того, чтобы я имел связь с замужнею женщиною»</p>
    </div>
    </td>
  </tr>
  <tr>
    <td class="bottom">
    	г.Москва, ул.Басманная, дом 12, офис 512, +7 (495) 785 37 59, <a href="mailto:info@domstroyplus.ru">info@domstroyplus.ru</a>
    </td>
  </tr>
</table>
</body>
</html>