    <p class="capt">Последние поступления:</p>
    <div class="pozw">
    <div class="pozb"><div class="poz">
    <a href="#">Комбинезон с капюшоном красивый</a><br>
    <a href="#"><img src="{$template_image}tovar.jpg" width="149" height="144" class="pozimg"></a>
    <div class="pozpr"><span class="pozboys">Одежда для мальчиков</span><br><span class="pozcena">1920</span> руб.<br><br></div>
    </div></div>
    <div class="pozb"><div class="poz">
    <a href="#">Комбинезон с капюшоном красивый</a><br>
    <a href="#"><img src="{$template_image}tovar.jpg" width="149" height="144" class="pozimg"></a>
    <div class="pozpr"><span class="pozboys">Одежда для мальчиков</span><br><span class="pozcena">1920</span> руб.<br><br></div>
    </div></div>
    <div class="pozb"><div class="poz">
    <a href="#">Комбинезон с капюшоном красивый</a><br>
    <a href="#"><img src="{$template_image}tovar.jpg" width="149" height="144" class="pozimg"></a>
    <div class="pozpr"><span class="pozboys">Одежда для мальчиков</span><br><span class="pozcena">1920</span> руб.<br><br></div>
    </div></div>
    <div class="pozb"><div class="poz">
    <a href="#">Комбинезон с капюшоном красивый</a><br>
    <a href="#"><img src="{$template_image}tovar.jpg" width="149" height="144" class="pozimg"></a>
    <div class="pozpr"><span class="pozgirls">Одежда для девочек</span><br><span class="pozcena">1920</span> руб.<br><br></div>
    </div></div>
    <div class="pozb"><div class="poz">
    <a href="#">Комбинезон с капюшоном красивый</a><br>
    <a href="#"><img src="{$template_image}tovar.jpg" width="149" height="144" class="pozimg"></a>
    <div class="pozpr"><span class="pozgirls">Одежда для девочек</span><br><span class="pozcena">1920</span> руб.<br><br></div>
    </div></div>
    <div class="pozb"><div class="poz">
    <a href="#">Комбинезон с капюшоном красивый</a><br>
    <a href="#"><img src="{$template_image}tovar.jpg" width="149" height="144" class="pozimg"></a>
    <div class="pozpr"><span class="pozlittle">Одежда для маленьких</span><br><span class="pozcena">1920</span> руб.<br><br></div>
    </div></div>
    <div class="pozb"><div class="poz">
    <a href="#">Комбинезон с капюшоном красивый</a><br>
    <a href="#"><img src="{$template_image}tovar.jpg" width="149" height="144" class="pozimg"></a>
    <div class="pozpr"><span class="pozlittle">Одежда для маленьких</span><br><span class="pozcena">1920</span> руб.<br><br></div>
    </div></div>
    </div>
