            	<div class="ishina"><div style="height:30px;"></div><table class="idisktbl2" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="idisktblt" width="259">Ширина:</td>
                    <td class="innselecttd2" valign="bottom">
             	    <select class="innselect">
                      <option>Пункт 1</option>
                      <option>Пункт 2</option>
                    </select>
                    </td>
                    <td class="idisktblt">Производитель:</td>
                    <td class="innselecttd2">
             	    <select class="innselect">
                      <option>Пункт 1</option>
                      <option>Пункт 2</option>
                    </select>
                    </td>
                  </tr>
                  <tr>
                    <td class="idisktblt">Профиль:</td>
                    <td class="innselecttd2">
             	    <select class="innselect">
                      <option>Пункт 1</option>
                      <option>Пункт 2</option>
                    </select>
                    </td>
                    <td class="idisktblt">Сезон:</td>
                    <td class="innselecttd2">
             	    <select class="innselect">
                      <option>Пункт 1</option>
                      <option>Пункт 2</option>
                    </select>
                    </td>
                  </tr>
                  <tr>
                    <td class="idisktblt">Диаметр:</td>
                    <td class="innselecttd2">
             	    <select class="innselect">
                      <option>Пункт 1</option>
                      <option>Пункт 2</option>
                    </select>
                    </td>
                    <td class="idisktblt">Наличие шипов:</td>
                    <td class="innselecttd2">
             	    <select class="innselect">
                      <option>Пункт 1</option>
                      <option>Пункт 2</option>
                    </select>
                    </td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="idisktblt">Есть на складе:</td>
                    <td class="innchktd"><input type="checkbox" checked style="position:absolute; z-index:5;"></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="ifiltbut2"><input type="image" src="{$template_image}podobrat_blue.png" width="111" height="25"></td>
                  </tr>
                </table></div>
