<!---- FILTER DISK ---->
           <form action="{$base_url}/shop/search/" method="GET">
           	<input type="hidden" name="filter_type" value="disk">
           	
            <div class="filterwheels">
            	<table class="filterint" align="right">
                  <tr>
                    <td>Производитель</td>
                    <td>
             	    <select class="innselect" name="disk_manufacturer">
             	    	<option value="">Все</option>
	             	    {foreach from=$disk_manufacturer item=disk}
	                      <option value="{$disk.id}" {if $smarty.get.disk_manufacturer == $disk.id}selected{/if}>{$disk.name}</option>
	                    {/foreach}
                    </select>
                </td>
                    <td>Ширина</td>
                    <td>
             	    <select class="innselect" name="disk_width">
	             	    <option value="">Любая</option>
	             	    {foreach from=$disk_width item=dwidth}
	                      <option value="{$dwidth.disk_width}" {if $smarty.get.disk_width == $dwidth.disk_width}selected{/if}>{$dwidth.disk_width|format_number}</option>
	                    {/foreach}
                    </select>
                </td>
                    <td>Диаметр</td>
                    <td>
             	    <select class="innselect" name="disk_diameter">
	             	    <option value="">Любой</option>
	             	    {foreach from=$disk_diameter item=ddiameter}
	                      <option value="{$ddiameter.disk_diameter}" {if $smarty.get.disk_diameter == $ddiameter.disk_diameter}selected{/if}>{$ddiameter.disk_diameter|format_number}</option>
	                    {/foreach}
                    </select>
                </td>
                  </tr>
                  <tr>
                    <td>Крепеж</td>
                    <td>
             	    <select class="innselect" name="disk_krep">
	             	    <option value="">Любой</option>
	             	    {foreach from=$disk_krep item=dkrep}
	                      <option value="{$dkrep.disk_krep}" {if $smarty.get.disk_krep == $dkrep.disk_krep}selected{/if}>{$dkrep.disk_krep|format_number}</option>
	                    {/foreach}
                    </select>
                </td>
                    <td>PCD</td>
                    <td>
             	    <select class="innselect" name="disk_pcd">
	             	    <option value="">Любой</option>
	             	    {foreach from=$disk_pcd item=dpcd}
	                      <option value="{$dpcd.disk_pcd}" {if $smarty.get.disk_pcd == $dpcd.disk_pcd}selected{/if}>{$dpcd.disk_pcd|format_number}</option>
	                    {/foreach}
                    </select>
                </td>
                    <td>ET</td>
                    <td>
             	    <select class="innselect" name="disk_et">
	             	    <option value="">Любой</option>
	             	    {foreach from=$disk_et item=det}
	                      <option value="{$det.disk_et}" {if $smarty.get.disk_et == $det.disk_et}selected{/if}>{$det.disk_et|format_number}</option>
	                    {/foreach}
                    </select>
                </td>
                  </tr>
                  <tr>
                    <td>Цвет</td>
                    <td>
             	    <select class="innselect" name="disk_color">
	             	    <option value="">Любой</option>
	             	    {foreach from=$disk_color item=dcolor}
	                      <option value="{$dcolor.disk_color}" {if $smarty.get.disk_color == $dcolor.disk_color}selected{/if}>{$dcolor.disk_color}</option>
	                    {/foreach}
                    </select>
                </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="filtering"><input type="checkbox" style="position:absolute; z-index:5;" {if isset($smarty.get.filter_type)}{if $smarty.get.disk_sklad == 1}checked{/if}{else}checked{/if} name="disk_sklad" id="disk_sklad" value=1> <label for="disk_sklad">Есть на складе</label></td>
                  </tr>
                  <tr>
                    <td colspan="6" class="filterinbd"><input type="image" src="{$template_image}button_nayti.gif"></td>
                  </tr>
                </table>
            </div>           	
           	
         </form>
<!---- /FILTER DISK ---->