<h1>Шина {$product.name}</h1>

                <table class="itemtbl">
                  <tr>
                    <td class="itembigpict">{if trim($product.image) != ""}<img src="{$product.image}" />{else}<img src="{$template_image}nophoto.jpg" />{/if}</td>
                    <td class="itemopis">
                    <strong>Бренд:</strong>  {$cat_parent_info.name}<br>
                    <strong>Модель:</strong>  {$cat_content.name}<br>
                    <strong>Шипованная:</strong> {if $product.tire_spike == '2'}шип{elseif $product.tire_spike == 1}нешип{/if}<br>
                    <strong>Сезон:</strong> {if $product.tire_season == '1'}зима{elseif $product.tire_season == '2'}лето{elseif $product.tire_season == '3'}всесезон{/if}<br>
                    <strong>Артикул:</strong> {$product.article}<br>
                    <strong>Типоразмер:</strong> {$product.tire_width|format_number}/{$product.tire_height|format_number} R{$product.tire_diameter|format_number}<br>
                    <strong>Индекс нагрузки:</strong> {$product.tire_in}<br>
                    <strong>Индекс скорости:</strong> {$product.tire_is}<br>
                    <strong>Тип ТС:</strong> {$product_body.name}<br>
                    <strong>Усил:</strong> {$product.tire_usil}<br>

					{include file="../templates/yandex_share.html"}

					<form action="" name="order_product" method="POST" id="form_order_single">
						<input type="hidden" name="product_id" value="{$product.id}">
	                    <table class="itemopiscena">
	                      <tr>
	                        <td>{$product.price|format_price} руб.</td>
	                        <td class="itemopiscenaltl">кол-во: </td>
	                        <td><input {if !$product.tire_sklad}disabled{/if} type="text" class="tableinpb" name="count" value="{if $product.tire_sklad > 3}4{elseif $product.tire_sklad > 1}{$product.tire_sklad}{else}1{/if}" /></td>
	                        {if $product.tire_sklad > 0}
	                        	<td><input type="image" src="{$template_image}b_basket.gif" class="itembut" title="В корзину"></td>
	                        {else}
	                        	<td>Нет в наличии</td>
	                        {/if}
	                      </tr>
	                    </table>
                    </form>

                    </td>
                  </tr>
                </table>

		{if $product.tire_sklad > 0}
			{include file="`$smarty.const.BASE_PATH`/modules/shop/front/templates/fast_order_form.html"}
		{/if}