<table class="catin">
     {foreach from=$folders_list item=folder name=folder}
            {if $smarty.foreach.folder.iteration == 0}<tr>{/if}
                <td><a href="{$base_url}/catalog/{$folder.full_url}" title="{$folder.name|strip_tags}">{if $folder.image}<img src="{$smarty.const.SHOP_IMAGE}c{$folder.image}" style="width:98px; height:81px;" />{else}<img src="{$template_image}nophoto_98.jpg" />{/if}<br>{$folder.name|strip_tags}</a></td>
            {if $smarty.foreach.folder.iteration % 6 == 0 && $smarty.foreach.folder.iteration > 0}</tr><tr>{/if}
     {/foreach}
</table>