{literal}
<script language="JavaScript">
function check_poll() {
	
	  var i;
	  for (i=0; i<poll_form.poll_answer.length; i++) {
	    if (poll_form.poll_answer[i].checked) {
	      document.poll_form.submit();
	      return true;
	    }
	  }
	  alert("Выберите вариант ответа!");
	
}
</script>
{/literal}

<form action="{$base_url}/{$polls_url}/{$poll.id}" method=post name=poll_form>
<input type=hidden name=poll_id value="{$poll.id}">
<input type=hidden name=submit_poll value="go">
<table width="100%" cellpadding="12" cellspacing="0">
<tr>
<td bgcolor="#EDEAE7" valign="top">

<table width="100%" cellpadding="0" cellspacing="0">
<tr>
<td>

<table width="119" cellpadding="0" cellspacing="0">
<tr>
<td width="5"><img src="templates/img/corn-01.gif" width="5" height="21" border="0" alt=""></td>
<td width="109" bgcolor="#0D992C" align="center" class="white">Опрос</td>
<td width="5"><img src="templates/img/corn-02.gif" width="5" height="21" border="0" alt=""></td></tr>
</table>

</td></tr>
<tr>
<td><img src="templates/img/e.gif" width="1" height="12" border="0" alt=""></td></tr>
<tr>
<td class="text">{$poll.name}</td></tr>
<tr>
<td><img src="templates/img/e.gif" width="1" height="12" border="0" alt=""></td></tr>
{foreach from=$poll.answers item=answer}
<tr>
<td nowrap width=1%>{if !$poll_done and $poll.status!='2'}<input type=radio name=poll_answer value="{$answer.id}">{else}•{/if} {$answer.name} [{$answer.answers}]</td>
</tr>
{/foreach}
<tr>
<td><img src="templates/img/e.gif" width="1" height="12" border="0" alt=""></td></tr>
<tr>
<td>

<table width="100%" cellpadding="0" cellspacing="0">
<tr>
<td>
{if !$poll_done and $poll.status!='2'}<a href=# onclick="check_poll();">Голосовать</a> /{/if} <a href={$base_url}/{$polls_url}>Все опросы</a>
{if $poll.status=='2'}Опрос завершён{/if}
</td>
</tr>
<tr>
<td><img src="templates/img/hr.gif" width="32" height="11" border="0" alt=""></td></tr>
</table>

</td></tr>
</table>

</td></tr>
</table>
</form>