{literal}
<script language=JavaScript src='{/literal}{$base_url}/{literal}javascript/editor/scripts/language/russian/editor_lang.js'></script>
<script language=JavaScript src='{/literal}{$base_url}/{literal}javascript/editor/scripts{/literal}/{$editor_mode}{literal}'></script>

<SCRIPT language=JavaScript>

function form_check(form) {
  if (form['edit_reg_name'].value=='') {
    alert("Заполните пожалуйста обязательные поля");
    return false;
  }

  else {

    form['edit_reg_description'].value = reg_description.getHTMLBody();
    return true;
  }


}
</SCRIPT>
{/literal}

{if $error_message}<center><font color=red><b>{$error_message}</b></font></center><br><br>{/if}

<form action="" name=edit_reg method=post enctype="multipart/form-data" onSubmit="return form_check(this);">
{if $mode=='edit'}
<input type=hidden name=id value={$reg.id}>
{/if}
<input type=hidden name=edit_reg_parent value={$parent}>

<table width=100% class=content_table>
  <tr><th>{if $mode=='edit'}Редактировать регион{else}Добавить регион{/if}</th></tr>
</table>

<table width=100% class=content_table>
  <tr>
    <td width=20% class=td1_left><b>В регион:</b></td>
    <td class=td1_right>
      <select name=edit_reg_parent style="width:100%;" class=field>
      {foreach from=$reg_list item=entry}
      <option value={$entry.id}{if $entry.id==$parent} selected=true{/if}>{$entry.name}</option>
      {/foreach}
      </select>
    </td>
  </tr>

  <tr class=table_content>
    <td class=td1_left><b>Название:</b></td>
    <td class=td1_right><input type=text name=edit_reg_name style="width:100%;" class=field value="{$reg.name}"></td>
  </tr>

  <tr>
    <td class=td1_single valign=top colspan="2">
<input type=hidden name=edit_reg_description value="">
<p> Описание региона:</p>


{literal}
<script language="JavaScript">
				var reg_description = new InnovaEditor("reg_description");

					reg_description.btnStyles=true;

					reg_description.width="100%";
					reg_description.height="400";

					reg_description.css="style.css";
					reg_description.cmdAssetManager="modalDialogShow('{/literal}{$base_url}/{literal}javascript/editor/assetmanager/assetmanager.php?lang=russian',640,465)";

					reg_description.features=["FullScreen","Preview","Print","Search",
						"Cut","Copy","Paste","PasteWord","PasteText","|","Undo","Redo","|",
						"ForeColor","BackColor","|","Bookmark","Hyperlink",
						"XHTMLSource","Numbering","Bullets","|","Indent","Outdent","|","Image","|",
						"Table","Guidelines","Absolute","|","Characters","Line",
						"Clean","ClearAll","BRK",
						"StyleAndFormatting","TextFormatting","ListFormatting","BoxFormatting",
						"ParagraphFormatting","CssText","Styles","|",
						"Paragraph","FontName","FontSize","|",
						"Bold","Italic",
						"Underline","Strikethrough","|","Superscript","Subscript","|",
						"JustifyLeft","JustifyCenter","JustifyRight","JustifyFull"];

                       reg_description.RENDER('{/literal}{$reg.description|replace:"\r\n":""}{literal}');
</script>
{/literal}
   </td></tr>
  <tr>
    <td width=15% class=td1_left><b>Статус:</b></td>
    <td class=td1_right>
    <select name=edit_reg_status style="width:50%;" class=field>
      <option value="1" {if $reg.status=='1'}selected=true{/if}>Активный</option>
      <option value="0" {if $reg.status=='0'}selected=true{/if}>Ждёт</option>
    </select>
    </td>
  </tr>

  </table>

<br>
<center><input type=submit name={if $mode=='add'}submit_add_reg value="Добавить регион"{else}submit_edit_reg value="Сохранить изменения"{/if}></center>
</form>