{if $error_message}<center><font color=red><b>{$error_message}</b></font></center><br><br>{/if}

Готовность к импорту: {if $conf.conf_value == '1'}<span style="color:green;">Готов</span> команда: /usr/local/bin/python /home/alex/data/www/shop-toy.mosharov.com/import2.py{else}<span style="color:red;">Не готов</span>{/if}

<form action="/admin/?mod=shop&action=import_log" name=edit_cat method=post enctype="multipart/form-data">

<table width=100% class=content_table>

	<tr class=table_content>
		<td class=td1_left>Выберите файл импорта (только *.xls):</td>
		<td class=td1_right><input type=file name=import_file></td>
	</tr>
</table>

<br>
<center><input type=submit name=submit_import value="Загрузить"></center>
</form>

{*
<form action="" method=post>
	<input type="submit" value="Импортировать данные"/ name="get_import">
</form>
*}