<form action="" method=post><table width=100% class=content_table>
	<tr><th>Не индексировать URL со следующими вхождениями</th></tr>
   	<tr>
    <td valign="top" class="td1_middle">
<textarea name=noindex_list class=field style="width:99%;" rows=10>{$noindex_list}</textarea></td>
    </tr>
    </table>
    <br>
    <center><input type=submit name=submit_noindex_list value="Сохранить" class="hand"></center>
    </form>
    <br>
<div class="add_but" style="float: left;" onClick="location.href='index.php?mod=search&action=index&do=update_search_index'"><div><a href="index.php?mod=search&action=index&do=update_search_index">Обновить поисковой индекс</a></div></div>

{if $time}
<br><br><br>
Поисковый индекс обновлён за {$time} секунд.
{/if}