  <tr>
    <td valign="top" class="center">
    <div class="add" style="background: url('img/add_sp.gif') no-repeat;">Категории</div>
    
    
{if count($cat_list)>0}
    <form action="" name="links" method="post">
    <input type="hidden" name="submit_del_cat" value="1">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" id="links" style="margin-top: 20px;">
          <tr>
            <th>Название категории</th>
            <th width="60">
            	<input type="checkbox" name="all_links" novalidate=1>
            </th>
          </tr>
          {foreach from=$cat_list item=item name=f1}
          	<tr {if !($smarty.foreach.f1.iteration % 2)}bgcolor="#e6ecef"{/if}>
            	<td style="text-align: left;">{$item.name}</td>
            	<td><input type="checkbox" id=links name="che1[{$item.id}]"></td>
          	</tr>
          {/foreach}
        </table>
        <div align="right" style="padding-right: 28px;"><div style="background: url(img/del.gif) right top no-repeat; padding: 4px 13px 0 0;"><a href="javascript: void(delText(document.links));">Удалить</a></div></div>
	</form>
{else}
	<center>Категории не загруженны</center>
{/if}
    <form name="add" method="post">
    <input type="hidden" value="1" name="submit_add_cat">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td valign="top"><div class="add">Названия категорий, каждая &mdash; с новой строки:</div>
        <textarea name="text" rows="8" style="width: 60%;"></textarea>
        <div style="width: 60%" align="right"><a href="javascript: void(addText(document.add));">сохранить</a></div></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table>

    </form>
    </td>
  </tr>
