<html>
<head>
<title>Редактировать сообщение</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<link rel="stylesheet" type="text/css" href="{$base_url}/modules/forum/front/templates/forum.css">
</head>
<body>

<script src="{$base_url}/javascript/insert_text/insert_text_{$browser}.js"></script>

{if $refresh_parent}
<script language="JavaScript">
window.opener.location.reload();
</script>
{/if}

{if $redirect_url}
<script language="JavaScript">
window.opener.location="{$redirect_url}";
</script>
{/if}

{if $error_message}<center><font color=red><b>{$error_message}</b></font></center><br><br>{/if}
<table width=100% cellspacing=1 cellpadding=3 class=forum_table>
	<tr>
		<th><b>Создать новую тему:</b></th>
	</tr>
	<tr>
		<td>
				<table width=100% cellspacing=1 cellpadding=3 class=forum_add_table>
					<form action="{$current_url}" method=post name=move_post>
					<input type=hidden name=post_id value="{$post_id}">
					<tr>
						<td>
							<table width=100% class=forum_simple>
								<tr>
									<td width=15%>
										<b>Создать в:</b>
									</td>
									<td>
										<select name=parent style="width:100%;" class=forum_field>
											{foreach from=$forums_list item=forum}
												<option value={$forum.id}>{$forum.full_title}</option>
											{/foreach}
										</select>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<table width=100% class=forum_simple>
								<tr>
									<td width=15%>
										<b>Название:</b>
									</td>
									<td>
										<input type=text name=title style="width:100%;" value="" class=forum_field>
									</td>
								</tr>
							</table>
							<br><br>
							<center><input type=submit name=submit_create_thread value="Создать тему" class=forum_button></center>
						</td>
					</tr>
					</form>
				</table>
		</td>
	</tr>
</table>

</body>
</html>