
<table width="100%" border="0" cellspacing="1" cellpadding="0">
              <tr bgcolor="#fbf3df">
                <td colspan="8" class="tabletop"><div class="tabletop2">Для сортировки товара кликните по названию столбцов</div></td>
              </tr>
              <tr bgcolor="#fbf3df" class="tablecapt">
                <td><a href="#">Наименование</a></td>
                <td><a href="#">Артикул</a></td>
                <td><a href="#">Ширина</a></td>
                <td><a href="#">Диаметр</a></td>
                <td><a href="#">Крепеж</a></td>
                <td><a href="#">PCD</a></td>
                <td><a href="#">Цена</a></td>
                <td>Кол-во</td>
                <td>В корзину</td>
              </tr>
              
              <form action="" method="POST" id="form_order_products">
	              {foreach from=$products_list item=item name=product}
		              <tr bgcolor="{if $smarty.foreach.product.iteration%2}#f1f6f9{else}#fbf3df{/if}" class="tableall">
		                <td><a href="{$base_url}/{$current_url}/{$item.id}/">{$item.name}</a></td>
		                <td><span class="tableart">{$item.article}</span></td>
		                <td>{$item.disk_width}</td>
		                <td>{$item.disk_diameter}</td>
		                <td>{$item.disk_krep}</td>
		                <td id="nw">{$item.disk_pcd}</td>
		                <td id="nw">{$item.price|format_price}&nbsp;<span class="tableart">руб.</span></td>
		                <td><input type="text" class="tableinp" name="{$item.id}" value="1"></td>
		                <td><input type="image" name="add_order" src="{$template_image}buy.png" width="57" height="17"></td>
		              </tr>
	              {/foreach}
              </form>

              <tr bgcolor="#fbf3df">
                <td colspan="9" class="tablebot"><div class="tablebot2"></div></td>
              </tr>
            </table>            