{if $products_list}

{foreach from=$products_list item=product name=foreach1}
{if $smarty.foreach.foreach1.iteration == 1}<tr>{/if}

	<td>


		<a class="gallery1" href="/uploaded_files/shop_images/{$product.image}.{$product.ext}" title="{$product.name}">{$product.name}</a>
		<br>
		<a  class="gallery1" href="/uploaded_files/shop_images/{$product.image}.{$product.ext}" title="{$product.name}">
			<img src="/uploaded_files/shop_images/resized-{$product.image}.{$product.ext}" width="132" height="174" alt="{$product.name}"></a>
		<br>{$product.price2}<br>
		<div class="price">
			{if !empty($product.price_sale)}
			<span class="oldprice">{$product.price|format_price}</span> - {$product.price_sale|format_price}&nbsp;
			{else}
			{$product.price|format_price}
			{/if}
			<span class="pricer">руб.</span>
		</div>
		<input type="text" name="price{$product.id}" style="width:132px;" class="itemsquantity" value="1" />
		<br>
		<button class="catbutton" product_id="{$product.id}" count="1">В корзину</button>

	</td>

	{if $smarty.foreach.foreach1.iteration%4 == 0 && $smarty.foreach.foreach1.iteration > 1 && !$smarty.foreach.foreach1.last}
</tr><tr>
	{elseif $smarty.foreach.foreach1.last}
</tr>
{/if}

{/foreach}

{/if}
