{if $smarty.get.filter_type == 'disk'}
	{include file="`$smarty.const.BASE_PATH`/modules/shop/front/templates/disk_filter.html"}
{elseif $smarty.get.filter_type == 'tire'}
	{include file="`$smarty.const.BASE_PATH`/modules/shop/front/templates/tires_filter.html"}
{else}
	{include file="../templates/form_search.html"}
	<div style="height:30px;"></div>
{/if}

<h1>Результаты поиска{if $smarty.get.filter_type == 'disk'} дисков{elseif $smarty.get.filter_type == 'tire'} шин{/if}</h1>

{if $products || $search_results}
	{if $smarty.get.filter_type == 'disk'}
		{include file="`$smarty.const.BASE_PATH`/modules/shop/front/templates/search_result_disk.html"}
	{elseif $smarty.get.filter_type == 'tire'}
		{include file="`$smarty.const.BASE_PATH`/modules/shop/front/templates/search_result_tire.html"}
	{/if}

	{if $search_results}
		{include file="`$smarty.const.BASE_PATH`/modules/shop/front/templates/search_results.html"}
	{/if}
{else}
<center>Ничего не найдено</center>
{/if}