                <table class="itemtbl">
                  <tr>
                    <td class="itembigpict">{if trim($cat_content.image) != ""}<img src="/uploaded_files/shop_images/{$cat_content.image}">{else}<img src="{$template_image}nophoto.jpg" />{/if}</td>
                    <td class="itemopis">
                    <p>{$cat_content.text}</p>	
					<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="none" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj,friendfeed,moikrug"></div>
                    </td>
                  </tr>
                </table>
