<h1>Шина {$product.name}</h1>

                <table class="itemtbl">
                  <tr>
                    <td class="itembigpict">{if $cat_content.image}<img src="{$smarty.const.SHOP_IMAGE}{$cat_content.image}" width="215" height="236">{else}<img src="{$template_image}nophoto.jpg" />{/if}</td>
                    <td class="itemopis">
                    <span class="catline">Бренд:</span>  {$cat_parent_info.name}<br>
                    <span class="catline">Модель:</span>  {$cat_content.name}<br>
                    <span class="catline">Шипованная:</span> {if $product.tire_spike == '2'}шип{elseif $product.tire_spike == 1}нешип{/if}<br>
                    <span class="catline">Сезон:</span> {if $product.tire_season == '1'}зима{elseif $product.tire_season == '2'}лето{elseif $product.tire_season == '3'}всесезон{/if}<br>
                    <span class="catline">Артикул:</span> {$product.article}<br>
                    <span class="catline">Типоразмер:</span> {$product.tire_width|format_number}/{$product.tire_height|format_number} R{$product.tire_diameter|format_number}<br>
                    <span class="catline">Индекс нагрузки:</span> {$product.tire_in}<br>
                    <span class="catline">Индекс скорости:</span> {$product.tire_is}<br>
                    <span class="catline">Тип ТС:</span> {$product_body.name}<br>
                    <span class="catline">Усил:</span> {$product.tire_usil}<br>
					{include file="../templates/yandex_share.html"}
					
					<form action="" name="order_product" method="POST" id="form_order_single">
						<input type="hidden" name="product_id" value="{$product.id}">
	                    <table class="itemopiscena">
	                      <tr>
	                        <td><strong>{$product.price|format_price}</strong> руб.</td>
	                        <td><input {if !$product.tire_sklad}disabled{/if} type="text" class="tableinpb" name="count" value="{if $product.tire_sklad > 3}4{elseif $product.tire_sklad > 1}{$product.tire_sklad}{else}1{/if}" /></td>
	                        {if $product.tire_sklad > 0}
	                        	<td><input type="image" src="{$template_image}button_to-basket.png" class="itembuttonin" title="В корзину"></td>
	                        {else}
	                        	<td>закончились</td>
	                        {/if}
	                      </tr>
	                    </table>
                    </form>
                    
                    </td>
                  </tr>
                </table>

		{if $product.tire_sklad > 0}
			{include file="`$smarty.const.BASE_PATH`/modules/shop/front/templates/fast_order_form.html"}
		{/if}