#php_value session.use_only_cookies 1
php_value session.use_trans_sid 0

RewriteEngine on
Options +FollowSymlinks
RewriteBase /


RewriteCond 	%{REQUEST_FILENAME} !-f
RewriteRule     ^(.*)/insertfiles/(.*)$		/insertfiles/$2	[L]

RewriteCond 	%{REQUEST_FILENAME} !-f
RewriteRule     ^(.*)/video/(.*)$			/video/$2	[L]

RewriteCond %{HTTP_HOST} ^www.arrendator.ru$ [NC]
RewriteRule ^(.*)$ http://arrendator.ru/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*)$ /$1/ [R=301,L]

#RewriteCond 	%{REQUEST_FILENAME} !-f
RewriteRule     ^images/([^/]+)/(.*)$		/images.php?type=$1&image=$2	[L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#RewriteRule [^\.xml][^\/]$ %{REQUEST_URI}/ [R,L]
RewriteRule ^(.*)$ /index.php [L,QSA]
#RewriteRule ^(.*).xml$ /index.php [L,QSA]