<script src="{$base_url}/javascript/insert_text/insert_text_{$browser}.js"></script>
{if $show_admin_menu}
{literal}
<SCRIPT language=JavaScript>
function confirm_delete(delete_id) {
  if (confirm("Дейтсвительно удалить эту тему?")) {
    parent.location.href = "{/literal}{$base_url}{literal}/admin/index.php?mod=forum&action=delete_thread&id=" + delete_id;
  }
}
</SCRIPT>
{/literal}
{/if}

{literal}
<script language="javascript" type="text/javascript">
function showsObject() {
document.all.sups.className = 'go';
document.getElementById('menus').className = 'act';
}
function hidesObject() {
document.all.sups.className = 'pop_sub';
document.getElementById('menus').className = 'none';
}
</script>
{/literal}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top">

<table width="60%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="100%" style="height: 17px;" nowrap="nowrap" align="right" class="for_blue">
{if $logged_user.login==""}<a href="{$base_url}/{$cabinet_url}/register/" class="subpage"><strong>Стать своим</strong></a> | {/if}<a href="{$base_url}/{$cabinet_url}/{if !$logged_user}login{/if}" class="subpage"><strong>{if $logged_user}Кабинет{else}Авторизация{/if}</strong></a>  |  <a href="/forum/users/" class="subpage"><strong>Пользователи</strong></a></strong></td></tr>
</table>

</td></tr>
</table>

{if $forums_list}
<table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin-top: 20px;">
  <tr>
    <th style="border-right: none;" width="30">&nbsp;</td>
    <th style="padding-right: 35px;"><div class="big_txt">Список форумов</div></td>
    <th width=10%><div class="big_txt">Описание</div></td>
	<th width=10%><div class="big_txt">Тем</div></td>
    <th width=20% style="border-right: none;"><div class="big_txt">Последнее сообщение</div></td>
  </tr>
  {foreach from=$forums_list item=forum name=fl}
  <tr>
    <td width="30" valign="top" align="center"><img src="{$templates_url}/img/{if $forum.last_reg or $forum.last_view}act{else}pos{/if}.png" border="0" alt="" style="margin: 7px 0 5px 2px;"></td>
    <td style="padding: 5px 15px 5px 15px;"><a href={$module_url}/{$forum.full_url} class="title">{$forum.name}</a></td>
	<td>{$forum.description|nl2br}</td>
    <td align=center>{$forum.threads}</td>
    <td align="center" style="border-right: none;">{$forum.last_date|date_format:"%d.%m.%Y, %H:%M"}</td>
  </tr>
  {/foreach}

  </tr>
</table>
<br><br>

{/if}

{if !$main_forum}
 {if $threads_list}

  {if $total_pages>1}
  <strong>Страницы:</strong> <a href="{$current_url}/page_1">...</a>

  {section name=p loop=$pages}
    {if $pages[p]==$current_page}
				    <span class="pagelink_act">{$pages[p]}</span>
    {else}
    <span class="pagelink"><a href="{$current_url}/page_{$pages[p]}">{$pages[p]}</a></span>
    {/if}
  {/section}

  <a href="{$current_url}/page_{$total_pages}">...</a>
  <br><br>
  {/if}
		
{if $write_auth}

<p>
<table width="100%" cellspacing=0 cellpadding=0 border="0" style="margin-top: 20px;">
  <tr>
		<td align="left"><strong>{if $write_auth}{if $forum_content.name2}{else}Список тем{/if}{else}Основные темы{/if}</strong></td>
    <td width="115" style="padding-bottom: 10px;" onclick="obj=document.getElementById('add_form'); if (obj.style.display=='none') obj.style.display=''; else obj.style.display='none'; ">
	<input type="button" class="button" value="Создать новую тему &rarr;" onClick="location.href='{$base_url}/{$current_url}/#add_thread';">
	{*<a href="{$current_url}/#add_thread"><img src="templates/img/new_theme.gif" border="0" alt="Создать новую тему" title="Создать новую тему">
	</a>*}</td>
  </tr>
</table>
</p>
{/if}

<table width="100%" border="0" cellpadding="0" cellspacing="0" class="forum_table">
    <tr>
    <th style="border-right: none;" width="30">&nbsp;</td>
      <th style="padding-right: 35px;">Название темы</td>
      <th width=15%>Автор</td>
      <th width=10%>Ответ/Просмотр</td>
      <th width=150>Последнее сообщение</td>
    </tr>
  {foreach from=$threads_list item=thread}
    <tr>
				<td width="30" valign="top" align="center">{if $thread.top=='1'}<img src="templates/img/close.gif" border="0" alt="Тема закреплена" title="Тема закреплена" style="margin: 7px 5px 5px 2px;">{else}<img src="{$templates_url}/img/{if $thread.last_view or $thread.last_reg}act_t{else}pos_t{/if}.png"  border="0" alt="" style="margin: margin: 7px 0 5px 2px;">{/if}</td>
      <td>
        <table width=100% class=forum_simple>
          <tr>
            <td>
              <a href={$current_url}/thread_{$thread.id} class="title">{$thread.title}</a>
              {if $thread.total_pages>1}
              <br><div class="fw_nap">
              [Страницы:
              {assign var=tpages value=$thread.pages}
              <small>
                {section name=p loop=$tpages}
                  <a href="{$current_url}/thread_{$thread.id}/page_{$tpages[p]}" class="fw_nap">{$tpages[p]}</a>
                {/section}
                {if $thread.total_pages>7}... <a href="{$current_url}/thread_{$thread.id}/page_{$thread.total_pages}" class="fw_nap">Последняя</a>{/if}
              ]
              </small></div>
              {/if}
            </td>
            <td width=10% align=right>
												{if $show_admin_menu}
												<table width="100%" border="0" cellspacing="0" cellpadding="0">
												<tr>
												<td><a href="{$base_url}/admin/index.php?mod=forum&action=fix_thread&id={$thread.id}">{if $thread.top=='0'}<img src="templates/img/op.gif" width="12" height="14" border="0" alt="Закрепить" title="Закрепить" style="margin-left: 6px;">{else}<img src="templates/img/cloce.gif" width="18" height="14" border="0" alt="Открепить" title="Открепить">{/if}</a></td>
												<td><a href="javascript:confirm_delete('{$thread.id}');"><img src="templates/img/del.gif" width="14" height="14" border="0" alt="Удалить" title="Удалить" style="margin-left: 5px;"></a></td>
												</tr>
												</table>{/if}
									</td>
          </tr>
        </table>
      </td>
      <td>{if $thread.author_login}<table cellpadding="0" cellspacing="0" border="0"><tr><td>
	  <img hspace="2" src={$templates_url|replace:$base_url:""}/img/user_icon.png align=absmiddle></td><td><a href={$base_url}/forum/info/{$thread.author_id}>{$thread.author_name}</a></td></tr></table>
	  {else}<table cellpadding="0" cellspacing="0" border="0"><tr><td><img src={$templates_url|replace:$base_url:""}/img/user_icon2.png align=absmiddle></td><td>{$thread.author}</td></tr></table>
	  {/if}</td>
      <td align=center><strong>{$thread.count}/{if $thread.views}{$thread.views}{else}0{/if}</strong></td>
      <td style="border-right: none;"><span class="resd">{$thread.last_date|date_format:"%d.%m.%Y в %H:%M"}</span><br><strong>Автор:</strong> <a href={$base_url}/forum/info/{$thread.last_author_id}>{$thread.last_author}</a> </td>
    </tr>
  {/foreach}
  </table>

  {if $total_pages>1}
  <br><br>
  <strong>Страницы:</strong> <a href="{$current_url}/page_1">...</a>

  {section name=p loop=$pages}
    {if $pages[p]==$current_page}
    <span class="pagelink_act">{$pages[p]}</span>
    {else}
    <span class="pagelink"><a href="{$current_url}/page_{$pages[p]}">{$pages[p]}</a></span>
    {/if}
  {/section}

  <a href="{$current_url}/page_{$total_pages}">...</a>
  {/if}


  {elseif !$threads_list and !$main_forum}

    <center>В форуме нет ни одной темы.</center>

  {/if}

{if $write_auth}
{if $error_message}<font color=red><b>{$error_message}</b></font><br><br>{/if}
<a name="add_thread">
<p><br>
<table cellspacing=1 cellpadding=3 style="cursor: hand; cursor: pointer" onclick="obj=document.getElementById('add_form'); if (obj.style.display=='none') obj.style.display=''; else obj.style.display='none'; ">
  <tr>
    <td>
	<input type="button" class="button" value="Создать новую тему &rarr;">
	{*<a href="{$current_url}/#add_thread"><img src="templates/img/new_theme.gif" border="0" alt="Создать новую тему" title="Создать новую тему"></a>*}</td>
  </tr>
</table>
</p>

<table width=100% cellspacing=1 cellpadding=3 class=forum_table id="add_form" style="{if $tmp.name==''}display: none; margin-top: 20px;{/if}">
  <tr>
    <td>
      <table width=100% cellspacing=1 cellpadding=3 class=forum_add_table>
        <form action="{$current_url}#add_thread" method=post name=add_thread onsubmit="return addThread(this);">
        <input type=hidden name=forum_id value="{$forum_content.id}">
        <input type=hidden name=submit_new_thread value="1">
          {if !$logged_user}
          <tr>
            <td>
              <table width=100% class=forum_simple>
  <tr>
    <td class="lefttop10px">&darr; Ваше имя <font style="color: #666;">[пример &rarr; Иван]</font></td>
  </tr>
  <tr>
    <td valign="top"><input class="input" type="text" name="nt_name" value="{$tmp.name}"></td>
  </tr>
				
              </table>
            </td>
          </tr>
          {/if}
          <tr>
            <td>
              <table width=100% class=forum_simple>
                {*<tr>
                  <td width=150>
                    <font color=red><sup>*</sup></font> <b>Название темы:</b>
                  </td>
                  <td>
                    <input type=text name=nt_title style="width:100%;" class=forum_field value="{$tmp.title}">
                  </td>
                </tr>*}
				
  <tr>
    <td class="lefttop10px">&darr; Название темы <font style="color: #666;">[пример &rarr; апельсины]</font></td>
  </tr>
  <tr>
    <td valign="top"><input class="input" type="text" name="nt_title" value="{$tmp.title}"></td>
  </tr>
				

              </table>
            </td>
          <tr>
            <td>
            <div class=tag_box>
            <a href="add_tag" onclick="return insert_tag(document.add_thread.nt_text,'[B]','[/B]')" class=tag_button><b>B</b></a>
            <a href="add_tag" onclick="return insert_tag(document.add_thread.nt_text,'[I]','[/I]')" class=tag_button><i>I</i></a>
            <a href="add_tag" onclick="return insert_tag(document.add_thread.nt_text,'[U]','[/U]')" class=tag_button><u>U</u></a>
            <a href="add_tag" onclick="return insert_tag(document.add_thread.nt_text,'[QUOTE]','[/QUOTE]')" class=tag_button>&laquo; Цитата &raquo;</a>
            <a href="add_tag" onclick="return insert_tag(document.add_thread.nt_text,'[URL=]','[/URL]')" class=tag_button>URL</a>
            <a href="add_tag" onclick="return insert_tag(document.add_thread.nt_text,'[IMG]','[/IMG]')" class=tag_button>Картинка</a>


            &nbsp;&nbsp;
            {foreach from=$smiles_list item=smile}
            <a href="add_tag" onclick="return insert_tag(document.add_thread.nt_text,'{$smile.symbol}','')"><img src={$base_url}/uploaded_files/smiles/{$smile.id}.{$smile.image} border=0 align="absmiddle"></a>
            {/foreach}
            </div>
              <textarea name=nt_text class=input>{$tmp.text}</textarea>
              {*<center><input type=submit name=submit_button value="Создать тему &rarr;" class=button></center>*}
            </td>
          </tr>
		  
					  <tr>
						<td class="lefttop10px">&darr; Введите код на изображении</td>
					  </tr>
					  <tr>
						<td valign="top">
							<table><tr><td width="30%"><img src="/forum/view_captcha/" border="0"></td>
								<td width="70%"><input type="text" class="input" maxlength="5" name="nt_code"></td>
							</tr></table>
						</td>
					  </tr>
		  
		  <tr><td align="center"><input type=submit name=submit_button value="Создать тему &rarr;" class=button></td></tr>
          </form>
        </table>
    </td>
  </tr>
</table>


{literal}
<script language="JavaScript">
<!--
  document.add_thread.nt_code.onkeypress = validateAlNumUnder;

  // Activate the appropriate input form field.
  /*if (document.add_thread.nt_code.value == '') {
    document.add_thread.nt_code.focus();
  } else {
    document.add_thread.nt_code.focus();
  }*/
 
// -->
</script>
{/literal}

{/if}

{/if}