<script src="{$base_url}/javascript/insert_text/insert_text_{$browser}.js"></script>
{literal}
<script language="JavaScript">
function quote_post(id) {
	document.quote_form.quote.value = id;
	document.quote_form.submit();
	return false;
}
</script>
{/literal}

{if $show_admin_menu}
{literal}
<SCRIPT language=JavaScript>
function confirm_delete(delete_id) {
	if (confirm("Дейтсвительно удалить это сообщение?")) {
		parent.location.href = "{/literal}{$base_url}{literal}/admin/index.php?mod=forum&action=delete_post&id=" + delete_id;
	}
}
</SCRIPT>

{/literal}

{/if}

{literal}
<SCRIPT language=JavaScript>
function showsObject() {
document.all.sups.className = 'go';
document.getElementById('menus').className = 'act';
}
function hidesObject() {
document.all.sups.className = 'pop_sub';
document.getElementById('menus').className = 'none';
}

function check_form() {
	if (document.add_post.np_text.value==''  || document.add_post.np_code.value=='') {
		alert("Заполните, пожалуйста, обязательные поля");
		return false;
	}
	else {
		document.add_post.submit_button.disabled=true;
		return true;
	}
}
</SCRIPT>
{/literal}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top">

<table width="60%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="100%" style="height: 17px;" nowrap="nowrap" align="right" class="for_blue">
{if $logged_user.login==""}<a href="{$base_url}/{$cabinet_url}/register/" class="subpage"><strong>Стать своим</strong></a> | {/if}<a href="{$base_url}/{$cabinet_url}/{if !$logged_user}login{/if}" class="subpage"><strong>{if $logged_user}Кабинет{else}Авторизация{/if}</strong></a>  |  <a href="/forum/users/" class="subpage"><strong>Пользователи</strong></a></strong></td></tr>
</table>

</td></tr>
</table>
<br>
<form action="{$current_url}{if $current_page}/page_{$current_page}{/if}#add_post" method=post name=quote_form><input type=hidden name=quote value=""></form>
	  {if $total_pages>1}
  <br><br>
  <strong>Страницы:</strong> <a href="{$current_url}/page_1">...</a>

  {section name=p loop=$pages}
    {if $pages[p]==$current_page}
    <span class="pagelink_act">{$pages[p]}</span>
    {else}
    <span class="pagelink"><a href="{$current_url}/page_{$pages[p]}">{$pages[p]}</a></span>
    {/if}
  {/section}

  <a href="{$current_url}/page_{$total_pages}">...</a>
  {/if}


<table width=100% cellspacing=0 cellpadding=3 class=forum_table>
	<tr>
		<td>
			{foreach from=$posts_list item=post}
			<table width=100% cellspacing=1 cellpadding=5 class=forum_post_table>
					<tr>
	<td width="150" style="background: #d1dceb">{if !$post.author_id}<img src={$templates_url|replace:$base_url:""}/img/user_icon2.png align=absmiddle><span class="title">{$post.author}</span>{else}<img hspace="2" src={$templates_url|replace:$base_url:""}/img/user_icon.png align=absmiddle> <a class="title" href={$base_url}/forum/info/{$post.author_id}><strong>{$post.author_name}</strong></a>{/if}</td>
	<td style="background: #d1dceb"><small>{$post.publish_date|date_format:"%d.%m.%Y в %H:%M"}</small></td></tr>

				<tr>
					<td width="155" align="center" valign=top style="height: 100px;">
						{if $post.author_id}
						<div style="width: 100px; height: 100px;">{if $post.avatar}<a href={$base_url}/forum/info/{$post.author_id} class=user_link><img src="uploaded_files/avatars/{$post.author_id}.{$post.avatar}" border=0></a>{else}&nbsp;{/if}</div>
						<br>
						<small>Группа: {if $post.author_grade!=''}{$post.author_grade}{else}{$post.priv}{/if}<br>
						Всего сообщений: {$post.posts_count} {if $post.reg_date=="0"}<br>
						Дата регистрации: {$post.reg_date|date_format:"%d.%m.%Y"}{/if}</small>
						</small>
						{else}
						<small>Группа: Гость<br></small>
						{/if}
					</td>
					<td valign=top>
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top" style="height: 170px; border: none;"><div class=post_text>{$post.text}</div></td>
</tr>
<tr>
<td style="height: 15px; border: none; border-top: 1px solid #cccccc; padding: 5px 0 5px 0;"><small>{if $post.author_signature}Подпись: {$post.author_signature}{/if}&nbsp;</small></td></tr>
</table>

					</td>
				</tr>
				<tr>
					<td style="background: #d1dceb">{if $post.author_id}<a href={$base_url}/forum/info/{$post.author_id}><small>Карточка</small></a>{/if}</td>
					<td valign=top style="background: #d1dceb">
						
						<table width=100% cellspacing=0 cellpadding=0 border="0" class="forum_simple">
							<tr>
								{if $show_admin_menu}<td style="background: #d1dceb">
									
										<small>{if $post.id!=$thread.thread_post}[<a href="javascript:confirm_delete('{$post.id}');">Удалить</a>] [<a href="#" onclick="window.open('{$base_url}/admin/index.php?mod=forum&action=create_new_thread&post_id={$post.id}','winscript','height=200,width=700,toolbar=no,resizable=yes,scrollbars=yes,,menubar=no' ); return false">Создать новую тему</a>] [<a href="#" onclick="window.open('{$base_url}/admin/index.php?mod=forum&action=move_post&post_id={$post.id}','winscript','height=600,width=600,toolbar=no,resizable=yes,scrollbars=yes,,menubar=no' ); return false">Переместить</a>]{/if} [<a href="#" onclick="window.open('{$base_url}/admin/index.php?mod=forum&action=edit_post&post_id={$post.id}&is_thread={if $post.id==$thread.thread_post}yes{else}no{/if}','winscript','height=400,width=700,toolbar=no,resizable=yes,scrollbars=yes,,menubar=no' ); return false">Редактировать</a>]</small>
									{/if}
									{if $logged_user and ($post.author_id==$logged_user.id) and !$show_admin_menu}
										<small>[<a href="#" onclick="window.open('{$base_url}/admin/index.php?mod=forum&action=edit_post&post_id={$post.id}&is_thread={if $post.id==$thread.thread_post}yes{else}no{/if}','winscript','height=400,width=700,toolbar=no,resizable=yes,scrollbars=yes,,menubar=no' ); return false">Редактировать</a>]</small>
									
								</td>{else}<td style="background: #d1dceb"><a href="javascript:scroll(0,0);"><img src="{$templates_url|replace:$base_url:""}/img/top.gif" width="11" height="11" border="0" alt="Наверх" title="Наверх" style="margin-top: 3px"></a></td>{/if}
								<td width=10% align=right style="background: #d1dceb"><small>{if $logged_user}<a href="#" onclick="return quote_post('{$post.id}')">Цитировать</a>{/if}</small>
								</td>
							</tr>
						</table>
						
					</td>
				</tr>
			</table>
			{/foreach}
		</td>
	</tr>
</table>

{if $total_pages>1}
	<br>
	Страницы: <a href="{$current_url}/page_1"><<</a>

	{section name=p loop=$pages}
		{if $pages[p]==$current_page}
		{$pages[p]}
		{else}
		<a href="{$current_url}/page_{$pages[p]}">{$pages[p]}</a>
		{/if}
	{/section}
	
	<a href="{$current_url}/page_{$total_pages}">>></a>
{/if}
	
{if $write_auth}
<br><br>


<a name="add_post">
{if $error_message}<font color=red><b>{$error_message}</b></font><br><br>{/if}
<table width=100% cellspacing=0 cellpadding=3 class=forum_table>
	<tr>
		<th><div class="add2">Добавить коментарий:</div></th>
	</tr>
	<tr>
		<td>
				<table width=100% cellspacing=1 cellpadding=3 class=forum_add_table>
					<form action="{$current_url}#add_post" method=post name=add_post onsubmit="return check_form();">
					<input type=hidden name=thread_id value="{$thread.id}">
					<input type=hidden name=submit_new_post value="1">
					{if !$logged_user}
					<tr>
						<td>
							<table width=100% class=forum_simple>
								{*<tr>
									<td width=15%>
										<b><font color=red><sup>*</sup></font> Ваше имя:</b>
									</td>
									<td>
										<input type=text name=np_name style="width:100%;" value="{$tmp.name}" class=forum_field>
									</td>
								</tr>*}
  <tr>
    <td class="lefttop10px">&darr; Ваше имя <font style="color: #666;">[пример &rarr; Васька]</font></td>
  </tr>
  <tr>
    <td valign="top"><input class="input" type="text" name="np_name" value="{$tmp.name}" onKeyUp="securePostInput(document.add_post);"></td>
  </tr>
								
							</table>
						</td>
					</tr>
					{/if}
					
					
					
					<tr>
						<td>
						<div class=tag_box>
						<a href="add_tag" onclick="return insert_tag(document.add_post.np_text,'[B]','[/B]')" class=tag_button><b>B</b></a>
						<a href="add_tag" onclick="return insert_tag(document.add_post.np_text,'[I]','[/I]')" class=tag_button><i>I</i></a>
						<a href="add_tag" onclick="return insert_tag(document.add_post.np_text,'[U]','[/U]')" class=tag_button><u>U</u></a>
						<a href="add_tag" onclick="return insert_tag(document.add_post.np_text,'[QUOTE]','[/QUOTE]')" class=tag_button>&laquo; Цитата &raquo;</a>
						<a href="add_tag" onclick="return insert_tag(document.add_post.np_text,'[URL=]','[/URL]')" class=tag_button>URL</a>
						<a href="add_tag" onclick="return insert_tag(document.add_post.np_text,'[IMG]','[/IMG]')" class=tag_button>Картинка</a>
						
						&nbsp;&nbsp;
						{foreach from=$smiles_list item=smile}
						<a href="add_tag" onclick="return insert_tag(document.add_post.np_text,'{$smile.symbol}','')"><img src={$base_url}/uploaded_files/smiles/{$smile.id}.{$smile.image} border=0 align="absmiddle"></a>
						{/foreach}
						</div>
							
							<textarea onKeyUp="securePostInput(document.add_post);" name=np_text class=input>{$tmp.text}</textarea>
						</td>
					</tr>
					
					  <tr>
						<td class="lefttop10px">&darr; Введите код на изображении</td>
					  </tr>
					  <tr>
						<td valign="top">
							<table><tr><td width="30%"><img src="/forum/view_captcha/" border="0"></td>
								<td width="70%"><input type="text" class="input" maxlength="5" name="np_code"></td>
							</tr></table>
						</td>
					  </tr>
					
					<tr><td align="center"><input type=submit name=submit_button id="submit_post" value="Ответить&nbsp;&rarr;" class=button_off></td></tr>
					
					</form>
				</table>
		</td>
	</tr>
</table>
{/if}

{literal}
<script language="JavaScript">
<!--
  document.add_post.np_code.onkeypress = validateAlNumUnder;

  // Activate the appropriate input form field.
  if (document.add_post.np_code.value == '') {
    document.add_post.np_code.focus();
  } else {
    document.add_post.np_code.focus();
  }
 
// -->
</script>
{/literal}
