<div class="row">
{foreach from=$folders_list item=folder name=folder}
	<div class="span31">
		<a href="{$base_url}/catalog/{$folder.full_url}" class="cat-item">
		<div class="text-center">
							{if $folder.image}
								<img src="/images/img133x137/uploaded_files/shop_images/{$folder.image}" class="cat-item-img">
							{else}
								<img src="/templates/img/cat-img.jpg" class="cat-item-img">
							{/if}
		</div>
		<div class="like-link">{$folder.name|strip_tags}</div>
		÷ена от <b>{$folder.properties.price|format_price}</b>
		</a>
	</div>
{/foreach}
</div>