           <table width="100%" border="0" cellspacing="1" cellpadding="0">
              <tr bgcolor="#fbf3df">
                <td colspan="8" class="tabletop"><div class="tabletop2">Для сортировки товара кликните по названию столбцов</div></td>
              </tr>
              <tr bgcolor="#fbf3df" class="tablecapt">
                <td><a href="#">Наименование</a></td>
                <td><a href="#">Артикул</a></td>
                <td><a href="#">Типоразмер</a></td>
                <td><a href="#">ИН</a></td>
                <td><a href="#">ИС</a></td>
                <td><a href="#">Цена</a></td>
                <td>Кол-во</td>
                <td>В корзину</td>
              </tr>
              <tr bgcolor="#f1f6f9" class="tableall">
                <td><a href="#">Bridgestone Potenza S-03 ESO3 205/50 ZR15 86W</a></td>
                <td><span class="tableart">12345678</span></td>
                <td>285/45 R17</td>
                <td>13</td>
                <td id="nw">VF</td>
                <td id="nw">10 430 <span class="tableart">руб.</span></td>
                <td><input type="text" class="tableinp"></td>
                <td><input type="image" src="img/buy.png" width="57" height="17"></td>
              </tr>
              <tr bgcolor="#fbf3df" class="tableall">
                <td><a href="#">Bridgestone Potenza S-03 ESO3 205/50 ZR15 86W</a></td>
                <td><span class="tableart">12345678</span></td>
                <td>285/45 R17</td>
                <td>13</td>
                <td id="nw">VF</td>
                <td id="nw">10 430 <span class="tableart">руб.</span></td>
                <td><input type="text" class="tableinp"></td>
                <td><input type="image" src="img/buy.png" width="57" height="17"></td>
              </tr>
              <tr bgcolor="#f1f6f9" class="tableall">
                <td><a href="#">Bridgestone Potenza S-03 ESO3 205/50 ZR15 86W</a></td>
                <td><span class="tableart">12345678</span></td>
                <td>285/45 R17</td>
                <td>13</td>
                <td id="nw">VF</td>
                <td id="nw">10 430 <span class="tableart">руб.</span></td>
                <td><input type="text" class="tableinp"></td>
                <td><input type="image" src="img/buy.png" width="57" height="17"></td>
              </tr>
              <tr bgcolor="#fbf3df" class="tableall">
                <td><a href="#">Bridgestone Potenza S-03 ESO3 205/50 ZR15 86W</a></td>
                <td><span class="tableart">12345678</span></td>
                <td>285/45 R17</td>
                <td>13</td>
                <td id="nw">VF</td>
                <td id="nw">10 430 <span class="tableart">руб.</span></td>
                <td></td>
                <td id="noway">Нет в<br>наличии</td>
              </tr>
              <tr bgcolor="#f1f6f9" class="tableall">
                <td><a href="#">Bridgestone Potenza S-03 ESO3 205/50 ZR15 86W</a></td>
                <td><span class="tableart">12345678</span></td>
                <td>285/45 R17</td>
                <td>13</td>
                <td id="nw">VF</td>
                <td id="nw">10 430 <span class="tableart">руб.</span></td>
                <td></td>
                <td id="noway">Нет в<br>наличии</td>
              </tr>
              <tr bgcolor="#fbf3df" class="tableall">
                <td><a href="#">Bridgestone Potenza S-03 ESO3 205/50 ZR15 86W</a></td>
                <td><span class="tableart">12345678</span></td>
                <td>285/45 R17</td>
                <td>13</td>
                <td id="nw">VF</td>
                <td id="nw">10 430 <span class="tableart">руб.</span></td>
                <td><input type="text" class="tableinp"></td>
                <td><input type="image" src="img/buy.png" width="57" height="17"></td>
              </tr>
              <tr bgcolor="#f1f6f9" class="tableall">
                <td><a href="#">Bridgestone Potenza S-03 ESO3 205/50 ZR15 86W</a></td>
                <td><span class="tableart">12345678</span></td>
                <td>285/45 R17</td>
                <td>13</td>
                <td id="nw">VF</td>
                <td id="nw">10 430 <span class="tableart">руб.</span></td>
                <td><input type="text" class="tableinp"></td>
                <td><input type="image" src="img/buy.png" width="57" height="17"></td>
              </tr>
              <tr bgcolor="#fbf3df">
                <td colspan="8" class="tablebot"><div class="tablebot2"></div></td>
              </tr>
            </table>