
<table class="table table-hover table-cart">
  					<thead>
    					<tr>
      					<th>Наименование</th>
      					<th>Диаметр</th>
      					<th>Крепеж</th>
      					
      					<th>PCD</th>
      					<th>Цена</th>
      					<th>Наличие</th>
      					<th> </th>
    					</tr>
  					</thead>
  					<tbody>
  					
                  <form action="" method="POST" id="form_order_products">
                  		{foreach from=$products_list item=item name=product}
		                  <tr>
		                  	
		                    <td class="td-main"><a href="{$base_url}/{$current_url}/{$item.id}/">{$item.name}</a></td>
		                    <td>{$item.disk_diameter|format_number}</td>
		                    <td>{$item.disk_krep|format_number}</td>
		                    <td>{$item.disk_pcd|format_number}</td>
		                    <td>{$item.price|format_price} руб.</td>
							<td>
								{if $item.disk_sklad > 0}
									<a href="#myModal" role="button" class="btn" data-toggle="modal" data-target="#myModal"><i class="icon-shopping-cart"></i> Купить</a>
								{/if}
							</td>		                    
		                  </tr>
                  		{/foreach}
                  </form>
  					</tbody>
				</table>
