{if $type == "disk"}
	
	{if $product.disk_sklad > 3}
		{assign var="order_count" value="4"}
	{elseif $product.disk_sklad > 1}
		{assign var="order_count" value=`$product.disk_sklad`}
	{else}
		{assign var="order_count" value="1"}
	{/if}

{else $type == "tire"}

	{if $product.tire_sklad > 3}
		{assign var="order_count" value="4"}
	{elseif $product.tire_sklad > 1}
		{assign var="order_count" value=`$product.tire_sklad`}
	{else}
		{assign var="order_count" value="1"}
	{/if}

{/if}

<section class="well">
	<form action="" method="post" id="fast_order_form">
	<input type="hidden" name="product_id" value="{$product.id}" />
    <input type="hidden" name="fast_order" value="1" />
	
						<div class="oneform" id="oneclick">Купить в 1 клик!</div>
						<div class="modal-summ">
							Товар: {$product.price|format_price} р.<br>
							Доставка: {$SHOP_DOSTAVKA_PRICE} р.<br>
							Итого: <span id="order_price"></span> р.<br>
						</div>
					  	<div class="input-prepend">
							<span class="add-on"><i class="icon-th-list"></i></span>
							<input class="span1" id="prependedInput" type="text" placeholder="Кол-во" value="{$order_count}" name="product_count" /> 
						</div><br>
						<div class="input-prepend">
							<span class="add-on"><i class="icon-user"></i></span>
							<input class="span4" id="prependedInput" type="text" placeholder="ФИО" name="fio"> 
						</div><br>
						<div class="input-prepend">
							<span class="add-on"><i class="icon-bell"></i></span>
							<input class="span4" id="prependedInput" type="text" placeholder="Телефон" name="phone"> 
						</div><br>
						<div class="input-prepend">
      					<span class="add-on"><i class="icon-globe"></i></span>
      					<select class="span4" name="order_type">
        					<option>Тип доставки:</option>
        					<option value="1">Самовывоз</option>
        					<option value="2">Служба доставки</option>
        					<option value="3">Транспортная компания</option>
      					</select>
    					</div><br>
    					<div class="input-prepend">
      					<span class="add-on"><i class="icon-home"></i></span>
      					<input class="span4" id="prependedInput" type="text" placeholder="Адрес и/или ТК (если требуется доставка)"> 
    					</div><br>
    					<label class="checkbox">
      					<input type="checkbox" checked=""> <small>Мною прочитаны, и я полностью соглашаюсь с <a href="#">правилами доставки и оплаты</a>.</small>
    					</label>
    					<button class="btn">Заказать</button>
    	</form>
</section>

{*        {if $error_fast_order}<label class="error">{$error_fast_order}</label>{/if}
        <form action="" method="post" id="fast_order_form">
                <input type="hidden" name="product_id" value="{$product.id}" />
                <input type="hidden" name="fast_order" value="1" />
                <input type="hidden" name="product_count" value="1" />

                  <table class="itemform">
                      <tr>
                        <td class="yandexer">{include file="../templates/yandex_share.html"}</td>
                        <td rowspan="2" class="nicegirl">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>
                        <div class="itemformtxt">Хочу купить - позвоните мне!</div>
                        <input type="text" name=name value=""><br />
                        <input type="text" name=phone value=""><br />
                        <textarea name=comment></textarea><br />
                        <input type="image" src="{$template_image}but_send.gif" class="itemformbut" title="Отправить" />
                        </td>
                      </tr>
                  </table>
		</form>
*}