
<h1>{if $smarty.get.filter_type == 'disk'}Диски, которые Вы искали:{elseif $smarty.get.filter_type == 'tire'}Шины, которые Вы искали:{/if}</h1>

{if $products || $search_results}
	{if $smarty.get.filter_type == 'disk'}
		{include file="`$smarty.const.BASE_PATH`/modules/shop/front/templates/search_result_disk.html"}
	{elseif $smarty.get.filter_type == 'tire'}
		{include file="`$smarty.const.BASE_PATH`/modules/shop/front/templates/search_result_tire.html"}
	{/if}

	{if $search_results}
		{include file="`$smarty.const.BASE_PATH`/modules/shop/front/templates/search_results.html"}
	{/if}
	
	{include file="`$smarty.const.BASE_PATH`/modules/shop/front/templates/modal_order.html"}
	
{else}
<center>Ничего не найдено</center>
{/if}