               <table class="table table-hover table-cart">
  						<thead>
    						<tr>
      						<th>Наименование</th>
      						<th>Типоразмер</th>
      						<th>ИН</th>
      						<th>ИС</th>
      						<th>Сезон</th>
      						<th>Цена</th>
      						<th>Наличие</th>
      						<th> </th>
    						</tr>
  						</thead>
  						<tbody>
  						
{foreach from=$products_list item=item name=product}
	
	<tr>
    	<td class="td-main"><a href="{$base_url}/{$current_url}/{$item.id}/">{$item.name}</a></td>
      	<td>{$item.tire_width}/{$item.tire_height} R{$item.tire_diameter}</td>
      	<td>{$item.tire_in}</td>
      	<td>{$item.tire_is}</td>
      	<td><i class="icon-season-{if $item.tire_season == 2}summer{elseif $item.tire_season == 1}winter{else}allseasons{/if}"></i></td>
      	<td><strong>4 325 руб.</strong></td>
      	<td class="td-many">{if $item.tire_sklad > 3}Много{elseif $item.tire_sklad > 1}{$item.tire_sklad}{else}1{/if}</td>
      	<td><a href="#myModal" role="button" class="btn" data-toggle="modal" data-target="#myModal">
      	<i class="icon-shopping-cart"></i> Купить</a></td>
    </tr>

{/foreach}

	</tbody>
</table>