{if $edit_error}
<br><br><br>
<center><font color=red>{$edit_error}</font></center>
<br><br><br>
{else}
<center>
<table width=100% class=content_table>
<tr>
<td align=center valign=top>
<table width=100% class=content_table>
<tr><td class=td1_single>
{if $message}<font color=red>{$message}</font><br>{/if}
Редактируем файл : {$editing_file}
</td>
</tr>
<tr>
<td class=td1_single>
<br><br>
<center>
<form action="" method=post>
<input type=hidden name=file_to_edit value="{$editing_file}">
<textarea name=edit_file_text class=field style="width:98%;" rows=24>{$file_to_edit}</textarea><br><br>
<input type=submit class=button name=submit_edit_file value="Сохранить изменения"><br><br>
</form>
</center>
</td></tr>
</table>
</td>
</tr>
</table>
</center>
{/if}