{literal}

<script language="JavaScript">
function check_form() {
	if (document.edit_form.edit_forms_name.value=='') {
		alert("Заполните, пожалуйста, обязательные поля");
		return false;
	}
	else {
		return true;
	}
}

function switcher(divname, value) {

	obj=document.getElementById(divname);

	if (value=="3") {
		obj.style.display='';
	}
	else {
		obj.style.display='none';
	}
}
</script>
{/literal}

{if $success_message}<center><font color=green>{$success_message}</font></center><br>{/if}
{if $error_message}<center><font color=red>{$error_message}</font></center><br>{/if}

<form action="" name="edit_form" method="post" onSubmit="return check_form();">

{if $mode=='edit'}
<input type="hidden" name="id" value="{$table.id}">
{/if}

<table width=100% class="content_table">
	<tr>
		<th>
			{if $mode=='edit'}Редактируем{else}Добавить{/if} форму
		</th>
	</tr>
</table>

<table width=100% class="content_table">
	<tr>
		<td width=20% class=td1_left>
			<font color=red><sup>*</sup></font>Название:
		</td>
		<td class=td1_right>
			<input type=text name=edit_forms_name style="width:100%" value="{$form.name}" class=field>
		</td>
	</tr>
	<tr>
		<td width=20% class=td1_left>&nbsp;&nbsp;E-mail:
		</td>
		<td class=td1_right>
			<input type=text name=edit_forms_email style="width:50%" value="{$form.email}" class=field>
		</td>
	</tr>
	{if $mode=="edit"}
	<tr>
		<td colspan="2" class=td1_left valign="top">
			<p>Поля формы:</p>
			<p>
				<table cellpadding="1" cellspacing="1" border="0" width="100%">
					{if $form_elements}
					<tr>
						<td colspan="2">
							<table cellpadding="0" cellspacing="0" border="0" width="100%" class="content_table">
								{foreach from=$form_elements item=entry name=fel}
									{if $col==1}
									{assign var="td" value='td1'}
									{assign var="col" value=0}
									{else}
									{assign var="td" value='td2'}
									{assign var="col" value=1}
									{/if}
									<tr>
										<td rowspan="4" width="20" align="center"><strong>{$smarty.foreach.fel.iteration}.</strong></td>
										<td nowrap>
											<strong>Номер:</strong> <input type="text" class=field name="edit_form_element_sort_order[{$entry.id}]" value="{$entry.sort_order}" size="2">&nbsp;&nbsp;&nbsp;&nbsp;
											<strong>Статус:</strong> <input type="checkbox" name="edit_form_element_status[{$entry.id}]" id="st_{$entry.id}"{if $entry.status=='1'}checked{/if}><label for="st_{$entry.id}">Показывать</label>
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="?mod=forms&action=delete_element&id={$entry.id}">удалить</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										</td>
										<td width="290" align="right" nowrap><strong>Тип поля:</strong>
											<select class=field name="edit_form_element_type[{$entry.id}]" style="width:220px" onChange="switcher('div_element_{$entry.id}', this.value)">
												<option value="0"{if $entry.type=="0"}selected{/if}>Простой текст</option>
												<option value="1"{if $entry.type=="1"}selected{/if}>Однострочное текстовое поле</option>
												<option value="2"{if $entry.type=="2"}selected{/if}>Многострочное текстовое поле</option>
												<option value="3"{if $entry.type=="3"}selected{/if}>Варианты выбора</option>
											</select>
										</td>
									</tr>
									<tr>
										<td colspan="2">
											<input class=field type="text" name="edit_form_element_name[{$entry.id}]" value="{$entry.name}" style="width:100%">
										</td>
									</tr>
									<tr>
										<td colspan="2">
											<div id="div_element_{$entry.id}" {if $entry.type!="3"}style="display: none;"{/if}>
												<strong><strong>Значение поля</strong></strong> (по одному на строке):<br>
												<textarea name="edit_form_element_value[{$entry.id}]" class=field style="width: 100%; height: 70px;">{$entry.value}</textarea>
											</div>
										</td>
									</tr>
									<tr>
										<td colspan="2"><hr></td>
									</tr>
								{/foreach}
							</table>
						</td>
					</tr>
					{/if}
					<tr>
						<td>
							<table width="100%" cellspacing="1" cellpadding="0" border="0">
								<tr>
									<th colspan="2">Добавить новое поле</th>
								</tr>
								<tr>
									<td><strong>Имя поля:</strong><br><input type="text" class=field name="edit_form_newelement_name" style="width:100%"></td>
									<td width="220"><strong>Тип поля:</strong><br>
										<select name="edit_form_newelement_type" class=field style="width:100%" onChange="switcher('div_newelement', this.value)">
											<option value="0">Простой текст</option>
											<option value="1" selected>Однострочное текстовое поле</option>
											<option value="2">Многострочное текстовое поле</option>
											<option value="3">Варианты выбора</option>
										</select>
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<div id="div_newelement" style="display: none;">
											<strong>Значение поля</strong> (по одному на строке):<br>
											<textarea name="edit_form_newelement_value" class=field style="width: 100%; height: 70px;"></textarea>
										</div>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</p>
		</td>
	</tr>
	<tr>
		<td width=20% class=td1_left>
			Статус:
		</td>
		<td class=td1_right>
			<select name="edit_forms_status">
				<option value="1" {if $form.status=='1'}selected{/if}>Активная</option>
				<option value="0" {if $form.status=='0'}selected{/if}>Ждёт</option>
			</select>
		</td>
	</tr>
	{/if}
</table>
<br>
<center><input type=submit {if $mode=='edit'}name=submit_edit_form value="Сохранить изменения"{else}name=submit_add_form value="Добавить форму"{/if}></center>

</form>