<div class="lmenubody">
	{foreach from=$shop_menu item=categor}
		<div class="lmenuc{if $cat_content.id == $categor.id || $cat_parent_info.id == $categor.id}o{/if}">
		<img src="/uploaded_files/shop_images/{$categor.image}">
		<a title="{$categor.name}" href="{$base_url}/{$categor.full_url}/">{$categor.name|strip_tags}</a>
		{if $cat_content.id == $categor.id || $cat_parent_info.id == $categor.id}
			<div class="lmenucos">
			{foreach from=$categor.children item=child}
				<div><a href="{$base_url}/{$child.full_url}/"{if $cat_content.id == $child.id} style="font-weight:bold;"{/if}>{$child.name|strip_tags}</a></div>
			{/foreach}
			</div>
		{/if}		
		</div>
	{/foreach}
</div>