
{if $registration_success=='1'}
Благодарим за регистрацию!<br><br>
На указанный Вами почтовый адрес было выслано письмо с Вашими регистрационными данными. Теперь Вы можете войти в свой личный кабинет.
{else}

<form id="register_user_form" method="POST" action="{$smarty.const.DOMAIN}/cabinet/register/">
<input type="hidden" name="submit_user_register" value="1">
<input type="hidden" name="basket" value="1">
	<div id="register_user">
		<div class="regfield">ФИО:</div><div class="reginput"><input type="text" name="username"></div>
		<div class="regfield">Телефон (с кодом):</div><div class="reginput"><input type="text" name="phone"></div>
		<div class="regfield">E-mail:</div><div class="reginput"><input type="text" name="useremail"></div>
		<div class="regfield">Адрес (для доставки):</div><div class="reginput"><input type="text" name="address"></div>
		<div class="regfield">Если хотите зарегистрироваться введите пароль:</div>
		<div class="reginput"><input type="password" name="pass"></div>
	</div>
</form>


{*
<form action="{$base_url}/cabinet/register/" method=post id=RegisterForm>
<input type=hidden name=submit_user_register value=1>
<input type=hidden name=submit_user_register_basket value=1>
{if $error_message}<font color=red>{$error_message}</font><br><br>{/if}

<p>После регистрации Вы получите письмо на указанный Вами E-mail с Вашим логином и паролем.</p>

<table class="RegisterForm">
<tr>
<td><sup>*</sup>E-mail</td><td width="7"></td>
<td><input type="text" name="email" value="{$temp.email}" class="field" /></td>
</tr>

<tr>
<td><sup>*</sup>Ваше имя</td><td width="7"></td><td><input type="text" name="name" value="{$temp.name}" class="field" /></td>
</tr>
<tr>
<td><sup>*</sup>Телефон</td><td width="7"></td><td><input type="text" name="phone" value="{$temp.tel}" class="field" /></td>
</tr>

<tr>
<td><sup>*</sup>Пароль</td><td width="7"></td><td><input type="password" name="password" class="field" id="password"></td>
</tr>

<tr>
<td><sup>*</sup>Повтор пароля</td><td width="7"></td><td><input type="password" name="password_again" class="field" /></td>
</tr>

<tr valign="top">
<td colspan="3" align="right" style="padding : 7px 68px 0px 0px;"><input type="submit" value="Регистрация" class="but" name="submit_user_register">
</td>
</tr>
</table>
<br />
<br />
<font class="font10" style="color : #666666;"><font style="color : #FF0024;"><strong>! </strong></font>Личные сведения, полученные в распоряжение интернет-магазина medolina.ru при регистрации или каким-либо иным образом, не будут без разрешения пользователей передаваться третьим организациям и лицам, за исключением ситуаций, когда этого требует закон или судебное решение.</font>
</form>
</center>


{literal}
<script type="text/javascript" language="javascript">
	// <![CDATA[
	// ]]>
	</script>
{/literal}

*}
{/if}

