           <table width="100%" border="0" cellspacing="1" cellpadding="0">
              <tr bgcolor="#fbf3df">
                <td colspan="8" class="tabletop"><div class="tabletop2">Для сортировки товара кликните по названию столбцов</div></td>
              </tr>
              <tr bgcolor="#fbf3df" class="tablecapt">
                <td><a href="#">Наименование</a></td>
                <td><a href="#">Артикул</a></td>
                <td><a href="#">Типоразмер</a></td>
                <td><a href="#">ИН</a></td>
                <td><a href="#">ИС</a></td>
                <td><a href="#">Цена</a></td>
                <td>Кол-во</td>
                <td>В корзину</td>
              </tr>
              
              {foreach from=$products_list item=item name=product}
              
              <tr bgcolor="{if $smarty.foreach.product.iteration%2}#f1f6f9{else}#fbf3df{/if}" class="tableall">
                <td><a href="{$base_url}/{$current_url}/{$item.id}/">{$item.name}</a></td>
                <td><span class="tableart">{$item.article}</span></td>
                <td>{$item.tire_width}/{$item.tire_height} R{$item.tire_diameter}</td>
                <td>{$item.tire_in}</td>
                <td id="nw">{$item.tire_is}</td>
                <td id="nw">{$item.price|format_price}&nbsp;<span class="tableart">руб.</span></td>
                <td><input type="text" class="tableinp"></td>
                <td><input type="image" src="{$template_image}buy.png" width="57" height="17"></td>
              </tr>
              {/foreach}

              <tr bgcolor="#fbf3df">
                <td colspan="8" class="tablebot"><div class="tablebot2"></div></td>
              </tr>
            </table>