<html>
<head>
<title>Администраторская панель</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<link rel="stylesheet" type="text/css" href="templates/style.css">
</head>

<body>

{literal}
<script language=JavaScript src='{/literal}{$base_url}{literal}/javascript/tooltips.js'></script>
<script language=JavaScript src='{/literal}{$base_url}{literal}/javascript/common.js'></script>
<script language=JavaScript type="text/javascript">
function doInsert(forma)
    {
    var obj = window.opener.oUtil.obj;

    var sFRM=forma;

    obj.insertHTML(sFRM)
    }

</script>
{/literal}


<table width="100%" style="height: 100%;" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top">


<table width=100% class=content_table>
	<tr>
	<th width=10%>ID</th>
	<th>Название</th>
	<th width=10%>E-mail</th>
	<th width=5%>Статус</th>
	<th width=10%>Действия</th>
	</tr>

	{foreach from=$forms_list item=form}

	{if $col==1}
	{assign var="td" value='td1'}
	{assign var="col" value=0}
	{else}
	{assign var="td" value='td2'}
	{assign var="col" value=1}
	{/if}
	<tr>
			<td class={$td}_left align=center>
				<small>{$form.id}</small>
			</td>
			<td class={$td}_middle>
				{$form.name} <font color="#666666"><small>({$form.elements})</small></font>
			</td>
			<td class={$td}_middle align=center>
				{$form.email}
			</td>
			<td class={$td}_middle align=center>
				<img src=templates/img/status_{$form.status}.gif border=0>
			</td>
			<td align=center class={$td}_right>
                <input type=button value="Вставить" onclick="doInsert('{literal}{form id=&quot;{/literal}{$form.id}{literal}&quot;}{/literal}');self.close()">
			</td>
		</tr>
	{/foreach}
</table>

</td></tr>
<tr>
<td valign="top" style="height: 40px;">
<div class="citata">Для правильной работы формы отправки, нужно включить дополнительный модуль &laquo;Форма отправки&raquo; (вкладка &laquo;Дополнительные настройки&raquo; / строка &laquo;Дополнительные модули&raquo;)</div>
</td></tr>
</table>

</body>
</html>