			{if $comments}
			<div id="regp2">Отзывы о товаре:</div>
			{foreach from=$comments item=comment}
            <b>{$comment.username}</b><br>
            {$comment.text|strip_tags}<br><br>
            {/foreach}            
            {/if}
            <div id="regp2">Написать свой отзыв:</div>
            
            <form action="{$base_url}/shop/add_comment/" method="POST" id="add_comment">
            <input type="hidden" name="brand_id" value="{$cat_content.id}">
            <input type="hidden" name="email" value="">
            <input type="hidden" name="username" value="">
            <input type="hidden" name="text" value="">
            
            <div class="otzivw">Ваше имя: <input type="text" name="bvz"></div>
            <div class="otzivw">E-mail: <input type="text" name="tvfbk"></div>
            <div class="otzivw">Отзыв: <textarea name="ntrcn"></textarea></div>
            <input type="submit" name="submit_comment" value="Отправить" style="margin-left:70px;">
			</form>