<h1>{$product.name}</h1>
<table width="100%" height="264" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td class="catbigpct">
                {if $cat_content.image}
                <img src="{$smarty.const.SHOP_IMAGE}{$cat_content.image}" width="215" height="236">
                {else}
                Нет изображения
                {/if}
                </td>
                <td class="catopis">
                <div id="catopisb"><span id="linec">Бренд:</span>&nbsp;{$cat_parent_info.name}<br>
                <span id="linec">Модель:</span>&nbsp;{$cat_content.name}<br>
                <span id="linec">Ширина:</span>  {$product.disk_width}<br>
                <span id="linec">Диаметр:</span>  {$product.disk_diameter}<br>
                <span id="linec">Крепеж:</span>  {$product.disk_krep}<br>
                <span id="linec">PCD:</span>  {$product.disk_pcd}<br>
                <span id="linec">PCD (двойной):</span>  {$product.disk_pcd2}<br>
                <span id="linec">ET:</span>  {$product.disk_et}<br>
                <span id="linec">Цвет:</span>  {$product.disk_color}<br>
                <span id="linec">Тип диска:</span>  {$disk_type.name}<br>
                
                </div><br><br>
                
                <form action="" name="order_product" method="POST" id="form_order_single">
                <input type="hidden" name="product_id" value="{$product.id}">
                <table border="0" cellspacing="0" cellpadding="5" bgcolor="#fbf3df">
                  <tr>
                    <td style="font-size:14px; font-weight:bold; vertical-align:middle;" valign="middle">
                    <span style="color:#156391;">{$product.price|format_number}</span> руб.</td>
                    <td>&nbsp;&nbsp;<input type="text" class="tableinpb" name="count"> шт.</td>
                    {if $product.disk_sklad > 3}
                    	<td style="font-size:12px; vertical-align:middle;" valign="middle">
                    	<input type="image" src="{$template_image}buy.png" width="57" height="17"></td>
                    {else}
                    	<td id="noway">Нет в<br>наличии</td>
                    {/if}
                  </tr>
                </table>
                </form>
                
                </td>
              </tr>
</table>
<br><br>
<p>{$product.text}</p>