<div class="well well-top{if $basket_number} display_off{/if}">
	<i class="icon-shopping-cart"></i> <a href="#">Корзина</a> &mdash; в вашей корзине ничего нет, покупайте смелее!<hr>
	<div class="payment"></div>
	<div class="grey text-center">К оплате принимем наличные рубли, карты и другие средства. <a href="#">Подробнее</a></div>
</div>
<div class="well well-top{if !$basket_number} display_off{/if}">
	<i class="icon-shopping-cart"></i> <a href="/catalog/basket/">Корзина</a> &mdash; у вас {$basket_number} товаров на сумму <span class="blue">{$basket_total|format_price} руб.</span><hr>
	<ol>
		{foreach from=$smarty.session.fw_basket item=item name="for_basket"}
			{if $smarty.foreach.for_basket.iteration < 4}
				<li><span class="grey">{$item.number} шт. {$item.product.name|strip_tags} &mdash; на сумму {$item.total_price|format_price} руб.</span></li>
			{/if}
		{/foreach}
	</ol>
	<div class="text-center">
		<a href="/catalog/basket/" class="button-shopping-cart">Перейти в корзину</a>
	</div>
</div>