{literal}
<script language="JavaScript">
function check_form() {
	if ((document.edit_group.name.value=='')) {
		alert("Заполните, пожалуйста, обязательные поля");
		return false;
	}
	else {
		return true;
	}
}
</script>
{/literal}
{if $error_message}<center><font color=red>{$error_message}</font></center><br>{/if}
<form action="" name=edit_group method=POST onSubmit="return check_form();">
{if $mode=="edit"}
<input type=hidden name=id value={$group.id}>
{/if}

<table width=100% class="content_table">
<tr><th>{if $mode=='edit'}Редактируем группу{else}Добавить группу{/if}</th></tr>
</table>

<table width=100% class="content_table">
<tr>
<td width=20% class=td1_left>Название: <font color=red>*</font></td><td class=td1_right><input type=text name=name style="width:100%" value="{$group.name}" class=field></td>
</tr>
</table>
<br>
<center><input type=submit {if $mode=='edit'}name=submit_edit_group value="Сохранить изменения"{else}name=submit_add_group value="Добавить группу"{/if}></center>

</form>