<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<title>{$page_title}</title>
<meta name="Keywords" content="{$meta_keywords}">
<meta name="Description" content="{$meta_description}">
{foreach from=$css item=css}
<link rel="stylesheet" type="text/css" href="{$css}">
{/foreach}

{foreach from=$js item=js}
<script src="{$js}" type="text/javascript"></script>
{/foreach}
</head>
<body>
<table class="mtbl" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td class="toptr"><div class="logo"><a href="{$base_url}"><img src="{$template_image}logo.jpg" width="201" height="131"></a></div>
	<table class="logotbl" cellspacing="0" cellpadding="0">
	  <tr>
		<td class="langru">на русском</td>
		<td class="langen"><a href="#">in english</a></td>
	  </tr>
	</table></td>
  </tr>
  <tr>
    <td class="sectr">
    <div id="toping"></div>
    	{include file="../templates/top_menu_block.html"}
	<!--- PICT ROTATION --->
		<img src="{$template_image}main.jpg" width="1200" height="532" hspace="0" vspace="0"><br>
	<!--- /PICT ROTATION --->
	<table class="captt" cellspacing="0" cellpadding="0">
	  <tr>
		<td class="capt1">&nbsp;</td>
		<td class="capt3"><h2>Новости и акции</h2></td>
		<td class="capt2">&nbsp;</td>
	  </tr>
	</table>
	</td>
  </tr>
  <tr>
    <td>
    {include file="../templates/top_news_block.html"}
	</td>
  </tr>
  <tr height="100%">
    <td class="txt">
	
		{if $content=='' or !$content}
			{assign var="content" value=""}
			{fetch file=$template assign="content"}
		{/if}
		{eval var=$content}
	
	</td>
  </tr>
  <tr>
    <td class="bline">
		<table class="rests" border="0" cellspacing="30" cellpadding="0" align="center">
		  <tr>
			<td>
			<img src="{$template_image}star.png" width="20" height="18" align="absmiddle"> <a href="#">Ресторан «Вега»</a><br>
			<img src="{$template_image}star.png" width="20" height="18" align="absmiddle"> <a href="#">Ресторан «Измайловский двор»</a><br>
			<img src="{$template_image}star.png" width="20" height="18" align="absmiddle"> <a href="#">Ресторан «Старый дворик»</a><br>
			</td>
			<td>
			<img src="{$template_image}star.png" width="20" height="18" align="absmiddle"> <a href="#">Банкетный зал «Московский»</a><br>
			<img src="{$template_image}star.png" width="20" height="18" align="absmiddle"> <a href="#">Кофейня «Вега»</a><br>
			</td>
			<td>
			<img src="{$template_image}star.png" width="20" height="18" align="absmiddle"> <a href="#">Бар «Старый дворик»</a><br>
			<img src="{$template_image}star.png" width="20" height="18" align="absmiddle"> <a href="#">Лобби-бар «Робин Крузо»</a><br>
			</td>
		  </tr>
		</table>
	</td>
  </tr>
  {include file="../templates/footer_block.html"}
</table>
</body>
</html>



{*
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<title>{$page_title}</title>
<meta name="Keywords" content="{$meta_keywords}">
<meta name="Description" content="{$meta_description}">
{foreach from=$css item=css}
<link rel="stylesheet" type="text/css" href="{$css}">
{/foreach}

{foreach from=$js item=js}
<script src="{$js}" type="text/javascript"></script>
{/foreach}

</head>
<body>
<table class="mtbl" cellspacing="0" cellpadding="0">
  <tr height="234">
    <td width="271"><a href="{$base_url}"><img src="{$template_image}logo.png" width="271" height="234"></a></td>
    <td colspan="2" class="rtbg"><div class="toptel" align="center">{$smarty.const.PHONE1}<br>{$smarty.const.PHONE2}</div></td>
  </tr>
  <tr height="36">
    <td colspan="3" class="gline">{$smarty.const.HEADER_TITLE}</td>
  </tr>
  <tr height="100%">
    <td class="leftside">
    {include file="../templates/left_menu_block.html"}
	<br><br>
	<center><div class="bann"><br><a href="{$base_url}/insertfiles/price_list.xls">Скачать прайс-лист<br> с нашей продукцией</a></div></center>
	<img src="{$template_image}clear.png" width="271" height="1"><br>
	</td>
    <td class="txt">
    
		{if $content=='' or !$content}
			{assign var="content" value=""}
			{fetch file=$template assign="content"}
		{/if}
		{eval var=$content}
    
    
	</td>
	
    <td class="rightside"><img src="{$template_image}clear.png" width="231" height="1"><br>
    
	<a href="{$base_url}/news/" id="news">Новости и акции</a><br><br>
	
	{foreach from=$news_list item=news name=news}
		<span class="ndate">{$news.publish_date|date_format:"%d.%m.%Y"}</span><br>
		<a href="{$base_url}/news/archive/{$news.id}/">{$news.title|strip_tags}</a><br><br>
	{/foreach}
	
	</td>
  </tr>
  {include file="../templates/footer_block.html"}
</table>
</body>
</html>
*}