body {
	margin:0px;
	padding:0px;
	background-color:#122250;
	text-align:left;
	color:#ffffff;
	font-family:Tahoma, arial, verdana;
}
td {
	vertical-align:top;
}
img {
	border:0px;
}
a {
	color:#d5d52c;
	text-decoration:underline;
}
a:hover {
	text-decoration:none;
}
h1 {
	font-family:Tahoma, arial, verdana;
	font-size:24px;
	color:#d5d52c;
	font-weight:normal;
}
h2 {
	font-family:Tahoma, arial, verdana;
	font-size:18px;
	color:#ffffff;
	font-weight:normal;
	line-height:36px;
	padding:0px 20px;
	white-space:nowrap;
}
.mtbl {
	width:1200px;
	height:100%;
	border:0px;
	background:left top url(img/top_font.jpg) no-repeat;
}
.logotbl {
	width:1200px;
	border:0px;
	position:absolute;
	z-index:5;
}
.logo {
	position:absolute;
	z-index:5;
	text-align:center;
	width:1200px;
}
.langru {
	text-align:right;
	padding-right:150px;
}
.langen {
	text-align:left;
	padding-left:150px;
}
.langru, .langen {
	width:600px;
	font-size:14px;
	color:#d5d52c;
	font-style:italic;
	padding-top:20px;
}
.langru a, .langen a {
	font-size:14px;
	color:#ffffff;
	font-style:italic;
	text-decoration:underline;
}
.langru a:hover, .langen a:hover {
	font-size:14px;
	color:#ffffff;
	font-style:italic;
	text-decoration:none;
}
.toptr {
	height:131px;
	background:right center url(img/toptels.png) no-repeat;
}
.sectr {
	height:555px;
}
.sectrin {
	height:535px;
}
#toping {
	width:1200px;
	height:30px;
	position:absolute;
	z-index:10;
	background:center top url(img/main_top.png) no-repeat;
}
.mentbl {
	width:1200px;
	height:48px;
	border:0px;
	position:absolute;
	z-index:10;
	margin-top:30px;
}
.mentbl td {
	background:top url(img/menu_f.png) repeat-x;
	line-height:45px;
	white-space:nowrap;
}
.mentbl td a {
	font-family:Tahoma, arial, verdana;
	font-size:16px;
	color:#ffffff;
	text-decoration:none;
}
.mentbl td a:hover {
	font-family:Tahoma, arial, verdana;
	font-size:16px;
	color:#ffffff;
	text-decoration:underline;
}
#tmlnk {
	padding:0px 20px;
}
#nbgf {
	background:right url(img/menu_l.png) no-repeat;
	width:50%;
}
#nbgl {
	background:left url(img/menu_r.png) no-repeat;
	width:50%;
}
.captt {
	height:40px;
	border:0px;
	z-index:5;
	position:absolute;
	margin-top:-19px;
	margin-left:20px;
}
.capttin {
	height:40px;
	border:0px;
	z-index:5;
	position:absolute;
	margin-top:-22px;
	margin-left:20px;
}
.capt1 {
	background:left top url(img/1arrow.png) no-repeat;
	width:25px;
}
.capt2 {
	background:right top url(img/2arrow.png) no-repeat;
	width:25px;
}
.capt3 {
	background:top url(img/arrow_font.png) repeat-x;
}
.news {
	width:1200px;
	border:0px;
}
.news td {
	font-size:12px;
	color:#ffffff;
	line-height:16px;
	text-align:justify;
}
.news td img {
	margin-right:10px;
}
.news td a {
	font-size:12px;
	color:#ffffff;
	text-decoration:none;
}
.news td a:hover {
	font-size:12px;
	color:#ffffff;
	text-decoration:underline;
}
#date {
	font-size:12px;
	color:#d5d52c;
	line-height:24px;
}
.txt {
	background:#32321d top url(img/text_font.jpg) repeat-x;
	border:1px solid #635015;
	padding:20px;
	font-size:12px;
	line-height:20px;
	text-align:justify;
	text-indent:30px;
}
.txtin {
	background:#32321d top url(img/text_font.jpg) repeat-x;
	border:1px solid #635015;
	width:1200px;
}
.txtin td {
	padding:40px 20px 20px 20px;
	font-size:12px;
	line-height:20px;
	text-align:justify;
}
.lmenu {
	padding-left:50px !important;
	line-height:28px;
	text-indent:0px !important;
	text-align:left !important;
}
.lmenu div a {
	color:#ffffff;
	font-size:12px;
	font-family:Tahoma, Geneva, sans-serif;
	text-shadow: 1px 1px #111111;
	text-decoration:none;
	line-height:26px;
	padding-left:20px;
}
.lmenu div a:hover {
	text-decoration:underline;
	color:#ffffff;
	font-size:12px;
	font-family:Tahoma, Geneva, sans-serif;
	text-shadow: 1px 1px #111111;
}
.lmenu a {
	color:#d5d52c;
	font-size:18px;
	font-family:"Times New Roman", Times, serif;
	text-shadow: 1px 1px #111111;
	text-decoration:underline;
	line-height:28px;
}

.lmenu span {
	color:#d5d52c;
	font-size:18px;
	font-family:"Times New Roman", Times, serif;
	text-shadow: 1px 1px #111111;
	text-decoration:none;
	line-height:28px;
}

.lmenu a:hover {
	text-decoration:none;
	color:#d5d52c;
	font-size:18px;
	font-family:"Times New Roman", Times, serif;
	text-shadow: 1px 1px #111111;
}
.restmenu {
	width:100%;
	border:0px;
}
.restmenu td {
	border-bottom:1px solid #51513f;
	padding: 12px 0px 8px 0px;
}
.ves {
	vertical-align:bottom;
	font-size:11px;
}
.gallery {
	text-align:left;
	display:inline;
	float:left;
	width:270px;
	
	white-space:nowrap;
}
.restor {
	text-align:left;
	display:inline;
	float:left;
	width:380px;
}
.gallery_small img
{
	margin-right:20px;
}
.gallery img, .restor img, .gallery_small img {
	border:4px solid white;
	margin-bottom:20px;
}
.gallery a {
	color:#ffffff;
	font-size:20px;
	font-family:"Times New Roman", Times, serif;
	text-decoration:underline;
	line-height:26px;
}
.gallery a:hover {
	text-decoration:none;
	color:#d5d52c;
	font-size:20px;
	font-family:"Times New Roman", Times, serif;
}
.restor a {
	color:#ffffff;
	font-size:24px;
	font-family:"Times New Roman", Times, serif;
	text-decoration:underline;
	line-height:26px;
}
.restor a:hover {
	text-decoration:none;
	color:#d5d52c;
	font-size:24px;
	font-family:"Times New Roman", Times, serif;
}
.bline {
	background: bottom url(img/bottom.png) no-repeat;
	height:50px;
}
.rests td {
	padding-left:50px;
	line-height:26px;
}
.rests td a {
	color:#c2c9d1;
	font-size:16px;
	text-shadow: 1px 1px #111111;
	text-decoration:none;
	font-family:"Times New Roman", Times, serif;
	line-height:26px;
}
.rests td a:hover {
	text-decoration:underline;
}
.bottom {
	height:100px;
	text-align:right;
	font-size:12px;
	line-height:18px;
	padding:10px 0px 10px 0px;
}
.bottom a {
	font-size:12px;
}