<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<title>{$page_title}</title>
<meta name="Keywords" content="{$meta_keywords}">
<meta name="Description" content="{$meta_description}">
{foreach from=$css item=css}
<link rel="stylesheet" type="text/css" href="{$css}">
{/foreach}

{foreach from=$js item=js}
<script src="{$js}" type="text/javascript"></script>
{/foreach}
</head>
<body>
<table class="mtbl" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td class="toptr"><div class="logo"><a href="{$base_url}"><img src="{$template_image}logo.jpg" width="201" height="131"></a></div>
	<table class="logotbl" cellspacing="0" cellpadding="0">
	  <tr>
		<td class="langru">на русском</td>
		<td class="langen"><a href="#">in english</a></td>
	  </tr>
	</table></td>
  </tr>
  <tr>
    <td class="sectrin"><div id="toping"></div>
		{include file="../templates/top_menu_block.html"}	
		<!--- PICT ROTATION --->
		<img src="{$template_image}main.jpg" width="1200" height="532" hspace="0" vspace="0"><br>
	<!--- /PICT ROTATION --->
	</td>
  </tr>
  <tr height="100%">
    <td>
    <table class="capttin" cellspacing="0" cellpadding="0">
	  <tr>
		<td class="capt1">&nbsp;</td>
		<td class="capt3"><h2>{$node_content.name}</h2></td>
		<td class="capt2">&nbsp;</td>
	  </tr>
	</table>
    
    <table class="txtin" cellspacing="0" cellpadding="0">
      <tr>
        {*<td class="lmenu"><img src="{$template_image}clear.png" height="1" width="250"><br>
        <a href="#">Фото галерея</a><br>
        <div><a href="#">Холодные закуски</a><br>
        <a href="#">Первые блюда</a><br>
        <a href="#">Вторые блюда</a><br>
        <a href="#">Горячие закуски</a><br>
       <a href="#"> Десерты</a></div>
        <a href="#">Видео галерея</a><br>
        </td>*}
        <td width="100%">
        
		{if $content=='' or !$content}
			{assign var="content" value=""}
			{fetch file=$template assign="content"}
		{/if}
		{eval var=$content}
        
        </td>
      </tr>
	</table>
	
	
	</td>
  </tr>
  <tr>
    <td class="bline">
		
	</td>
  </tr>
	{include file="../templates/footer_block.html"}
  
</table>
</body>
</html>
